In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
state = 'NC'
nc_excel = pd.read_excel(r"C:\Users\david\OneDrive\Documents\GitHub\SPEOC-pt-1\Data\Post1790\NC\T695_R4_NC_CD.xlsx",
                             header=10, usecols='N, AF') 
print(nc_excel)

                     Occupation     Total
0                           NaN       NaN
1                           NaN   4749.00
2                           NaN    190.00
3                      Merchant    169.00
4                           NaN     96.00
..                          ...       ...
72                     Merchant    378.48
73  The State of North Carolina  12170.21
74      Asse of John B Ashe Exe   2231.66
75                          NaN       NaN
76                          NaN       NaN

[77 rows x 2 columns]

In [28]:
def get_debt_no_job(occupations):
    no_occ = occupations[occupations['Occupation'].isna()] #query all people listed who have debt but no occupation listed
    no_occ_copy = no_occ.copy() #avoid settingcopywarning warning
    #total = no_occ_copy[['Dollars.3', 'Cents.3']].sum(axis=1) #find total with dollar and cents separate columns    
    total = no_occ_copy
    return total #convert to more usable dataframe format

def get_debt_w_job(occupations):
    occ = occupations[occupations['Occupation'].notna()] #query all people listed who have debt with an occupation listed
    occ_copy = occ.copy() #avoid settingcopywarning warning
    #total = occ_copy[['Dollars.3', 'Cents.3']].sum(axis=1) #find total with dollar and cents separate columns       
    total = occ_copy
    return total #convert to more usable dataframe format 

def AddToExcel(excel):
    no_occ = get_debt_no_job(excel)['Total'].reset_index(drop=True) #get dataframe for people with no occupation listed
    occ = get_debt_w_job(excel)['Total'].reset_index(drop=True) #get dataframe for people with an occupation listed
    
    print(no_occ)
    print(occ)
    
    NoOccExcel = pd.read_excel('NoOccupation.xlsx')
    OccExcel = pd.read_excel('Occupation.xlsx')
    
    ConcatDfNoOcc = pd.concat([NoOccExcel, no_occ], ignore_index=True, axis=1)
    ConcatDfOcc = pd.concat([OccExcel, occ], ignore_index=True, axis=1)
    
    ConcatDfNoOcc.to_excel('NoOccupation.xlsx', index=False)
    ConcatDfOcc.to_excel('Occupation.xlsx', index=False)

In [29]:
AddToExcel(nc_excel)

0         NaN
1     4749.00
2      190.00
3       96.00
4     2490.94
       ...
61     195.47
62      83.65
63      43.82
64        NaN
65        NaN
Name: Total, Length: 66, dtype: float64
0       169.00
1      4337.31
2        72.75
3       414.67
4     29207.09
5        77.73
6       359.82
7       499.98
8       378.48
9     12170.21
10     2231.66
Name: Total, dtype: float64