In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
state = 'NH'
nh_excel = pd.read_excel(r"C:\Users\david\OneDrive\Documents\GitHub\SPEOC-pt-1\Data\Post1790\NH\T652_R6_New_Hampshire_CD.xlsx",
                             header=10, usecols='M, T, U') 
print(nh_excel)

    Occupation  Dollars.3  Cents.3
0    Physician    2672.00     87.0
1        Widow    4079.00     17.0
2    Treasurer     224.00     43.0
3      Esquire    8661.00     54.0
4     Merchant    2063.00     37.0
..         ...        ...      ...
216     Trader      23.00     90.0
217     Trader      72.00     75.0
218   Merchant     550.00     87.0
219        NaN        NaN      NaN
220        NaN  462686.26      NaN

[221 rows x 3 columns]

In [22]:
nh_excel['Cents.3'] = nh_excel['Cents.3'].div(100)
print(nh_excel)

    Occupation  Dollars.3  Cents.3
0    Physician    2672.00     0.87
1        Widow    4079.00     0.17
2    Treasurer     224.00     0.43
3      Esquire    8661.00     0.54
4     Merchant    2063.00     0.37
..         ...        ...      ...
216     Trader      23.00     0.90
217     Trader      72.00     0.75
218   Merchant     550.00     0.87
219        NaN        NaN      NaN
220        NaN  462686.26      NaN

[221 rows x 3 columns]

In [23]:
def get_debt_no_job(occupations):
    no_occ = occupations[occupations['Occupation'].isna()] #query all people listed who have debt but no occupation listed
    no_occ_copy = no_occ.copy() #avoid settingcopywarning warning
    total = no_occ_copy[['Dollars.3', 'Cents.3']].sum(axis=1) #find total with dollar and cents separate columns    

    return total.to_frame(name='totals') #convert to more usable dataframe format

def get_debt_w_job(occupations):
    occ = occupations[occupations['Occupation'].notna()] #query all people listed who have debt with an occupation listed
    occ_copy = occ.copy() #avoid settingcopywarning warning
    total = occ_copy[['Dollars.3', 'Cents.3']].sum(axis=1) #find total with dollar and cents separate columns       
    
    return total.to_frame(name='totals.2') #convert to more usable dataframe format 

def AddToExcel(excel):
    no_occ = get_debt_no_job(excel)['totals'].reset_index(drop=True) #get dataframe for people with no occupation listed
    occ = get_debt_w_job(excel)['totals.2'].reset_index(drop=True) #get dataframe for people with an occupation listed
    
    print(no_occ)
    print(occ)
    
    NoOccExcel = pd.read_excel('NoOccupation.xlsx')
    OccExcel = pd.read_excel('Occupation.xlsx')
    
    ConcatDfNoOcc = pd.concat([NoOccExcel, no_occ], ignore_index=True, axis=1)
    ConcatDfOcc = pd.concat([OccExcel, occ], ignore_index=True, axis=1)
    
    ConcatDfNoOcc.to_excel('NoOccupation.xlsx', index=False)
    ConcatDfOcc.to_excel('Occupation.xlsx', index=False)

In [24]:
AddToExcel(nh_excel)

0    137786.41
1      3285.41
2       298.32
3       151.04
4       149.72
5        73.80
6         0.00
7    462686.26
Name: totals, dtype: float64
0      2672.87
1      4079.17
2       224.43
3      8661.54
4      2063.37
        ...
208     427.23
209      19.10
210      23.90
211      72.75
212     550.87
Name: totals.2, Length: 213, dtype: float64