# CLEAN STATE LIQUIDATED DEBT CERTIFICATES

In [1]:
import numpy as np
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

## Connecticut

In [35]:
#literally nothing to clean in CT

In [9]:
CT = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_CT.xlsx", header = 11)
cols = CT.columns = ["Register Page","JPEG number","Number","Letter","Date of the Certificate: Month",
                     "Date of the Certificate: Day","Date of the Certificate: Year","First name","Last name",
                     "Title","First name 2","Last name 2","Title 2","Time when the debt became due: Month",
                     "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
                     "Line Strike Thorugh: Yes?","Line Strike Thorugh: Note","Notes"]
CT.columns = cols

In [12]:
CT = CT[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(CT['First name'], CT['Last name'])]]

In [41]:
CT[CT['First name'].apply(lambda x: not pd.isnull(x) and len(x.split(" ")) > 2)]

Empty DataFrame
Columns: [Register Page, JPEG number, Number, Letter, Date of the Certificate: Month, Date of the Certificate: Day, Date of the Certificate: Year, First name, Last name, Title, First name 2, Last name 2, Title 2, Time when the debt became due: Month, Time when the debt became due: Day, Time when the debt became due: Year, Dollars, 90th, Line Strike Thorugh: Yes?, Line Strike Thorugh: Note, Notes]
Index: []

[0 rows x 21 columns]

In [33]:
CT[CT['Last name 2'].apply(lambda x: not pd.isnull(x) and len(x.split(" ")) > 1)]

Empty DataFrame
Columns: [Register Page, JPEG number, Number, Letter, Date of the Certificate: Month, Date of the Certificate: Day, Date of the Certificate: Year, First name, Last name, Title, First name 2, Last name 2, Title 2, Time when the debt became due: Month, Time when the debt became due: Day, Time when the debt became due: Year, Dollars, 90th, Line Strike Thorugh: Yes?, Line Strike Thorugh: Note, Notes]
Index: []

[0 rows x 21 columns]

In [36]:
CT.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_CT_cleaned.csv')

## Delaware

In [141]:
DE = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_DE.xlsx", header = 11)
cols = DE.columns = ["JPEG number","Number","Letter","Date of the Certificate: Month",
                     "Date of the Certificate: Day","Date of the Certificate: Year","Title","First name","Last name",
                     "Time when the debt became due: Month",
                     "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
                     "Line Strike Through","Note"]
DE.columns = cols

In [142]:
DE = DE[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(DE['First name'], DE['Last name'])]]

In [143]:
DE['First name 2'] = np.nan
DE['Last name 2'] = np.nan
DE['Cleaning notes'] = np.nan
DE['original text'] = np.nan

In [144]:
repl_index = DE[DE['First name'].apply(lambda x: not pd.isnull(x) and ' co' in x.lower())].index
DE.loc[repl_index, ['original text']] = DE.loc[repl_index, 'First name']
DE.loc[repl_index, ['Cleaning notes']] = 'co'
DE.loc[repl_index, ['First name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace('and co', '').strip())
DE.loc[repl_index, ['Last name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1])
DE.loc[repl_index, ['First name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[0])

In [145]:
repl_index = DE[DE['First name'].apply(lambda x: x == 'Trusts of Wilmington Academy')].index
DE.loc[repl_index, 'Title'] = 'organization'

In [146]:
repl_index = DE[[not pd.isnull(x) and ' and ' in x and not pd.isnull(y) for x, y in zip(DE['First name'], DE['Last name'])]].index
DE.loc[repl_index, ['original text']] = DE.loc[repl_index, 'First name'] + " " + DE.loc[repl_index, 'Last name']
DE.loc[repl_index, ['Last name 2']] = DE.loc[repl_index, 'Last name']
DE.loc[repl_index, ['First name 2']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1])
DE.loc[repl_index, ['First name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[0])

In [147]:
repl_index = DE[[not pd.isnull(x) and ' and ' in x and len(x.strip().split(" ")) <= 3 for x in DE['First name']]].index
DE.loc[repl_index, ['original text']] = DE.loc[repl_index, 'First name']
DE.loc[repl_index, ['Last name 2']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1])
DE.loc[repl_index, ['Last name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[0])
DE.loc[repl_index, ['First name']] = np.nan

In [148]:
repl_index = DE[[not pd.isnull(x) and ' and ' in x for x in DE['First name']]].index
DE.loc[repl_index, ['original text']] = DE.loc[repl_index, 'First name']
DE.loc[repl_index, ['First name 2']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" and ")[-1])
DE.loc[repl_index, ['First name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" and ")[0])
DE.loc[repl_index, ['Last name']] = DE.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1])
DE.loc[repl_index, ['First name']] = DE.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.strip().split(" ")[:-1]))
DE.loc[repl_index, ['Last name 2']] = DE.loc[repl_index, 'First name 2'].apply(lambda x: x.strip().split(" ")[-1])
DE.loc[repl_index, ['First name 2']] = DE.loc[repl_index, 'First name 2'].apply(lambda x: " ".join(x.strip().split(" ")[:-1]))

In [150]:
DE.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_DE_cleaned.csv')

## Massachusetts

In [222]:
#Read in file
MA = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_MA.xlsx", header = 11)
cols = ["JPEG number","Page", "Number","Letter","Date of the Certificate: Month",
                     "Date of the Certificate: Day","Date of the Certificate: Year","First name","Last name","Title",
                     "First name 2","Last name 2", "Title 2","Time when the debt became due: Month",
                     "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
                     "Line Strike Through","Note"]
MA = MA[MA.columns[0:20]]
MA.columns = cols

In [223]:
MA = MA[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(MA['First name'], MA['Last name'])]]

In [224]:
MA['original text'] = np.nan
MA['Cleaning notes'] = np.nan

In [225]:
repl_index = MA[MA['First name'].apply(lambda x: not pd.isnull(x) and ('& co' in x.lower() or '& son' in x.lower()))].index
MA.loc[repl_index, ['original text']] = MA.loc[repl_index, 'First name']
MA.loc[repl_index, ['Cleaning notes']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1].strip())
MA.loc[repl_index, ['First name']] = MA.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.strip().split(" ")[:-2]))
MA.loc[repl_index, ['Last name']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1])
MA.loc[repl_index, ['First name']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[0])

In [226]:
repl_index = MA[MA['First name'].apply(lambda x: not pd.isnull(x) and 'estate' in x.lower())].index
MA.loc[repl_index, ['Cleaning notes']] = ['estate']
MA.loc[repl_index, ['original text']] = MA['First name']
MA.loc[repl_index, ['First name']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace("estate", "").replace("the", "").replace("of","").strip())
MA.loc[repl_index, ['Last name']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1])
MA.loc[repl_index, ['First name']] = MA.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]))

In [227]:
MA.loc[MA[MA['First name'].apply(lambda x: x == 'capt john')].index, ['Title', 'First name']] = ['capt', 'john']

In [228]:
repl_index = MA[MA['First name'].apply(lambda x: not pd.isnull(x) and ' & ' in x.lower())].index
MA.loc[repl_index, ['original text']] = MA.loc[repl_index, 'First name']
MA.loc[repl_index, ['Last name 2']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1])
MA.loc[repl_index, ['Last name']] = MA.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[0])
MA.loc[repl_index, ['First name']] = np.nan

In [230]:
repl_index = MA[MA['First name'].apply(lambda x: x == 'Daniel and John')].index
MA.loc[repl_index, ['First name', 'First name 2', 'Last name 2', 'original text']] = ['Daniel', 'John', 'Brewer', 'Daniel and John Brewer']
repl_index = MA[MA['First name'].apply(lambda x: x == 'Hermon and Brimmer')].index
MA.loc[repl_index, ['First name', 'Last name', 'Last name 2', 'original text']] = [np.nan, 'Hermon', 'Brimmer', 'Hermon and Brimmer']

In [231]:
repl_index = MA[MA['Last name'].apply(lambda x: not pd.isnull(x) and '&' in x.lower())].index
MA.loc[repl_index, ['original text', 'Last name', 'Cleaning notes']] = ['Benjamin Edes & son', 'Edes', 'son']

In [233]:
MA.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_MA_cleaned.csv')

## New Hampshire

In [234]:
#Read in file
NH = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_NH.xlsx", header = 11)
cols = ["Page","JPEG number","Number","Letter","Date of the Certificate: Month",
                         "Date of the Certificate: Day","Date of the Certificate: Year","First name","Last name",
                         "Title","Time when the debt became due: Month","Time when the debt became due: Day",
                         "Time when the debt became due: Year","Dollars","90th",
                         "Line Strike Thorugh: Yes?","Line Strike Thorugh: Note","Notes"]
NH.columns = cols

NH = NH[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(NH['First name'], NH['Last name'])]]

NH['original text'] = np.nan
NH['Cleaning notes'] = np.nan

In [247]:
#new hampshire is ridiculously clean :P

In [248]:
NH.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_NH_cleaned.csv')

## New Jersey

In [270]:
#Read in file
NJ = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_NJ.xlsx", header = 10)
cols = ["JPEG number","Number","Letter","Date of the Certificate: Month",
        "Date of the Certificate: Day","Date of the Certificate: Year","Title","First name","Last name",
        "Title 2","First name 2","Last name 2","Time when the debt became due: Month",
        "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
        "Strike Through Number","Note"]
NJ = NJ[NJ.columns[0:19]]
NJ.columns = cols
NJ = NJ[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(NJ['First name'], NJ['Last name'])]]

NJ['original text'] = np.nan
NJ['Cleaning notes'] = np.nan

In [271]:
repl_index = NJ[NJ['First name'].apply(lambda x: not pd.isnull(x) and x == 'Furman & Hunt')].index
NJ.loc[repl_index, ['First name', 'Last name', 'Last name 2', 'original text']] = [np.nan, 'Furman', 'Hunt', 'Furman & Hunt']

In [277]:
NJ.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_NJ_cleaned.csv')

## New York

In [314]:
#Read in file
NY = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_NY.xlsx", header = 11)
cols = ["Page", "JPEG number","Number","Letter","Date of the Certificate: Month",
        "Date of the Certificate: Day","Date of the Certificate: Year","First name","Last name",
        "Title","First name 2","Last name 2","Title 2","Time when the debt became due: Month",
        "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
        "Strike Through Yes?","Note", "Notes"]
NY = NY[NY.columns[0:21]]
NY.columns = cols

NY = NY[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(NY['First name'], NY['Last name'])]]

NY['First name 3'] = np.nan
NY['Last name 3'] = np.nan
NY['original text'] = np.nan
NY['Cleaning notes'] = np.nan

In [315]:
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and (' co' in x.lower() or 'others' in x.lower()))].index
NY.loc[repl_index, ['original text']] = NY.loc[repl_index, 'First name']
NY.loc[repl_index, ['Cleaning notes']] = NY.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[-1].strip())
NY.loc[repl_index, ['First name']] =  NY.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[0].strip())
NY.loc[repl_index, ['Last name']] =  NY.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1].strip())
NY.loc[repl_index, ['First name']] =  NY.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.strip().split(" ")[:-1]).strip())

In [316]:
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and x == 'Trustees Of & Davids Church')].index
NY.loc[repl_index, ['First name', 'original text']] = ['Trustees of Davids Church','Trustees Of & Davids Church']

In [328]:
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and x == 'Messes Smith & Van Buren')].index
NY.loc[repl_index, ['First name', 'Last name', 'Last name 2', 'Last name 3', 'original text']] = [np.nan, 'Messes', 'Smith', 'Van Buren',
                                                                                                  'Messes Smith & Van Buren']
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and x == 'Messes Bogart & Van Beuren')].index
NY.loc[repl_index, ['First name', 'Last name', 'Last name 2', 'Last name 3', 'original text']] = [np.nan, 'Messes', 'Bogart', 'Van Beuren',
                                                                                                  'Messes Bogart & Van Beuren']
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and x == 'Messes Williamson & Beckman')].index
NY.loc[repl_index, ['First name', 'Last name', 'Last name 2', 'Last name 3', 'original text']] = [np.nan, 'Messes', 'Williamson', 'Beckman',
                                                                                                  'Messes Williamson & Beckman']
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and x == 'Melgret & George Ox')].index
NY.loc[repl_index, ['First name', 'Last name', 'First name 2', 'Last name 2', 'original text']] = ['Melgret', 'Ox', 'George', 'Ox',
                                                                                                  'Melgret & George Ox']

In [326]:
repl_index = NY[NY['First name'].apply(lambda x: not pd.isnull(x) and ' & ' in x.lower())].index
NY.loc[repl_index, ['original text']] = NY.loc[repl_index, 'First name']
NY.loc[repl_index, ['Last name 2']] = NY.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[-1])
NY.loc[repl_index, ['Last name']] = NY.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[0])
NY.loc[repl_index, ['First name']] = np.nan

In [327]:
NY.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_NY_cleaned.csv')

## Pennsylvania P1

In [375]:
#Read in file
PA = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_PA_story.xlsx", header = 11)
cols = ["JPEG number","Number","Letter","Date of the Certificate: Year",
        "Date of the Certificate: Month","Date of the Certificate: Date","Title","First name","Last name","Time when the debt became due: Year",
        "Time when the debt became due: Month","Time when the debt became due: Day",
        "Dollars","90th","10th", "Exchange","Amount in Specie_1", "Amount in Specie_2","Line Strike Thorugh?","Notes"]
PA = PA[PA.columns[1:21]]
PA.columns = cols
PA['original text'] = np.nan
PA['Cleaning notes'] = np.nan

PA = PA[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(PA['First name'], PA['Last name'])]]

In [376]:
PA = PA[PA['Last name'].apply(lambda x: not pd.isnull(x))]

In [377]:
PA.to_csv('Data/Pre1790/cleaned/liquidated_debt_certificates_PA_story_cleaned.csv')

## Pennsylvania P2

In [600]:
#Read in file
PA2 = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_PA_stelle.xlsx", header = 11)
cols = ["JPEG number","Number","Letter","Date of the Certificate: Year",
        "Date of the Certificate: Month","Date of the Certificate: Date","Title","First name","Last name","Title 2","First name 2","Last name 2",
        "Time when the debt became due: Year", "Time when the debt became due: Month","Time when the debt became due: Day",
        "Dollars","90th","Line Strike Thorugh?","Notes"]
PA2 = PA2[PA2.columns[1:21]]
PA2.columns = cols

PA2['original text'] = np.nan
PA2['Cleaning notes'] = np.nan

PA2 = PA2[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(PA2['First name'], PA2['Last name'])]]

In [601]:
repl_index = PA2[PA2['First name'] == 'John Maxwell Nesbitt & Coy'].index
PA2.loc[repl_index, 'First name'] = 'John Maxwell Nesbitt & Co'
repl_index = PA2[PA2['First name'] == 'Joseph Ball & Coy'].index
PA2.loc[repl_index, 'First name'] = 'Joseph Ball & Co'

In [602]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and ('& co' in x.lower() or '& son' in x.lower()))].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Cleaning notes']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[-1].strip())
PA2.loc[repl_index, ['First name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[0].strip())
PA2.loc[repl_index, ['Last name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1].strip())
PA2.loc[repl_index, ['First name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.strip().split(" ")[:-1]).strip())

In [603]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and '&' in x.lower())].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Last name 2']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[-1])
PA2.loc[repl_index, ['Last name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("&")[0])
PA2.loc[repl_index, ['First name']] = np.nan

In [604]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and ' and co' in x.lower())].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Cleaning notes']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("and")[-1].strip())
PA2.loc[repl_index, ['First name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split("and")[0].strip())
PA2.loc[repl_index, ['Last name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: x.strip().split(" ")[-1].strip())
PA2.loc[repl_index, ['First name']] =  PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.strip().split(" ")[:-1]).strip())

In [605]:
repl_index = PA2[[not pd.isnull(x) and ' and ' in x.lower() and not pd.isnull(y) for x,y in zip(PA2['First name'], PA2['Last name'])]].index
PA2.loc[repl_index, 'original text'] = PA2.loc[repl_index, 'First name'] + " " + PA2.loc[repl_index, 'Last name']
PA2.loc[repl_index, ['First name 2']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" and ")[-1].strip())
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" and ")[:-1]).strip())
PA2.loc[repl_index, ['Last name 2']] = PA2.loc[repl_index, 'Last name']

In [606]:
repl_index = PA2[[not pd.isnull(x) and 'and ' in x.lower()  and len(x.split(" ")) <= 3 for x in PA2['First name']]].index
PA2.loc[repl_index, 'original text'] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, 'Last name 2'] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" and ")[-1])
PA2.loc[repl_index, 'Last name'] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" and ")[0])
PA2.loc[repl_index, 'First name'] = np.nan

In [607]:
repl_index = PA2[[not pd.isnull(x) and 'and ' in x.lower() for x in PA2['First name']]].index
PA2.loc[repl_index, 'original text'] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, 'First name 2'] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" and ")[-1])
PA2.loc[repl_index, 'Last name 2'] = PA2.loc[repl_index, 'First name 2'].apply(lambda x: x.split(" ")[-1])
PA2.loc[repl_index, 'First name 2'] = PA2.loc[repl_index, 'First name 2'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())
PA2.loc[repl_index, 'First name'] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" and ")[0])
PA2.loc[repl_index, 'Last name'] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1])
PA2.loc[repl_index, 'First name'] = PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())

In [608]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and 'estate' in x.lower())].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Cleaning notes']] = 'estate'
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace('estate', '').replace('of', '').strip())
PA2.loc[repl_index, ['Last name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1].strip())
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())

In [609]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and 'heir' in x.lower())].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Cleaning notes']] = 'heirs'
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace('heirs', '').replace('of', '').strip())
PA2.loc[repl_index, ['Last name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1].strip())
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())

In [610]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and 'esatate' in x.lower())].index
PA2.loc[repl_index, ['original text']] = PA2.loc[repl_index, 'First name']
PA2.loc[repl_index, ['Cleaning notes']] = 'estate'
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace('esatate', '').replace('of', '').strip())
PA2.loc[repl_index, ['Last name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1].strip())
PA2.loc[repl_index, ['First name']] = PA2.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())

In [611]:
repl_index = PA2[PA2['First name'].apply(lambda x: not pd.isnull(x) and x.lower() == 'John Finney McClenaghan')].index
PA2.loc[repl_index, ['original text', 'First name', 'Last name']] = ['John Finney McClenaghan', 'John Finney', 'McCLenaghan']

In [613]:
PA2.to_csv("Data/Pre1790/cleaned/liquidated_debt_certificates_PA_stelle_cleaned.csv")

## Rhode Island

In [651]:
RI = pd.read_excel("Data/Pre1790/liquidated_debt_certificates_RI.xlsx", header = 12)
cols =  ["Page", "JPEG number","Number","Letter","Date of the Certificate: Month",
        "Date of the Certificate: Day","Date of the Certificate: Year","First name","Last name",
        "Title","First name 2","Last name 2","Title 2","Time when the debt became due: Month",
        "Time when the debt became due: Day", "Time when the debt became due: Year","Dollars","90th",
        "8th"]
RI = RI[RI.columns[0:19]]
RI.columns = cols


RI['original text'] = np.nan
RI['Cleaning notes'] = np.nan

RI = RI[[not pd.isnull(x) or not pd.isnull(y) for x, y in zip(RI['First name'], RI['Last name'])]]

In [652]:
repl_index = RI[RI['First name'].apply(lambda x: ' &' in x)].index
RI.loc[repl_index, ['First name']] = RI.loc[repl_index, 'First name'].apply(lambda x: x.replace("&","").strip())

In [653]:
repl_index = RI[RI['First name'].apply(lambda x: 'dec' in x.lower())].index
RI.loc[repl_index, ['original text']] = RI.loc[repl_index, 'First name']
RI.loc[repl_index, ['Cleaning notes']] = 'estate, deceased'
RI.loc[repl_index, ['First name']] = RI.loc[repl_index, 'First name'].apply(lambda x: x.lower().replace("estate of", "").replace("deceasd", "").replace("dec", "").replace("'","").strip())
RI.loc[repl_index, ['Last name']] = RI.loc[repl_index, 'First name'].apply(lambda x: x.split(" ")[-1].strip())
RI.loc[repl_index, ['First name']] = RI.loc[repl_index, 'First name'].apply(lambda x: " ".join(x.split(" ")[:-1]).strip())

In [654]:
repl_index = RI[RI['First name'].apply(lambda x: x == 'Estate of Allen Brown')].index
RI.loc[repl_index, ['First name', 'Last name', 'original text', 'Cleaning notes']] = ['Allen', 'Brown', 'Estate of Allen Brown', 'estate']
repl_index = RI[RI['First name'].apply(lambda x: x == 'Estate of Col.Chris .Greene')].index
RI.loc[repl_index, ['First name', 'Last name', 'Title', 'original text', 'Cleaning notes']] = ['Chris', 'Greene', 'Col', 'Estate of Col.Chris .Greene', 'estate']

In [659]:
RI.to_csv("Data/Pre1790/cleaned/liquidated_debt_certificates_RI_cleaned.csv")