In [1571]:
#Import libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import rapidfuzz
import difflib
from nltk.corpus import stopwords
from yake import KeywordExtractor

In [1572]:
Stops = stopwords.words('english') #Returns all stopwords in the English language. 
print(Stops)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Conneticut

In [1573]:
State = 'CT'
AllOccs = pd.read_csv('../../../Data/Post1790/aggregated_CD_noname.csv') #Returns aggregated CSV file. 
AllOccs.drop(columns=['Unnamed: 0'], inplace=True) #Drop duplicate index column which appears.
AllOccsCT = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsCT = AllOccsCT.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsCT)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       1064.0      75.0          532.0          37.0      508.0      51.0
1        449.0      96.0          224.0          97.0      232.0      10.0
2        196.0      75.0           98.0          37.0      172.0      24.0
3         53.0      58.0           26.0          79.0       67.0       6.0
4        121.0      22.0           60.0          61.0       32.0      72.0
..         ...       ...            ...           ...        ...       ...
478       39.0      11.0           19.0          55.0       14.0       7.0
479       13.0      21.0            6.0          61.0        4.0      74.0
480      533.0      34.0          266.0          66.0      446.0      66.0
481      658.0      47.0          329.0          23.0      558.0      50.0
482       12.0      22.0            6.0          11.0       11.0       NaN

           town state occupation             county name_type  6p_total
0      Hartford    CT   Merchant    Hartford County      town   1064.75
1        Bolton    CT     Farmer     Tolland County      town    449.96
2      Hartford    CT   Merchant    Hartford County      town    196.75
3      Hartford    CT   Merchant    Hartford County      town     53.58
4          Lyme    CT     Farmer  New London County      town    121.22
..          ...   ...        ...                ...       ...       ...
478  Middletown    CT     Yeoman   Middlesex County      town     39.11
479  Middletown    CT     Yeoman   Middlesex County      town     13.21
480     Norwich    CT   Merchant  New London County      town    533.34
481     Norwich    CT   Merchant  New London County      town    658.47
482     Ashford    CT     Yeoman     Windham County      town     12.22

[483 rows x 12 columns]

In [1574]:
OccsTotalsCT = AllOccsCT.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsCT.to_string())

                                                           occupation  6p_total
0                                   Adminastrator of the Asa Waterman    218.47
1                                      Adminastrator to David Fellows      0.00
2   Adminastrator to the Estate of Epaphras Bull of Hartford Deceased     61.30
3                        Adminastrator to the Estate of Samuel Tilley     94.67
4            Adminastrator to the estate of Uriah Loomis Jun Deceased     73.50
5                                          Administrator to J McCurdy   3413.72
6                         Administrator to the estate of Daniel Unkus     54.05
7                Adminstrator to the Estate of Ezekiel Carey Deceased     77.61
8                  Adminstrator to the Estate of Ruth Skiffe Deceased     87.74
9                                                          Apothecary      7.72
10                                                           Attorney   4863.67
11                                                    Attorney at Law   6250.93
12                                                         Blacksmith    724.71
13                                                             Broker    208.55
14                                                          Carpenter    175.34
15                                           Cashier of Hartford Bank     85.30
16                                                           Clothier     53.33
17                           Committee of the 1st Ecclestical Society    306.28
18                         Committee of the 1st Society of Plainville    220.49
19                                                             Cooper    124.76
20                                                             Doctor    647.09
21                                                            Esquire  13020.09
22                           Executor to Ezra Selden of Lyme Deceased   1963.62
23                               Executor to Stephen Johnson Deceased      6.02
24                                 Executor to Stephen Keyes Deceased    266.67
25                               Executor to William Nichols Deceased      4.70
26                      Executor to the Estate of Tim Mather Deceased   1573.33
27                 Executor to the Estate of Uriah Loomis is Deceased    614.19
28                   Executors to the Estate of Jabez Hamlin Deceased    129.72
29                                                             Farmer  36715.82
30                                                          Gentleman  16624.32
31                                                          Goldsmith      6.82
32                                            Guardian to Betsey Coit   1020.45
33                                                 Guardian to J Neff     58.11
34                                           Guardian to Sally Morgan    167.06
35                                                             Hatter    242.99
36                                                         Inn Keeper    201.53
37                                                             Joiner     53.33
38                                                    Leather Dresser    666.67
39                                                            Mariner   3831.05
40                                                           Merchant  63745.92
41                                                          Merchents     19.08
42                                                             Miller     18.99
43                                                            Molster    211.38
44                                                          Physician   1303.46
45                                                         Post Rider    676.91
46                                                            Printer    204.78
47                                                        Proprietors    276.90
48                                                             Sadler   3524.74
49                                                   School Committee    305.49
50                                       School Committee 1st Society    426.04
51                                      School Committee North Parish    108.79
52                                     School Committee North Society    231.33
53                                                      School Master   2213.75
54                                                   Sherriffs Deputy    512.45
55                                                         Shipwright    533.33
56                                                          Shoemaker   1345.46
57                                                  Society Committee    336.64
58                                                  Society Treasurer    303.27
59                                                            Soldier     78.48
60                                                           Spinster   1731.58
61                                                             Tanner    713.06
62                                                             Taylor    209.81
63                                                             Trader   9192.98
64                                                            Traders    261.15
65                                                          Treasurer   4523.35
66                                  Treasurer 1st Society in Cornwall    175.27
67                                          Treasurer Stepney Society    164.31
68                                           Treasurer in 1st Society    282.37
69                                       Treasurer of Preston Society   1447.26
70                                          Treasurer of Yale College   2697.98
71              Treasurer to the Society of Cincinnati in Connecticut   5793.34
72                                                              Widow   6488.11
73                                         Wife of Eliphalet Williams     63.64
74                                                             Yeoman     64.54

In [1575]:
#Function that returns the same dataframe, but with all stopwords removed from the occupation titles. 
def RemoveStopwords(OccsTotals):
    OccsTotals['occupation'] = OccsTotals['occupation'].apply(lambda OccName: ' '.join(word.lower() for word in OccName.split() if word not in Stops))
    return OccsTotals

In [1576]:
OccsTotalsCT = RemoveStopwords(OccsTotalsCT) #Call 
print(OccsTotalsCT.to_string())

                                              occupation  6p_total
0                             adminastrator asa waterman    218.47
1                            adminastrator david fellows      0.00
2   adminastrator estate epaphras bull hartford deceased     61.30
3                     adminastrator estate samuel tilley     94.67
4         adminastrator estate uriah loomis jun deceased     73.50
5                                administrator j mccurdy   3413.72
6                      administrator estate daniel unkus     54.05
7             adminstrator estate ezekiel carey deceased     77.61
8               adminstrator estate ruth skiffe deceased     87.74
9                                             apothecary      7.72
10                                              attorney   4863.67
11                                          attorney law   6250.93
12                                            blacksmith    724.71
13                                                broker    208.55
14                                             carpenter    175.34
15                                 cashier hartford bank     85.30
16                                              clothier     53.33
17                     committee 1st ecclestical society    306.28
18                      committee 1st society plainville    220.49
19                                                cooper    124.76
20                                                doctor    647.09
21                                               esquire  13020.09
22                    executor ezra selden lyme deceased   1963.62
23                     executor stephen johnson deceased      6.02
24                       executor stephen keyes deceased    266.67
25                     executor william nichols deceased      4.70
26                   executor estate tim mather deceased   1573.33
27                 executor estate uriah loomis deceased    614.19
28                executors estate jabez hamlin deceased    129.72
29                                                farmer  36715.82
30                                             gentleman  16624.32
31                                             goldsmith      6.82
32                                  guardian betsey coit   1020.45
33                                       guardian j neff     58.11
34                                 guardian sally morgan    167.06
35                                                hatter    242.99
36                                            inn keeper    201.53
37                                                joiner     53.33
38                                       leather dresser    666.67
39                                               mariner   3831.05
40                                              merchant  63745.92
41                                             merchents     19.08
42                                                miller     18.99
43                                               molster    211.38
44                                             physician   1303.46
45                                            post rider    676.91
46                                               printer    204.78
47                                           proprietors    276.90
48                                                sadler   3524.74
49                                      school committee    305.49
50                          school committee 1st society    426.04
51                         school committee north parish    108.79
52                        school committee north society    231.33
53                                         school master   2213.75
54                                      sherriffs deputy    512.45
55                                            shipwright    533.33
56                                             shoemaker   1345.46
57                                     society committee    336.64
58                                     society treasurer    303.27
59                                               soldier     78.48
60                                              spinster   1731.58
61                                                tanner    713.06
62                                                taylor    209.81
63                                                trader   9192.98
64                                               traders    261.15
65                                             treasurer   4523.35
66                        treasurer 1st society cornwall    175.27
67                             treasurer stepney society    164.31
68                                 treasurer 1st society    282.37
69                             treasurer preston society   1447.26
70                                treasurer yale college   2697.98
71              treasurer society cincinnati connecticut   5793.34
72                                                 widow   6488.11
73                               wife eliphalet williams     63.64
74                                                yeoman     64.54

In [1577]:
#This function will help determine how many words we can acceptably cut off from the end. 
def FindRemoveConst(Occupations):
    TempMaxLength = 2
    
    print('Occupation Before --> Occupation After')
    print('--------------------------------------')
    print('\n')
    
    for Occupation in Occupations:
        if (len(Occupation.split()) > TempMaxLength): #If occupation has more than two words, remove last two words.
            OccupationAfter = Occupation.rsplit(' ', Remove)[0] 
        else:
            OccupationAfter = Occupation #Else, set them both equal to each other; nothing changes. 
        
        print(Occupation + ' --> ' + OccupationAfter)

In [1578]:
FindRemoveConst(OccsTotalsCT['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


adminastrator asa waterman --> adminastrator asa
adminastrator david fellows --> adminastrator david
adminastrator estate epaphras bull hartford deceased --> adminastrator estate epaphras bull hartford
adminastrator estate samuel tilley --> adminastrator estate samuel
adminastrator estate uriah loomis jun deceased --> adminastrator estate uriah loomis jun
administrator j mccurdy --> administrator j
administrator estate daniel unkus --> administrator estate daniel
adminstrator estate ezekiel carey deceased --> adminstrator estate ezekiel carey
adminstrator estate ruth skiffe deceased --> adminstrator estate ruth skiffe
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney law
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier hartford bank --> cashier hartford
clothier --> clothier
committee 1st ecclestical society --> committee 1st ecclestical
committee 1st society plainville --> committee 1st society
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden lyme deceased --> executor ezra selden lyme
executor stephen johnson deceased --> executor stephen johnson
executor stephen keyes deceased --> executor stephen keyes
executor william nichols deceased --> executor william nichols
executor estate tim mather deceased --> executor estate tim mather
executor estate uriah loomis deceased --> executor estate uriah loomis
executors estate jabez hamlin deceased --> executors estate jabez hamlin
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian betsey coit --> guardian betsey
guardian j neff --> guardian j
guardian sally morgan --> guardian sally
hatter --> hatter
inn keeper --> inn keeper
joiner --> joiner
leather dresser --> leather dresser
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
physician --> physician
post rider --> post rider
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school committee
school committee 1st society --> school committee 1st
school committee north parish --> school committee north
school committee north society --> school committee north
school master --> school master
sherriffs deputy --> sherriffs deputy
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society committee
society treasurer --> society treasurer
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st society cornwall --> treasurer 1st society
treasurer stepney society --> treasurer stepney
treasurer 1st society --> treasurer 1st
treasurer preston society --> treasurer preston
treasurer yale college --> treasurer yale
treasurer society cincinnati connecticut --> treasurer society cincinnati
widow --> widow
wife eliphalet williams --> wife eliphalet
yeoman --> yeoman

In [1579]:
#Declare necessary parameters for KeywordExtractor() function.
MaxLength = 2
Remove = 2
language = 'en' #Set language to English.
MaxSize = 1  #Each keyword can only be a max. length of 1.
DupThres = 0.5 #Words can not be used repeatedly in keywords. Treat each word separately. 
KeyExtractor = KeywordExtractor(lan=language, n=MaxSize, dedupLim=DupThres, features=None) #Create KeywordExtractor object.

In [1580]:
#Print what the merged occupations will look like. This will help us find any exceptions. 
def PrintFutureOccupations(Occupations):    
    print('Occupations --> Potential Cleaned Occupations')
    print('---------------------------------------------')
    print('\n')
        
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
                    
        print(Occupation + ' --> ' + str(Keywords[0][0])) #Print current occupation title to hypothetical cleaned occupation title.

In [1581]:
PrintFutureOccupations(OccsTotalsCT['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


adminastrator --> adminastrator
adminastrator --> adminastrator
adminastrator estate epaphras bull --> adminastrator
adminastrator estate --> adminastrator
adminastrator estate uriah loomis --> adminastrator
administrator --> administrator
administrator estate --> administrator
adminstrator estate ezekiel --> adminstrator
adminstrator estate ruth --> adminstrator
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier --> cashier
clothier --> clothier
committee 1st --> committee
committee 1st --> committee
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden --> executor
executor stephen --> executor
executor stephen --> executor
executor william --> executor
executor estate tim --> executor
executor estate uriah --> executor
executors estate jabez --> executors
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
joiner --> joiner
leather dresser --> leather
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
physician --> physician
post rider --> post
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school
school committee --> school
school committee --> school
school committee --> school
school master --> school
sherriffs deputy --> sherriffs
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society
society treasurer --> society
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer society --> treasurer
widow --> widow
wife --> wife
yeoman --> yeoman

In [1582]:
ExceptionsCT = {'inn keeper' : 'inn keeper', 'leather dresser' : 'leather dresser', 'post rider' : 'post rider', 
                'school committee' : 'school committee', 'school master' : 'school master', 'society committee' : 'committee',
               'society treasurer' : 'treasurer'}

In [1583]:
#Handle duplicate occupations that are spelled differently. Pass in 'occupation' column as a list. Pass in function which will do a manual check for each state (differs w/ each state). 
def MergeOccupations(OccsTotals, Exceptions):
    Occupations = OccsTotals['occupation'].tolist() #Returns 'occupation' column as a list.    
    Index = 0 #Keep track of index. 
    
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
        
        NewOccupation = Keywords[0][0] #Get new occupation from list of keywords. Based on which keyword has the highest rating.
                
        if (Occupation in Exceptions): #If occupation is an exception, set new occupation. 
            NewOccupation = Exceptions[Occupation]
    
        OccsTotals.loc[Index, 'occupation'] = NewOccupation #Replace occupation with new occupation in dataframe.
        
        Index += 1 #Increment. 
    
    print('After Cleaning')
    print('--------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    
    OccsTotals = OccsTotals.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations, reset index. 
    
    print('After Removing Duplicates and Summing')
    print('-------------------------------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    
    Occupations = OccsTotals['occupation'].tolist() #Reinstantiate Occupations after changing OccsTotals
    i = 0 #Declare new index.
    while (i < len(Occupations)): 
        j = 0 #Declare new index.
        while (j < len(Occupations)):                
            if (rapidfuzz.fuzz.ratio(Occupations[i], Occupations[j]) > 80) and (Occupations[i] != Occupations[j]) and ((Occupations[j] not in NoMerge) and (Occupations[i] not in NoMerge))  : #Use fuzzy string matching to determine whether two occupations are the same or not.               
                Total = float(OccsTotals.loc[j, '6p_total']) #Get total from duplicate occupation.
                OccsTotals.loc[i, '6p_total'] += Total #Merge totals together.
                OccsTotals.drop(j, inplace=True) #Remove duplicate occupation.
                OccsTotals = OccsTotals.reset_index(drop=True) #Reset index.
                
                print('Removed: ' + Occupations[j] + ' --> ' + Occupations[i])
                
                Occupations.remove(Occupations[j]) #Remove from list of occupations so loop will not iterate over it again.
            else:
                j += 1
                
        i += 1
    
    print('\n')
    print('After Using Fuzzy String Matching')
    print('---------------------------------')
    print('\n')
    print(OccsTotals.to_string())
    print('\n')
    
    return OccsTotals

In [1584]:
OccsTotalsCT = MergeOccupations(OccsTotalsCT, ExceptionsCT)

After Cleaning
--------------


          occupation  6p_total
0      adminastrator    218.47
1      adminastrator      0.00
2      adminastrator     61.30
3      adminastrator     94.67
4      adminastrator     73.50
5      administrator   3413.72
6      administrator     54.05
7       adminstrator     77.61
8       adminstrator     87.74
9         apothecary      7.72
10          attorney   4863.67
11          attorney   6250.93
12        blacksmith    724.71
13            broker    208.55
14         carpenter    175.34
15           cashier     85.30
16          clothier     53.33
17         committee    306.28
18         committee    220.49
19            cooper    124.76
20            doctor    647.09
21           esquire  13020.09
22          executor   1963.62
23          executor      6.02
24          executor    266.67
25          executor      4.70
26          executor   1573.33
27          executor    614.19
28         executors    129.72
29            farmer  36715.82
30         gentleman  16624.32
31         goldsmith      6.82
32          guardian   1020.45
33          guardian     58.11
34          guardian    167.06
35            hatter    242.99
36        inn keeper    201.53
37            joiner     53.33
38   leather dresser    666.67
39           mariner   3831.05
40          merchant  63745.92
41         merchents     19.08
42            miller     18.99
43           molster    211.38
44         physician   1303.46
45        post rider    676.91
46           printer    204.78
47       proprietors    276.90
48            sadler   3524.74
49  school committee    305.49
50  school committee    426.04
51  school committee    108.79
52  school committee    231.33
53     school master   2213.75
54         sherriffs    512.45
55        shipwright    533.33
56         shoemaker   1345.46
57         committee    336.64
58         treasurer    303.27
59           soldier     78.48
60          spinster   1731.58
61            tanner    713.06
62            taylor    209.81
63            trader   9192.98
64           traders    261.15
65         treasurer   4523.35
66         treasurer    175.27
67         treasurer    164.31
68         treasurer    282.37
69         treasurer   1447.26
70         treasurer   2697.98
71         treasurer   5793.34
72             widow   6488.11
73              wife     63.64
74            yeoman     64.54


After Removing Duplicates and Summing
-------------------------------------


          occupation  6p_total
0      adminastrator    447.94
1      administrator   3467.77
2       adminstrator    165.35
3         apothecary      7.72
4           attorney  11114.60
5         blacksmith    724.71
6             broker    208.55
7          carpenter    175.34
8            cashier     85.30
9           clothier     53.33
10         committee    863.41
11            cooper    124.76
12            doctor    647.09
13           esquire  13020.09
14          executor   4428.53
15         executors    129.72
16            farmer  36715.82
17         gentleman  16624.32
18         goldsmith      6.82
19          guardian   1245.62
20            hatter    242.99
21        inn keeper    201.53
22            joiner     53.33
23   leather dresser    666.67
24           mariner   3831.05
25          merchant  63745.92
26         merchents     19.08
27            miller     18.99
28           molster    211.38
29         physician   1303.46
30        post rider    676.91
31           printer    204.78
32       proprietors    276.90
33            sadler   3524.74
34  school committee   1071.65
35     school master   2213.75
36         sherriffs    512.45
37        shipwright    533.33
38         shoemaker   1345.46
39           soldier     78.48
40          spinster   1731.58
41            tanner    713.06
42            taylor    209.81
43            trader   9192.98
44           traders    261.15
45         treasurer  15387.15
46             widow   6488.11
47              wife     63.64
48            yeoman     64.54


Removed: administrator --> adminastrator
Removed: adminstrator --> adminastrator
Removed: executors --> executor
Removed: merchents --> merchant
Removed: traders --> trader


After Using Fuzzy String Matching
---------------------------------


          occupation  6p_total
0      adminastrator   4081.06
1         apothecary      7.72
2           attorney  11114.60
3         blacksmith    724.71
4             broker    208.55
5          carpenter    175.34
6            cashier     85.30
7           clothier     53.33
8          committee    863.41
9             cooper    124.76
10            doctor    647.09
11           esquire  13020.09
12          executor   4558.25
13            farmer  36715.82
14         gentleman  16624.32
15         goldsmith      6.82
16          guardian   1245.62
17            hatter    242.99
18        inn keeper    201.53
19            joiner     53.33
20   leather dresser    666.67
21           mariner   3831.05
22          merchant  63765.00
23            miller     18.99
24           molster    211.38
25         physician   1303.46
26        post rider    676.91
27           printer    204.78
28       proprietors    276.90
29            sadler   3524.74
30  school committee   1071.65
31     school master   2213.75
32         sherriffs    512.45
33        shipwright    533.33
34         shoemaker   1345.46
35           soldier     78.48
36          spinster   1731.58
37            tanner    713.06
38            taylor    209.81
39            trader   9454.13
40         treasurer  15387.15
41             widow   6488.11
42              wife     63.64
43            yeoman     64.54

In [1585]:
def TurnToExcel(DF, State):
    DF.to_excel('./FinishedSpreadsheets/Occupations' + State + '.xlsx')

In [1586]:
TurnToExcel(OccsTotalsCT, State)

# Georgia

In [1587]:
State = 'GA'
AllOccsGA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsGA = AllOccsGA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsGA)

   6p_Dollar    6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0     4586.0     66.0000         2293.0       33.0000     3026.0     11.00
1        1.0     95.1133            1.0       47.5567        NaN      0.00
2        1.0     90.3000            1.0       45.1000        1.0     93.50
3        1.0    129.6533            1.0       64.8233        1.0    144.96
4        1.0    209.8633            1.0      104.9333        1.0    241.38
5        1.0  10108.9033            1.0     5054.4533        1.0   2729.40
6        1.0    114.7330            1.0       57.3330        1.0    124.45
7       20.0     26.1200           16.0       13.0600        NaN       NaN
8       37.0     18.2000           18.0        9.0900        NaN      0.00
9    10508.0     90.0000            NaN           NaN        NaN       NaN

               town state occupation           county name_type      6p_total
0  State of Georgia    GA  Gentleman              NaN     state   4586.660000
1          Savannah    GA   Merchant   Chatham County      town      1.951133
2          Savannah    GA   Merchant   Chatham County      town      1.903000
3          Savannah    GA  Merchants   Chatham County      town      2.296533
4          Savannah    GA   Merchant   Chatham County      town      3.098633
5           Augusta    GA        Esq  Richmond County      town    102.089033
6          Savannah    GA   Merchant   Chatham County      town      2.147330
7          Savannah    GA   Merchant   Chatham County      town     20.261200
8           Augusta    GA  Merchants  Richmond County      town     37.182000
9          Savannah    GA   Merchant   Chatham County      town  10508.900000

In [1588]:
OccsTotalsGA = AllOccsGA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsGA.to_string())

  occupation      6p_total
0        Esq    102.089033
1  Gentleman   4586.660000
2   Merchant  10538.261296
3  Merchants     39.478533

In [1589]:
OccsTotalsGA = RemoveStopwords(OccsTotalsGA) 
print(OccsTotalsGA.to_string())

  occupation      6p_total
0        esq    102.089033
1  gentleman   4586.660000
2   merchant  10538.261296
3  merchants     39.478533

In [1590]:
FindRemoveConst(OccsTotalsGA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


esq --> esq
gentleman --> gentleman
merchant --> merchant
merchants --> merchants

In [1591]:
ExceptionsGA = {}

In [1592]:
OccsTotalsGA = MergeOccupations(OccsTotalsGA, ExceptionsGA)

After Cleaning
--------------


  occupation      6p_total
0        esq    102.089033
1  gentleman   4586.660000
2   merchant  10538.261296
3  merchants     39.478533


After Removing Duplicates and Summing
-------------------------------------


  occupation      6p_total
0        esq    102.089033
1  gentleman   4586.660000
2   merchant  10538.261296
3  merchants     39.478533


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


  occupation      6p_total
0        esq    102.089033
1  gentleman   4586.660000
2   merchant  10577.739829

In [1593]:
TurnToExcel(OccsTotalsGA, State)

# Maryland

In [1594]:
State = 'MD'
AllOccsMD = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsMD = AllOccsMD.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsMD)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        17.0   66.5733           13.0       33.2833       14.0      76.4
1     26745.0   77.0000        13372.0       88.0000    50000.0      51.0
2      1243.0   42.0000          621.0       71.0000     1796.0      44.0
3       117.0   90.0000           58.0       94.0000      113.0      53.0
4       141.0    3.0000           70.0       51.0000      375.0      32.0
5        40.0   81.0000           20.0       40.0000       40.0      79.0
6       789.0   24.0000          394.0       61.0000        NaN       NaN
7       812.0   33.0000          406.0       16.0000      999.0      45.0
8       341.0    8.0000          170.0       53.0000      265.0      47.0
9      1122.0   48.0000          561.0       24.0000      761.0      65.0
10     1926.0   70.0000          963.0       35.0000      696.0      98.0
11     3120.0   91.0000         1560.0       45.0000     2499.0      70.0
12       61.0   94.0000           30.0       97.0000        NaN       NaN
13      946.0   41.0000          473.0       20.0000      816.0       4.0
14      114.0   59.0000           57.0       29.0000      113.0       1.0
15     6565.0   31.0000         3282.0       65.0000     1775.0      40.0
16      208.0   81.0000          104.0       40.0000        NaN       NaN
17     2300.0       NaN         1150.0           NaN     5607.0      90.0
18       22.0   50.0000           11.0       24.0000       17.0      62.0
19      504.0   28.0000          252.0       13.0000      554.0       6.0
20      230.0   65.0000          115.0       32.0000      239.0      30.0
21    21854.0   30.0000        10927.0       14.0000    25213.0      72.0
22      272.0   48.0000          136.0       24.0000      278.0      11.0
23      221.0   46.0000          110.0       72.0000      114.0      73.0
24     1503.0   32.0000            NaN           NaN     1119.0      53.0
25     3128.0   30.0000         1564.0       15.0000     1605.0      60.0
26     1085.0   24.0000          542.0       62.0000     1321.0      25.0
27      362.0   91.0000          181.0       43.0000      225.0      10.0
28       82.0   55.0000           41.0       28.0000       22.0      28.0
29       95.0   62.0000           47.0       81.0000       62.0      44.0
30        NaN       NaN            NaN           NaN       66.0      34.0
31      233.0   70.0000          116.0       85.0000      347.0      33.0
32      184.0   89.0000           92.0       44.0000      131.0       7.0
33       44.0   84.0000           22.0       42.0000       43.0      95.0
34      902.0   47.0000          451.0       23.0000      164.0      61.0
35        NaN       NaN            NaN           NaN      934.0      28.0
36        NaN       NaN            NaN           NaN      407.0      85.0
37        NaN       NaN            NaN           NaN     5849.0       6.0
38        NaN       NaN            NaN           NaN      168.0      52.0
39       75.0       NaN           37.0       50.0000       71.0      52.0
40      139.0   42.0000           69.0       71.0000       48.0      96.0
41     2138.0   94.0000         1069.0       47.0000     1418.0      11.0
42      206.0   66.0000            NaN           NaN      145.0      69.0
43        NaN       NaN            NaN           NaN    15000.0       NaN
44      715.0       NaN          357.0       51.0000      135.0      74.0
45        NaN       NaN            NaN           NaN     6973.0      81.0
46      102.0   74.0000           51.0       37.0000       78.0      33.0
47      511.0   78.0000          255.0       89.0000      314.0      45.0
48      214.0   40.0000          107.0       20.0000       63.0      50.0
49       25.0   28.0000           12.0       65.0000       88.0       NaN
50      193.0   57.0000           96.0       78.0000      181.0       NaN
51        NaN       NaN            NaN           NaN     5758.0      26.0
52     1330.0   16.0000            NaN           NaN        NaN       NaN
53       58.0   76.0000           29.0       38.0000       64.0      17.0
54      206.0   67.0000          103.0       33.0000       55.0      80.0
55       33.0   33.0000           16.0       67.0000       31.0      67.0
56      124.0   33.0000           62.0       17.0000      118.0      41.0

                     town state                       occupation  \
0               Baltimore    MD                              Esq
1             George Town    MD                        Merchants
2               Baltimore    MD                         Merchant
3               Baltimore    MD       Executor of Thomas Sollars
4        Baltimore County    MD       Executor of Sabret Sollars
5          Baltimore Town    MD                         Merchant
6               Baltimore    MD                         Merchant
7               Baltimore    MD                         Merchant
8             Bladensburg    MD                         Merchant
9               Annapolis    MD                        Shoemaker
10              Baltimore    MD                         Merchant
11            George Town    MD                         Merchant
12              Baltimore    MD                         Merchant
13       Baltimore County    MD                         Merchant
14              Annapolis    MD                        Shoemaker
15         Baltimore Town    MD                         Merchant
16              Baltimore    MD                         Merchant
17              Annapolis    MD                         Merchant
18              Annapolis    MD    Administrator of John Johnson
19              Annapolis    MD                         Merchant
20              Annapolis    MD                         Merchant
21            George Town    MD                         Merchant
22              Baltimore    MD                         Merchant
23              Baltimore    MD                         Merchant
24              Baltimore    MD                         Merchant
25            George Town    MD                        Merchants
26         Baltimore Town    MD                         Merchant
27       Baltimore County    MD                         Merchant
28              Annapolis    MD                         Merchant
29              Annapolis    MD                         Merchant
30              Annapolis    MD                         Merchant
31              Baltimore    MD                         Merchant
32              Baltimore    MD                         Merchant
33         Harford County    MD           Executor of Moses Ruth
34              Baltimore    MD                         Merchant
35            George Town    MD                         Merchant
36       Baltimore County    MD                         Merchant
37       Baltimore County    MD                         Merchant
38              Baltimore    MD                         Merchant
39  Prince Georges County    MD  Adminstrator of Robert Whitaker
40              Baltimore    MD                         Merchant
41              Baltimore    MD                         Merchant
42              Annapolis    MD                         Merchant
43              Baltimore    MD                         Merchant
44              Baltimore    MD                         Merchant
45              Baltimore    MD                         Merchant
46              Annapolis    MD                         Merchant
47              Baltimore    MD                         Merchant
48              Baltimore    MD                         Merchant
49              Baltimore    MD                         Merchant
50              Annapolis    MD                         Merchant
51              Annapolis    MD                         Merchant
52              Baltimore    MD                         Merchant
53         Baltimore Town    MD                         Merchant
54   Fredrick Co Maryland    MD                Frederick Company
55               Maryland    MD                       Shopkeeper
56               Maryland    MD                         Merchant

                   county name_type      6p_total
0        Baltimore County      town     17.665733
1            Cecil County      town  26745.770000
2        Baltimore County      town   1243.420000
3        Baltimore County      town    117.900000
4        Baltimore County    county    141.030000
5        Baltimore County      town     40.810000
6        Baltimore County      town    789.240000
7        Baltimore County      town    812.330000
8   Prince Georges County      town    341.080000
9     Anne Arundel County      town   1122.480000
10       Baltimore County      town   1926.700000
11           Cecil County      town   3120.910000
12       Baltimore County      town     61.940000
13       Baltimore County    county    946.410000
14    Anne Arundel County      town    114.590000
15       Baltimore County      town   6565.310000
16       Baltimore County      town    208.810000
17    Anne Arundel County      town           NaN
18    Anne Arundel County      town     22.500000
19    Anne Arundel County      town    504.280000
20    Anne Arundel County      town    230.650000
21           Cecil County      town  21854.300000
22       Baltimore County      town    272.480000
23       Baltimore County      town    221.460000
24       Baltimore County      town   1503.320000
25           Cecil County      town   3128.300000
26       Baltimore County      town   1085.240000
27       Baltimore County    county    362.910000
28    Anne Arundel County      town     82.550000
29    Anne Arundel County      town     95.620000
30    Anne Arundel County      town           NaN
31       Baltimore County      town    233.700000
32       Baltimore County      town    184.890000
33         Harford County    county     44.840000
34       Baltimore County      town    902.470000
35           Cecil County      town           NaN
36       Baltimore County    county           NaN
37       Baltimore County    county           NaN
38       Baltimore County      town           NaN
39  Prince Georges County    county           NaN
40       Baltimore County      town    139.420000
41       Baltimore County      town   2138.940000
42    Anne Arundel County      town    206.660000
43       Baltimore County      town           NaN
44       Baltimore County      town           NaN
45       Baltimore County      town           NaN
46    Anne Arundel County      town    102.740000
47       Baltimore County      town    511.780000
48       Baltimore County      town    214.400000
49       Baltimore County      town     25.280000
50    Anne Arundel County      town    193.570000
51    Anne Arundel County      town           NaN
52       Baltimore County      town   1330.160000
53       Baltimore County      town     58.760000
54       Frederick County    county    206.670000
55                    NaN     state     33.330000
56                    NaN     state    124.330000

In [1595]:
OccsTotalsMD = AllOccsMD.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsMD.to_string())

                         occupation      6p_total
0     Administrator of John Johnson     22.500000
1   Adminstrator of Robert Whitaker      0.000000
2                               Esq     17.665733
3            Executor of Moses Ruth     44.840000
4        Executor of Sabret Sollars    141.030000
5        Executor of Thomas Sollars    117.900000
6                 Frederick Company    206.670000
7                          Merchant  48636.870000
8                         Merchants  29874.070000
9                         Shoemaker   1237.070000
10                       Shopkeeper     33.330000

In [1596]:
OccsTotalsMD = RemoveStopwords(OccsTotalsMD) 
print(OccsTotalsMD.to_string())

                      occupation      6p_total
0     administrator john johnson     22.500000
1   adminstrator robert whitaker      0.000000
2                            esq     17.665733
3            executor moses ruth     44.840000
4        executor sabret sollars    141.030000
5        executor thomas sollars    117.900000
6              frederick company    206.670000
7                       merchant  48636.870000
8                      merchants  29874.070000
9                      shoemaker   1237.070000
10                    shopkeeper     33.330000

In [1597]:
FindRemoveConst(OccsTotalsMD['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administrator john johnson --> administrator
adminstrator robert whitaker --> adminstrator
esq --> esq
executor moses ruth --> executor
executor sabret sollars --> executor
executor thomas sollars --> executor
frederick company --> frederick company
merchant --> merchant
merchants --> merchants
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [1598]:
PrintFutureOccupations(OccsTotalsMD['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator --> administrator
adminstrator --> adminstrator
esq --> esq
executor --> executor
executor --> executor
executor --> executor
frederick company --> frederick
merchant --> merchant
merchants --> merchants
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [1599]:
ExceptionsMD = {'frederick company' : 'company'}

In [1600]:
OccsTotalsMD = MergeOccupations(OccsTotalsMD, ExceptionsMD)

After Cleaning
--------------


       occupation      6p_total
0   administrator     22.500000
1    adminstrator      0.000000
2             esq     17.665733
3        executor     44.840000
4        executor    141.030000
5        executor    117.900000
6         company    206.670000
7        merchant  48636.870000
8       merchants  29874.070000
9       shoemaker   1237.070000
10     shopkeeper     33.330000


After Removing Duplicates and Summing
-------------------------------------


      occupation      6p_total
0  administrator     22.500000
1   adminstrator      0.000000
2        company    206.670000
3            esq     17.665733
4       executor    303.770000
5       merchant  48636.870000
6      merchants  29874.070000
7      shoemaker   1237.070000
8     shopkeeper     33.330000


Removed: adminstrator --> administrator
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


      occupation      6p_total
0  administrator     22.500000
1        company    206.670000
2            esq     17.665733
3       executor    303.770000
4       merchant  78510.940000
5      shoemaker   1237.070000
6     shopkeeper     33.330000

In [1601]:
TurnToExcel(OccsTotalsMD, State)

# North Carolina

In [1602]:
State = 'NC'
AllOccsNC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNC = AllOccsNC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNC)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        85.0      25.0           42.0          62.0       41.0      82.0
1      2008.0      37.0         1004.0          18.0     1324.0      76.0
2        48.0      50.0           24.0          25.0        NaN       NaN
3       176.0       NaN           88.0           NaN      150.0      67.0
4     12283.0      44.0         6141.0          71.0    10781.0      94.0
5        41.0      26.0           20.0          64.0       15.0      83.0
6       206.0       8.0          103.0           5.0       50.0      69.0
7       228.0      12.0          114.0           6.0      157.0      80.0
8       252.0      32.0          126.0          16.0        NaN       NaN
9      4780.0      84.0         2390.0          41.0     4998.0      96.0
10        0.0       0.0          892.0          66.0     1339.0       NaN
11       62.0      51.0           31.0          26.0        NaN       NaN

              town state                   occupation          county  \
0     Wayne County    NC                     Merchant    Wayne County
1          Newbern    NC            Doctors of Physic   Craven County
2         Halifax     NC                    Merchants  Halifax County
3          Edenton    NC                    Merchants   Chowan County
4   North Carolina    NC                    Treasurer             NaN
5     Hillsborough    NC                     Merchant   Orange County
6          Newbern    NC                     Merchant   Craven County
7          Newbern    NC                     Merchant   Craven County
8          Newbern    NC                     Merchant   Craven County
9              NaN    NC  The State of North Carolina             NaN
10  North Carolina    NC      Asse of John B Ashe Exe             NaN
11  North Carolina    NC                       Farmer             NaN

   name_type  6p_total
0     county     85.25
1       town   2008.37
2       town     48.50
3       town       NaN
4      state  12283.44
5       town     41.26
6       town    206.08
7       town    228.12
8       town    252.32
9      state   4780.84
10     state      0.00
11     state     62.51

In [1603]:
OccsTotalsNC = AllOccsNC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsNC.to_string())

                    occupation  6p_total
0      Asse of John B Ashe Exe      0.00
1            Doctors of Physic   2008.37
2                       Farmer     62.51
3                     Merchant    813.03
4                    Merchants     48.50
5  The State of North Carolina   4780.84
6                    Treasurer  12283.44

In [1604]:
OccsTotalsNC = RemoveStopwords(OccsTotalsNC) 
print(OccsTotalsNC.to_string())

                 occupation  6p_total
0      asse john b ashe exe      0.00
1            doctors physic   2008.37
2                    farmer     62.51
3                  merchant    813.03
4                 merchants     48.50
5  the state north carolina   4780.84
6                 treasurer  12283.44

In [1605]:
FindRemoveConst(OccsTotalsNC['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


asse john b ashe exe --> asse john b
doctors physic --> doctors physic
farmer --> farmer
merchant --> merchant
merchants --> merchants
the state north carolina --> the state
treasurer --> treasurer

In [1606]:
Remove = 0

In [1607]:
PrintFutureOccupations(OccsTotalsNC['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


asse john b ashe exe --> asse
doctors physic --> doctors
farmer --> farmer
merchant --> merchant
merchants --> merchants
the state north carolina --> carolina
treasurer --> treasurer

In [1608]:
ExceptionsNC = {'the state north carolina' : 'north carolina'}

In [1609]:
OccsTotalsNC = MergeOccupations(OccsTotalsNC, ExceptionsNC)

After Cleaning
--------------


       occupation  6p_total
0            asse      0.00
1         doctors   2008.37
2          farmer     62.51
3        merchant    813.03
4       merchants     48.50
5  north carolina   4780.84
6       treasurer  12283.44


After Removing Duplicates and Summing
-------------------------------------


       occupation  6p_total
0            asse      0.00
1         doctors   2008.37
2          farmer     62.51
3        merchant    813.03
4       merchants     48.50
5  north carolina   4780.84
6       treasurer  12283.44


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


       occupation  6p_total
0            asse      0.00
1         doctors   2008.37
2          farmer     62.51
3        merchant    861.53
4  north carolina   4780.84
5       treasurer  12283.44

In [1610]:
TurnToExcel(OccsTotalsNC, State)

# New Hampshire

In [1611]:
State = 'NH'
AllOccsNH = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNH = AllOccsNH.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNH)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        200.0       NaN          100.0           NaN       54.0       NaN
1        778.0       4.0          389.0           2.0      288.0       NaN
2       1490.0      73.0          745.0          37.0      436.0      77.0
3       2100.0      48.0         1050.0          23.0      928.0      46.0
4        149.0      62.0           74.0          81.0        NaN       NaN
..         ...       ...            ...           ...        ...       ...
161       81.0      69.0           40.0          84.0      741.0      54.0
162      187.0       2.0           93.0          51.0      146.0      70.0
163       12.0      73.0            6.0          37.0        0.0       0.0
164        9.0      16.0            4.0          58.0       10.0      16.0
165       40.0      67.0           20.0          33.0       25.0      96.0

                town state occupation             county name_type  6p_total
0         Portsmouth    NH      Widow  Rockingham County      town       NaN
1    North Hampshire    NH     Farmer                NaN     other    778.04
2         Portsmouth    NH  Physician  Rockingham County      town   1490.73
3             Exeter    NH      Widow  Rockingham County      town   2100.48
4         Rockingham    NH  Treasurer  Rockingham County    county    149.62
..               ...   ...        ...                ...       ...       ...
161           Exeter    NH   Merchant  Rockingham County      town     81.69
162       Portsmouth    NH  Physician  Rockingham County      town    187.02
163       Portsmouth    NH    Esquire  Rockingham County      town     12.73
164       Portsmouth    NH     Trader  Rockingham County      town      9.16
165       Alexandria    NH   Merchant     Grafton County      town     40.67

[166 rows x 12 columns]

In [1612]:
OccsTotalsNH = AllOccsNH.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsNH.to_string())

    occupation  6p_total
0        Baker   2159.04
1   Blacksmith     54.88
2        Clerk    715.60
3   Cordwainer    742.05
4      Esquire  61539.89
5       Farmer    778.04
6    Gentleman   3603.06
7    Goldsmith    871.32
8       Joiner    106.61
9     Marniner    785.62
10    Merchant  29715.41
11     Painter     48.61
12   Physician   7111.43
13    Spinster     89.13
14      Trader   2807.27
15   Treasurer    149.62
16       Widow   8790.45
17      Yeoman   3397.94

In [1613]:
OccsTotalsNH = RemoveStopwords(OccsTotalsNH) 
print(OccsTotalsNH.to_string())

    occupation  6p_total
0        baker   2159.04
1   blacksmith     54.88
2        clerk    715.60
3   cordwainer    742.05
4      esquire  61539.89
5       farmer    778.04
6    gentleman   3603.06
7    goldsmith    871.32
8       joiner    106.61
9     marniner    785.62
10    merchant  29715.41
11     painter     48.61
12   physician   7111.43
13    spinster     89.13
14      trader   2807.27
15   treasurer    149.62
16       widow   8790.45
17      yeoman   3397.94

In [1614]:
FindRemoveConst(OccsTotalsNH['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [1615]:
PrintFutureOccupations(OccsTotalsNH['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [1616]:
ExceptionsNH = {}

In [1617]:
OccsTotalsNH = MergeOccupations(OccsTotalsNH, ExceptionsNH)

After Cleaning
--------------


    occupation  6p_total
0        baker   2159.04
1   blacksmith     54.88
2        clerk    715.60
3   cordwainer    742.05
4      esquire  61539.89
5       farmer    778.04
6    gentleman   3603.06
7    goldsmith    871.32
8       joiner    106.61
9     marniner    785.62
10    merchant  29715.41
11     painter     48.61
12   physician   7111.43
13    spinster     89.13
14      trader   2807.27
15   treasurer    149.62
16       widow   8790.45
17      yeoman   3397.94


After Removing Duplicates and Summing
-------------------------------------


    occupation  6p_total
0        baker   2159.04
1   blacksmith     54.88
2        clerk    715.60
3   cordwainer    742.05
4      esquire  61539.89
5       farmer    778.04
6    gentleman   3603.06
7    goldsmith    871.32
8       joiner    106.61
9     marniner    785.62
10    merchant  29715.41
11     painter     48.61
12   physician   7111.43
13    spinster     89.13
14      trader   2807.27
15   treasurer    149.62
16       widow   8790.45
17      yeoman   3397.94




After Using Fuzzy String Matching
---------------------------------


    occupation  6p_total
0        baker   2159.04
1   blacksmith     54.88
2        clerk    715.60
3   cordwainer    742.05
4      esquire  61539.89
5       farmer    778.04
6    gentleman   3603.06
7    goldsmith    871.32
8       joiner    106.61
9     marniner    785.62
10    merchant  29715.41
11     painter     48.61
12   physician   7111.43
13    spinster     89.13
14      trader   2807.27
15   treasurer    149.62
16       widow   8790.45
17      yeoman   3397.94

In [1618]:
TurnToExcel(OccsTotalsNH, State)

# New Jersey

In [1619]:
State = 'NJ'
AllOccsNJ = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNJ = AllOccsNJ.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNJ)

   6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0     1324.0      81.0          662.0          41.0      675.0      52.0
1     1325.0      68.0          662.0          85.0      714.0      50.0
2      384.0      34.0          192.0          65.0      156.0      34.0
3     5017.0       5.0         2508.0          52.0     2053.0      54.0
4     1046.0      10.0          523.0           5.0      297.0      74.0
5      235.0       1.0          117.0          51.0      139.0      10.0
6        3.0      34.0            1.0          66.0        2.0      90.0
7      184.0       NaN           92.0           NaN      437.0       6.0
8       16.0      67.0            8.0          33.0        8.0      57.0

                         town state  \
0                  New Jersey    NJ
1                  New Jersey    NJ
2                  New Jersey    NJ
3                  New Jersey    NJ
4                  New Jersey    NJ
5  Monmouth County New Jersey    NJ
6                    Cape May    NJ
7                  New Jersey    NJ
8  Somerset County New Jersey    NJ

                                          occupation           county  \
0               Executor of Michael De Mott deceased              NaN
1                                    Attorney at law              NaN
2                                          Physician              NaN
3                                          Gentleman              NaN
4                                          Gentleman              NaN
5                                           Merchant  Monmouth County
6                                             Farmer  Cape May County
7                                            Esquire              NaN
8  In trust for Jacobus Van Eis of Somerset Count...  Somerset County

  name_type  6p_total
0     state   1324.81
1     state   1325.68
2     state    384.34
3     state   5017.05
4     state   1046.10
5    county    235.01
6      town      3.34
7     state       NaN
8    county     16.67

In [1620]:
OccsTotalsNJ = AllOccsNJ.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsNJ.to_string())

                                                   occupation  6p_total
0                                             Attorney at law   1325.68
1                                                     Esquire      0.00
2                        Executor of Michael De Mott deceased   1324.81
3                                                      Farmer      3.34
4                                                   Gentleman   6063.15
5  In trust for Jacobus Van Eis of Somerset County New Jersey     16.67
6                                                    Merchant    235.01
7                                                   Physician    384.34

In [1621]:
OccsTotalsNJ = RemoveStopwords(OccsTotalsNJ) 
print(OccsTotalsNJ.to_string())

                                            occupation  6p_total
0                                         attorney law   1325.68
1                                              esquire      0.00
2                    executor michael de mott deceased   1324.81
3                                               farmer      3.34
4                                            gentleman   6063.15
5  in trust jacobus van eis somerset county new jersey     16.67
6                                             merchant    235.01
7                                            physician    384.34

In [1622]:
FindRemoveConst(OccsTotalsNJ['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


attorney law --> attorney law
esquire --> esquire
executor michael de mott deceased --> executor michael de mott deceased
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county new jersey --> in trust jacobus van eis somerset county new jersey
merchant --> merchant
physician --> physician

In [1623]:
Remove = 2

In [1624]:
PrintFutureOccupations(OccsTotalsNJ['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


attorney law --> attorney
esquire --> esquire
executor michael de --> executor
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county --> county
merchant --> merchant
physician --> physician

In [1625]:
ExceptionsNJ = {'in trust jacobus van eis somerset county' : 'trust'}

In [1626]:
OccsTotalsNJ = MergeOccupations(OccsTotalsNJ, ExceptionsNJ)

After Cleaning
--------------


  occupation  6p_total
0   attorney   1325.68
1    esquire      0.00
2   executor   1324.81
3     farmer      3.34
4  gentleman   6063.15
5      trust     16.67
6   merchant    235.01
7  physician    384.34


After Removing Duplicates and Summing
-------------------------------------


  occupation  6p_total
0   attorney   1325.68
1    esquire      0.00
2   executor   1324.81
3     farmer      3.34
4  gentleman   6063.15
5   merchant    235.01
6  physician    384.34
7      trust     16.67




After Using Fuzzy String Matching
---------------------------------


  occupation  6p_total
0   attorney   1325.68
1    esquire      0.00
2   executor   1324.81
3     farmer      3.34
4  gentleman   6063.15
5   merchant    235.01
6  physician    384.34
7      trust     16.67

In [1627]:
TurnToExcel(OccsTotalsNJ, State)

# New York

In [1628]:
State = 'NY'
AllOccsNY = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNY = AllOccsNY.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNY)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       131.0   15.0000           65.0       57.0000      146.0     69.00
1       118.0   45.0000           59.0       23.0000      124.0     94.00
2        23.0   69.0000           11.0       84.0000       24.0     99.00
3       261.0   31.0000          130.0       65.0000      340.0     53.00
4       933.0   33.0000          466.0       67.0000      781.0     67.00
5       555.0   86.0000          277.0       93.0000      637.0     27.00
6       230.0   90.0000          115.0       45.0000      179.0     91.00
7       377.0   49.0000          188.0       75.0000      385.0     98.00
8       286.0   43.0000          143.0       22.0000      248.0     68.00
9         NaN    1.0000            NaN           NaN        NaN       NaN
10        NaN       NaN            NaN           NaN     1601.0     94.00
11        1.0   46.7633            1.0       23.3833        1.0     63.34
12       20.0   34.5500           16.0       17.2700       15.0     37.71
13     1776.0   12.0000          888.0        6.0000     1553.0     33.00
14      685.0   93.0000          342.0       97.0000      203.0     67.00
15      334.0   70.0000          167.0       35.0000      340.0     68.00
16      609.0   42.0000          304.0       71.0000      432.0       NaN
17     1867.0   88.0000          933.0       93.0000      517.0     20.00
18      690.0   96.0000          345.0       48.0000      665.0     28.00
19      222.0    5.0000          111.0        3.0000      351.0     21.00
20       88.0   60.0000           44.0       30.0000       62.0     43.00
21      138.0   58.0000           69.0       29.0000       60.0     12.00
22      174.0   62.0000           87.0       31.0000        NaN       NaN
23      581.0   48.0000          290.0       74.0000      545.0     12.00
24      255.0   94.0000          127.0       97.0000      369.0     52.00
25       55.0   71.0000           27.0       86.0000       31.0     25.00
26      407.0   50.0000          203.0       75.0000      381.0      1.00
27       29.0   93.0000           14.0       96.0000        NaN       NaN
28      361.0   11.0000          180.0       55.0000      315.0     27.00
29      120.0   25.0000           60.0       12.0000       97.0     70.00

                 town state    occupation           county name_type  \
0   State of New York    NY  Schoolmaster              NaN     state
1   State of New York    NY        Farmer              NaN     state
2   State of New York    NY      Merchant              NaN     state
3    City of New York    NY      Merchant  New York County      town
4   State of New York    NY     Physician              NaN     state
5            New York    NY        Farmer              NaN     state
6    City of New York    NY      Merchant  New York County      town
7   State of New York    NY       Mariner              NaN     state
8            New York    NY      Merchant              NaN     state
9    City of New York    NY      Merchant  New York County      town
10   City of New York    NY      Merchant  New York County      town
11           New York    NY     Merchants              NaN     state
12           New York    NY      Merchant              NaN     state
13           New York    NY        Broker              NaN     state
14           New York    NY      Merchant              NaN     state
15           New York    NY      Merchant              NaN     state
16           New York    NY      Merchant              NaN     state
17           New York    NY     Merchants              NaN     state
18           New York    NY      Merchant              NaN     state
19           New York    NY      Merchant              NaN     state
20           New York    NY      Merchant              NaN     state
21           New York    NY      Merchant              NaN     state
22           New York    NY      Merchant              NaN     state
23           New York    NY     Merchants              NaN     state
24           New York    NY      Merchant              NaN     state
25           New York    NY      Merchant              NaN     state
26           New York    NY      Merchant              NaN     state
27           New York    NY      Merchant              NaN     state
28           New York    NY      Merchant              NaN     state
29           New York    NY      Merchant              NaN     state

       6p_total
0    131.150000
1    118.450000
2     23.690000
3    261.310000
4    933.330000
5    555.860000
6    230.900000
7    377.490000
8    286.430000
9           NaN
10          NaN
11     1.467633
12    20.345500
13  1776.120000
14   685.930000
15   334.700000
16   609.420000
17  1867.880000
18   690.960000
19   222.050000
20    88.600000
21   138.580000
22   174.620000
23   581.480000
24   255.940000
25    55.710000
26   407.500000
27    29.930000
28   361.110000
29   120.250000

In [1629]:
OccsTotalsNY = AllOccsNY.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsNY.to_string())

     occupation     6p_total
0        Broker  1776.120000
1        Farmer   674.310000
2       Mariner   377.490000
3      Merchant  4997.975500
4     Merchants  2450.827633
5     Physician   933.330000
6  Schoolmaster   131.150000

In [1630]:
OccsTotalsNY = RemoveStopwords(OccsTotalsNY) 
print(OccsTotalsNY.to_string())

     occupation     6p_total
0        broker  1776.120000
1        farmer   674.310000
2       mariner   377.490000
3      merchant  4997.975500
4     merchants  2450.827633
5     physician   933.330000
6  schoolmaster   131.150000

In [1631]:
PrintFutureOccupations(OccsTotalsNY['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


broker --> broker
farmer --> farmer
mariner --> mariner
merchant --> merchant
merchants --> merchants
physician --> physician
schoolmaster --> schoolmaster

In [1632]:
ExceptionsNY = {}

In [1633]:
OccsTotalsNY = MergeOccupations(OccsTotalsNY, ExceptionsNY)

After Cleaning
--------------


     occupation     6p_total
0        broker  1776.120000
1        farmer   674.310000
2       mariner   377.490000
3      merchant  4997.975500
4     merchants  2450.827633
5     physician   933.330000
6  schoolmaster   131.150000


After Removing Duplicates and Summing
-------------------------------------


     occupation     6p_total
0        broker  1776.120000
1        farmer   674.310000
2       mariner   377.490000
3      merchant  4997.975500
4     merchants  2450.827633
5     physician   933.330000
6  schoolmaster   131.150000


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


     occupation     6p_total
0        broker  1776.120000
1        farmer   674.310000
2       mariner   377.490000
3      merchant  7448.803133
4     physician   933.330000
5  schoolmaster   131.150000

In [1634]:
TurnToExcel(OccsTotalsNY, State)

# Pennsylvania

In [1635]:
State = 'PA'
AllOccsPA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsPA = AllOccsPA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsPA)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0    102.14            1.0         51.07        1.0    117.34
1       3212.0     38.00         1606.0         19.00     1400.0     66.00
2       4529.0     96.00         2264.0         98.00     3312.0     47.00
3        607.0      8.00          303.0         54.00      146.0     51.00
4       2050.0     74.00         1025.0         37.00      745.0     57.00
..         ...       ...            ...           ...        ...       ...
410     9544.0     97.00         4772.0         48.00     8590.0     46.00
411      880.0     75.00          440.0         38.00      753.0     91.00
412       20.0     25.00           10.0         13.00        NaN       NaN
413       43.0     60.00           21.0         80.00        NaN       NaN
414      150.0       NaN           75.0           NaN      138.0     90.00

                         town state occupation               county name_type  \
0                Philadelphia    PA    Mariner  Philadelphia County      town
1                Philadelphia    PA   Merchant  Philadelphia County      town
2                Philadelphia    PA   Merchant  Philadelphia County      town
3                Philadelphia    PA   Merchant  Philadelphia County      town
4       Carlisle Pennsylvania    PA   Merchant    Cumberland County      town
..                        ...   ...        ...                  ...       ...
410              Philadelphia    PA    Esquire  Philadelphia County      town
411              Philadelphia    PA    Esquire  Philadelphia County      town
412  York County Pennsylvania    PA    Esquire          York County    county
413                 York Town    PA     Taylor          York County      town
414              Philadelphia    PA   Merchant  Philadelphia County      town

      6p_total
0       2.0214
1    3212.3800
2    4529.9600
3     607.0800
4    2050.7400
..         ...
410  9544.9700
411   880.7500
412    20.2500
413    43.6000
414        NaN

[415 rows x 12 columns]

In [1636]:
OccsTotalsPA = AllOccsPA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsPA.to_string())

                                                         occupation     6p_total
0                                                        AH.Vat Law      58.0500
1        Adm of Alexander McCaraher late of Chester County Deceased     799.5100
2                            Administer of the estate of Job Vernon    1865.4400
3                                  Administor to the Est of J James      27.5300
4                                                   Attorney at Law    1223.6200
5                                                       Black Smith     692.2500
6                                                       Book Binder     783.0700
7                                                            Broker   64008.8400
8                                                             Clerk    1855.5800
9                                                                Co    2898.8600
10                                                      Conveyancer     108.4000
11                                                      Cordwainder     281.2500
12                                                         Druggist    4922.4300
13                                                          Esquier   20672.0700
14                                                          Esquire   20770.1700
15                                     Estate John Benezet Deceased       0.0000
16                                                        Estate of    1979.6000
17                                           Ex Philadelphia County    1802.9600
18                                           Ex of William Honeyman     668.9600
19                          Ex to the Estate of John Baird Bucks Co     115.9400
20                              Executers of David Grierlate Y Town    5658.3600
21                     Executor to the Estate Abraham Hull deceased      47.9100
22                      Executor to the Estate Mathias Londenberger     493.8300
23      Executor to the Estate of Doctor Benjamin Franklin deceased       0.0000
24                                                           Farmer    1685.8100
25                                                          Furrier    3107.1800
26                                                        Gentleman    7540.6600
27                                                        Goldsmith     142.2200
28                                           Guardian to Adam Guier    1605.8000
29                                        Guardian to Maria Benezet    2267.5000
30                                    Guardian to William Chevalier     666.6600
31                                                           Hatter    2291.7600
32                                                       Inn Keeper    1668.6800
33                                                    Junior Broker   10691.1200
34                                                              Law    3942.1100
35                                                           Lawyer    3472.9000
36                                                         Marchant    1133.2500
37                                                          Mariner    3906.5714
38                                                         Merchant  552065.7400
39  Merchant Executer to the Estate of John Schweig Hauser deceased    5333.3300
40                                                        Merchants   54042.2900
41                                                     Pennsylvania     856.5600
42                                                        Physician    1769.0100
43                                                      Post Master    7083.5300
44                                                          Printer    7423.7300
45                             Printer in Trust for Jennet Thompson     294.0100
46                                          Property of Mathematics     461.1100
47                                                         Reverend     224.1200
48                                                          Sheriff      56.2100
49                                                      Ship Wright    1241.7600
50                                                      Shop Keeper      41.4700
51                                                       Shopkeeper     547.4800
52                                                      Silversmith    1917.6500
53                                                         Spinster     528.3300
54                                                           Tanner    1192.2500
55                                                           Taylor    2137.3900
56                       Treasurer of the first Presbyterian Church     714.8100
57                                             Trust By David Cloyd     618.1400
58                                                            Widow    5576.5300
59                                                           Yeoman    1136.0600
60                         for Christopher Mary and Charity Pyrleus     846.2300
61                           in trust for the Estate of Robert Dill    1436.5000

In [1637]:
OccsTotalsPA = RemoveStopwords(OccsTotalsPA) 
print(OccsTotalsPA.to_string())

                                               occupation     6p_total
0                                              ah.vat law      58.0500
1    adm alexander mccaraher late chester county deceased     799.5100
2                            administer estate job vernon    1865.4400
3                                  administor est j james      27.5300
4                                            attorney law    1223.6200
5                                             black smith     692.2500
6                                             book binder     783.0700
7                                                  broker   64008.8400
8                                                   clerk    1855.5800
9                                                      co    2898.8600
10                                            conveyancer     108.4000
11                                            cordwainder     281.2500
12                                               druggist    4922.4300
13                                                esquier   20672.0700
14                                                esquire   20770.1700
15                           estate john benezet deceased       0.0000
16                                                 estate    1979.6000
17                                 ex philadelphia county    1802.9600
18                                    ex william honeyman     668.9600
19                          ex estate john baird bucks co     115.9400
20                       executers david grierlate y town    5658.3600
21                  executor estate abraham hull deceased      47.9100
22                   executor estate mathias londenberger     493.8300
23      executor estate doctor benjamin franklin deceased       0.0000
24                                                 farmer    1685.8100
25                                                furrier    3107.1800
26                                              gentleman    7540.6600
27                                              goldsmith     142.2200
28                                    guardian adam guier    1605.8000
29                                 guardian maria benezet    2267.5000
30                             guardian william chevalier     666.6600
31                                                 hatter    2291.7600
32                                             inn keeper    1668.6800
33                                          junior broker   10691.1200
34                                                    law    3942.1100
35                                                 lawyer    3472.9000
36                                               marchant    1133.2500
37                                                mariner    3906.5714
38                                               merchant  552065.7400
39  merchant executer estate john schweig hauser deceased    5333.3300
40                                              merchants   54042.2900
41                                           pennsylvania     856.5600
42                                              physician    1769.0100
43                                            post master    7083.5300
44                                                printer    7423.7300
45                          printer trust jennet thompson     294.0100
46                                   property mathematics     461.1100
47                                               reverend     224.1200
48                                                sheriff      56.2100
49                                            ship wright    1241.7600
50                                            shop keeper      41.4700
51                                             shopkeeper     547.4800
52                                            silversmith    1917.6500
53                                               spinster     528.3300
54                                                 tanner    1192.2500
55                                                 taylor    2137.3900
56                    treasurer first presbyterian church     714.8100
57                                   trust by david cloyd     618.1400
58                                                  widow    5576.5300
59                                                 yeoman    1136.0600
60                       christopher mary charity pyrleus     846.2300
61                               trust estate robert dill    1436.5000

In [1638]:
FindRemoveConst(OccsTotalsPA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


ah.vat law --> ah.vat law
adm alexander mccaraher late chester county deceased --> adm alexander mccaraher late chester
administer estate job vernon --> administer estate
administor est j james --> administor est
attorney law --> attorney law
black smith --> black smith
book binder --> book binder
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john benezet deceased --> estate john
estate --> estate
ex philadelphia county --> ex
ex william honeyman --> ex
ex estate john baird bucks co --> ex estate john baird
executers david grierlate y town --> executers david grierlate
executor estate abraham hull deceased --> executor estate abraham
executor estate mathias londenberger --> executor estate
executor estate doctor benjamin franklin deceased --> executor estate doctor benjamin
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian adam guier --> guardian
guardian maria benezet --> guardian
guardian william chevalier --> guardian
hatter --> hatter
inn keeper --> inn keeper
junior broker --> junior broker
law --> law
lawyer --> lawyer
marchant --> marchant
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig hauser deceased --> merchant executer estate john schweig
merchants --> merchants
pennsylvania --> pennsylvania
physician --> physician
post master --> post master
printer --> printer
printer trust jennet thompson --> printer trust
property mathematics --> property mathematics
reverend --> reverend
sheriff --> sheriff
ship wright --> ship wright
shop keeper --> shop keeper
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first presbyterian church --> treasurer first
trust by david cloyd --> trust by
widow --> widow
yeoman --> yeoman
christopher mary charity pyrleus --> christopher mary
trust estate robert dill --> trust estate

In [1639]:
PrintFutureOccupations(OccsTotalsPA['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


ah.vat law --> ah.vat
adm alexander mccaraher late chester --> adm
administer estate --> administer
administor est --> administor
attorney law --> attorney
black smith --> black
book binder --> book
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john --> estate
estate --> estate
ex --> ex
ex --> ex
ex estate john baird --> baird
executers david grierlate --> executers
executor estate abraham --> executor
executor estate --> executor
executor estate doctor benjamin --> executor
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
junior broker --> junior
law --> law
lawyer --> lawyer
marchant --> marchant
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig --> merchant
merchants --> merchants
pennsylvania --> pennsylvania
physician --> physician
post master --> post
printer --> printer
printer trust --> printer
property mathematics --> property
reverend --> reverend
sheriff --> sheriff
ship wright --> ship
shop keeper --> shop
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first --> treasurer
trust by --> trust
widow --> widow
yeoman --> yeoman
christopher mary --> christopher
trust estate --> trust

In [1640]:
ExceptionsPA = {'ah.vat law' : 'attorney', 'black smith' : 'blacksmith', 'book binder' : 'book binder', 'ex estate john baird' : 'executors', 'ex' : 'executors',
               'inn keeper' : 'inn keeper', 'junior broker' : 'broker', 'post master' : 'post master', 'ship wright' : 'ship wright', 'shop keeper' : 'shopkeeper', 
               'christopher mary' : 'individual', 'law' : 'attorney', 'lawyer' : 'attorney', 'adm alexander mccaraher late chester' : 'administer'}

In [1641]:
OccsTotalsPA = MergeOccupations(OccsTotalsPA, ExceptionsPA)

After Cleaning
--------------


      occupation     6p_total
0       attorney      58.0500
1     administer     799.5100
2     administer    1865.4400
3     administor      27.5300
4       attorney    1223.6200
5     blacksmith     692.2500
6    book binder     783.0700
7         broker   64008.8400
8          clerk    1855.5800
9             co    2898.8600
10   conveyancer     108.4000
11   cordwainder     281.2500
12      druggist    4922.4300
13       esquier   20672.0700
14       esquire   20770.1700
15        estate       0.0000
16        estate    1979.6000
17     executors    1802.9600
18     executors     668.9600
19     executors     115.9400
20     executers    5658.3600
21      executor      47.9100
22      executor     493.8300
23      executor       0.0000
24        farmer    1685.8100
25       furrier    3107.1800
26     gentleman    7540.6600
27     goldsmith     142.2200
28      guardian    1605.8000
29      guardian    2267.5000
30      guardian     666.6600
31        hatter    2291.7600
32    inn keeper    1668.6800
33        broker   10691.1200
34      attorney    3942.1100
35      attorney    3472.9000
36      marchant    1133.2500
37       mariner    3906.5714
38      merchant  552065.7400
39      merchant    5333.3300
40     merchants   54042.2900
41  pennsylvania     856.5600
42     physician    1769.0100
43   post master    7083.5300
44       printer    7423.7300
45       printer     294.0100
46      property     461.1100
47      reverend     224.1200
48       sheriff      56.2100
49   ship wright    1241.7600
50    shopkeeper      41.4700
51    shopkeeper     547.4800
52   silversmith    1917.6500
53      spinster     528.3300
54        tanner    1192.2500
55        taylor    2137.3900
56     treasurer     714.8100
57         trust     618.1400
58         widow    5576.5300
59        yeoman    1136.0600
60    individual     846.2300
61         trust    1436.5000


After Removing Duplicates and Summing
-------------------------------------


      occupation     6p_total
0     administer    2664.9500
1     administor      27.5300
2       attorney    8696.6800
3     blacksmith     692.2500
4    book binder     783.0700
5         broker   74699.9600
6          clerk    1855.5800
7             co    2898.8600
8    conveyancer     108.4000
9    cordwainder     281.2500
10      druggist    4922.4300
11       esquier   20672.0700
12       esquire   20770.1700
13        estate    1979.6000
14     executers    5658.3600
15      executor     541.7400
16     executors    2587.8600
17        farmer    1685.8100
18       furrier    3107.1800
19     gentleman    7540.6600
20     goldsmith     142.2200
21      guardian    4539.9600
22        hatter    2291.7600
23    individual     846.2300
24    inn keeper    1668.6800
25      marchant    1133.2500
26       mariner    3906.5714
27      merchant  557399.0700
28     merchants   54042.2900
29  pennsylvania     856.5600
30     physician    1769.0100
31   post master    7083.5300
32       printer    7717.7400
33      property     461.1100
34      reverend     224.1200
35       sheriff      56.2100
36   ship wright    1241.7600
37    shopkeeper     588.9500
38   silversmith    1917.6500
39      spinster     528.3300
40        tanner    1192.2500
41        taylor    2137.3900
42     treasurer     714.8100
43         trust    2054.6400
44         widow    5576.5300
45        yeoman    1136.0600


Removed: administor --> administer
Removed: esquire --> esquier
Removed: executor --> executers
Removed: executors --> executers
Removed: merchant --> marchant
Removed: merchants --> marchant


After Using Fuzzy String Matching
---------------------------------


      occupation     6p_total
0     administer    2692.4800
1       attorney    8696.6800
2     blacksmith     692.2500
3    book binder     783.0700
4         broker   74699.9600
5          clerk    1855.5800
6             co    2898.8600
7    conveyancer     108.4000
8    cordwainder     281.2500
9       druggist    4922.4300
10       esquier   41442.2400
11        estate    1979.6000
12     executers    8787.9600
13        farmer    1685.8100
14       furrier    3107.1800
15     gentleman    7540.6600
16     goldsmith     142.2200
17      guardian    4539.9600
18        hatter    2291.7600
19    individual     846.2300
20    inn keeper    1668.6800
21      marchant  612574.6100
22       mariner    3906.5714
23  pennsylvania     856.5600
24     physician    1769.0100
25   post master    7083.5300
26       printer    7717.7400
27      property     461.1100
28      reverend     224.1200
29       sheriff      56.2100
30   ship wright    1241.7600
31    shopkeeper     588.9500
32   silversmith    1917.6500
33      spinster     528.3300
34        tanner    1192.2500
35        taylor    2137.3900
36     treasurer     714.8100
37         trust    2054.6400
38         widow    5576.5300
39        yeoman    1136.0600

In [1642]:
TurnToExcel(OccsTotalsPA, State)

# Rhode Island

In [1643]:
State = 'RI'
AllOccsRI = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsRI = AllOccsRI.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsRI)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        154.0      20.0           77.0          10.0      192.0       NaN
1        194.0      54.0           97.0          27.0      222.0       1.0
2        359.0      50.0          179.0          76.0      254.0      21.0
3          7.0      16.0            3.0          58.0       55.0      82.0
4         35.0       2.0           17.0          51.0       38.0      94.0
..         ...       ...            ...           ...        ...       ...
443      164.0      96.0          165.0          27.0      100.0      22.0
444       59.0      90.0           29.0          95.0       70.0       8.0
445       28.0      44.0           14.0          22.0       29.0      70.0
446      142.0      44.0           71.0          22.0      132.0      43.0
447       33.0      33.0           17.0          39.0       31.0      94.0

             town state occupation             county name_type  6p_total
0    Rhode Island    RI     Farmer                NaN     state    154.20
1      Providence    RI   Merchant  Providence County      town    194.54
2      Providence    RI   Merchant  Providence County      town    359.50
3      Providence    RI   Merchant  Providence County      town      7.16
4      Providence    RI    Mariner  Providence County      town     35.02
..            ...   ...        ...                ...       ...       ...
443    Providence    RI   Merchant  Providence County      town    164.96
444       Johnson    RI    Esquire  Providence County      town     59.90
445      Cranston    RI     Yeoman  Providence County      town     28.44
446    Providence    RI   Merchant  Providence County      town    142.44
447  Rhode Island    RI   Merchant                NaN     state     33.33

[448 rows x 12 columns]

In [1644]:
OccsTotalsRI = AllOccsRI.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsRI.to_string())

                                                                          occupation   6p_total
0                      Administratrix to the Estate of Joshua Brown Esquire Deceased       0.00
1                                                                        Auctioneers     460.77
2                                                                              Baker     206.37
3                                                                         Blacksmith     540.68
4                                                                         Blockmaker       4.43
5                                                                             Broker     171.50
6                                                                            Butcher     235.70
7                                                                          Carpenter       0.00
8                                                                       Chaise Maker      47.57
9                                                                             Cooper    1596.15
10                                                                        Cordwainer     417.48
11                                                                            Deacon      16.35
12                                                                         Distiller     466.25
13                                                                            Doctor     445.45
14                                                                           Esquier      13.08
15                                                                           Esquire   68388.42
16                                        Extors to the Late Jn Jenckes Esq Deceased     124.50
17                                    Extors to the Late Nicholas Brown Esq Deceased       0.00
18                                                                            Farmer    1487.53
19  General Treasurer of the state of Rhode Island and his suceessors in said office  199740.67
20                                                                         Gentleman    2396.70
21                                                                           Glazier     982.35
22                                                                         Goldsmith       0.00
23                                                                            Hatter     828.66
24                                                                       Housewright     266.67
25                                                                         Innholder    1430.29
26                                                                          Labourer      67.16
27                                                                           Mariner    4857.32
28                                                                             Mason    1152.50
29                                                                          Merchant   99957.63
30                                                                         Merchants       4.29
31                                                                         Physician    2676.24
32                                                                          Reverend    2054.38
33                                                                        Shipwright      89.72
34                                                                         Shoemaker     114.88
35                                                                          Spinster     721.33
36                                                                            Taylor    1297.73
37                                                                            Trader     436.34
38                                                                Traders In Company      43.79
39                                                             Treasurer Town Foster     131.11
40                                                             Treasurer of Scituate     181.80
41           Treasurer of St Johns Ledge No 1 of Tree and accepted Masons Providence     616.67
42                             Treasurer of the Baptist Benevolent Society in Warren     120.83
43                  Treasurer of the Congregational Benevolent Society in Providence     152.46
44               Treasurer of the Society of Cincinnati in the State of Rhode Island    1432.30
45                                 Treasurer of the State of Rhode Island Of Newport    2990.01
46                         Treasurer of the State of Rhode Island Of Newport Esquire   16830.22
47                         Treasurer to the Charitable Baptist Society in Providence     329.16
48                                       Tresurer of the Catholic Society at Bristol      48.72
49                                                                             Widow    6182.06
50                                                                            Yeoman   13137.70
51                                          in behalf of the Proprietors of Tiverton      58.64
52                                               treasurer of the Town of Providence      73.71

In [1645]:
OccsTotalsRI = RemoveStopwords(OccsTotalsRI) 
print(OccsTotalsRI.to_string())

                                                       occupation   6p_total
0             administratrix estate joshua brown esquire deceased       0.00
1                                                     auctioneers     460.77
2                                                           baker     206.37
3                                                      blacksmith     540.68
4                                                      blockmaker       4.43
5                                                          broker     171.50
6                                                         butcher     235.70
7                                                       carpenter       0.00
8                                                    chaise maker      47.57
9                                                          cooper    1596.15
10                                                     cordwainer     417.48
11                                                         deacon      16.35
12                                                      distiller     466.25
13                                                         doctor     445.45
14                                                        esquier      13.08
15                                                        esquire   68388.42
16                            extors late jn jenckes esq deceased     124.50
17                        extors late nicholas brown esq deceased       0.00
18                                                         farmer    1487.53
19    general treasurer state rhode island suceessors said office  199740.67
20                                                      gentleman    2396.70
21                                                        glazier     982.35
22                                                      goldsmith       0.00
23                                                         hatter     828.66
24                                                    housewright     266.67
25                                                      innholder    1430.29
26                                                       labourer      67.16
27                                                        mariner    4857.32
28                                                          mason    1152.50
29                                                       merchant   99957.63
30                                                      merchants       4.29
31                                                      physician    2676.24
32                                                       reverend    2054.38
33                                                     shipwright      89.72
34                                                      shoemaker     114.88
35                                                       spinster     721.33
36                                                         taylor    1297.73
37                                                         trader     436.34
38                                             traders in company      43.79
39                                          treasurer town foster     131.11
40                                             treasurer scituate     181.80
41  treasurer st johns ledge no 1 tree accepted masons providence     616.67
42                    treasurer baptist benevolent society warren     120.83
43         treasurer congregational benevolent society providence     152.46
44                treasurer society cincinnati state rhode island    1432.30
45                        treasurer state rhode island of newport    2990.01
46                treasurer state rhode island of newport esquire   16830.22
47                treasurer charitable baptist society providence     329.16
48                              tresurer catholic society bristol      48.72
49                                                          widow    6182.06
50                                                         yeoman   13137.70
51                                    behalf proprietors tiverton      58.64
52                                      treasurer town providence      73.71

In [1646]:
FindRemoveConst(OccsTotalsRI['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administratrix estate joshua brown esquire deceased --> administratrix estate joshua brown
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise maker
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq deceased --> extors late jn jenckes
extors late nicholas brown esq deceased --> extors late nicholas brown
farmer --> farmer
general treasurer state rhode island suceessors said office --> general treasurer state rhode island suceessors
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in company --> traders
treasurer town foster --> treasurer
treasurer scituate --> treasurer scituate
treasurer st johns ledge no 1 tree accepted masons providence --> treasurer st johns ledge no 1 tree accepted
treasurer baptist benevolent society warren --> treasurer baptist benevolent
treasurer congregational benevolent society providence --> treasurer congregational benevolent
treasurer society cincinnati state rhode island --> treasurer society cincinnati state
treasurer state rhode island of newport --> treasurer state rhode island
treasurer state rhode island of newport esquire --> treasurer state rhode island of
treasurer charitable baptist society providence --> treasurer charitable baptist
tresurer catholic society bristol --> tresurer catholic
widow --> widow
yeoman --> yeoman
behalf proprietors tiverton --> behalf
treasurer town providence --> treasurer

In [1647]:
Remove = 1

In [1648]:
PrintFutureOccupations(OccsTotalsRI['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administratrix estate joshua brown esquire --> administratrix
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq --> extors
extors late nicholas brown esq --> extors
farmer --> farmer
general treasurer state rhode island suceessors said --> general
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in --> traders
treasurer town --> treasurer
treasurer scituate --> treasurer
treasurer st johns ledge no 1 tree accepted masons --> treasurer
treasurer baptist benevolent society --> treasurer
treasurer congregational benevolent society --> treasurer
treasurer society cincinnati state rhode --> treasurer
treasurer state rhode island of --> treasurer
treasurer state rhode island of newport --> treasurer
treasurer charitable baptist society --> treasurer
tresurer catholic society --> tresurer
widow --> widow
yeoman --> yeoman
behalf proprietors --> behalf
treasurer town --> treasurer

In [1649]:
ExceptionsRI = {'general treasurer state rhode island suceessors said' : 'treasurer', 'behalf proprietors' : 'proprietors', 
                'chaise maker' : 'chaise maker'}

In [1650]:
OccsTotalsRI = MergeOccupations(OccsTotalsRI, ExceptionsRI)

After Cleaning
--------------


        occupation   6p_total
0   administratrix       0.00
1      auctioneers     460.77
2            baker     206.37
3       blacksmith     540.68
4       blockmaker       4.43
5           broker     171.50
6          butcher     235.70
7        carpenter       0.00
8     chaise maker      47.57
9           cooper    1596.15
10      cordwainer     417.48
11          deacon      16.35
12       distiller     466.25
13          doctor     445.45
14         esquier      13.08
15         esquire   68388.42
16          extors     124.50
17          extors       0.00
18          farmer    1487.53
19       treasurer  199740.67
20       gentleman    2396.70
21         glazier     982.35
22       goldsmith       0.00
23          hatter     828.66
24     housewright     266.67
25       innholder    1430.29
26        labourer      67.16
27         mariner    4857.32
28           mason    1152.50
29        merchant   99957.63
30       merchants       4.29
31       physician    2676.24
32        reverend    2054.38
33      shipwright      89.72
34       shoemaker     114.88
35        spinster     721.33
36          taylor    1297.73
37          trader     436.34
38         traders      43.79
39       treasurer     131.11
40       treasurer     181.80
41       treasurer     616.67
42       treasurer     120.83
43       treasurer     152.46
44       treasurer    1432.30
45       treasurer    2990.01
46       treasurer   16830.22
47       treasurer     329.16
48        tresurer      48.72
49           widow    6182.06
50          yeoman   13137.70
51     proprietors      58.64
52       treasurer      73.71


After Removing Duplicates and Summing
-------------------------------------


        occupation   6p_total
0   administratrix       0.00
1      auctioneers     460.77
2            baker     206.37
3       blacksmith     540.68
4       blockmaker       4.43
5           broker     171.50
6          butcher     235.70
7        carpenter       0.00
8     chaise maker      47.57
9           cooper    1596.15
10      cordwainer     417.48
11          deacon      16.35
12       distiller     466.25
13          doctor     445.45
14         esquier      13.08
15         esquire   68388.42
16          extors     124.50
17          farmer    1487.53
18       gentleman    2396.70
19         glazier     982.35
20       goldsmith       0.00
21          hatter     828.66
22     housewright     266.67
23       innholder    1430.29
24        labourer      67.16
25         mariner    4857.32
26           mason    1152.50
27        merchant   99957.63
28       merchants       4.29
29       physician    2676.24
30     proprietors      58.64
31        reverend    2054.38
32      shipwright      89.72
33       shoemaker     114.88
34        spinster     721.33
35          taylor    1297.73
36          trader     436.34
37         traders      43.79
38       treasurer  222598.94
39        tresurer      48.72
40           widow    6182.06
41          yeoman   13137.70


Removed: esquire --> esquier
Removed: merchants --> merchant
Removed: traders --> trader
Removed: tresurer --> treasurer


After Using Fuzzy String Matching
---------------------------------


        occupation   6p_total
0   administratrix       0.00
1      auctioneers     460.77
2            baker     206.37
3       blacksmith     540.68
4       blockmaker       4.43
5           broker     171.50
6          butcher     235.70
7        carpenter       0.00
8     chaise maker      47.57
9           cooper    1596.15
10      cordwainer     417.48
11          deacon      16.35
12       distiller     466.25
13          doctor     445.45
14         esquier   68401.50
15          extors     124.50
16          farmer    1487.53
17       gentleman    2396.70
18         glazier     982.35
19       goldsmith       0.00
20          hatter     828.66
21     housewright     266.67
22       innholder    1430.29
23        labourer      67.16
24         mariner    4857.32
25           mason    1152.50
26        merchant   99961.92
27       physician    2676.24
28     proprietors      58.64
29        reverend    2054.38
30      shipwright      89.72
31       shoemaker     114.88
32        spinster     721.33
33          taylor    1297.73
34          trader     480.13
35       treasurer  222647.66
36           widow    6182.06
37          yeoman   13137.70

In [1651]:
TurnToExcel(OccsTotalsRI, State)

# South Carolina

In [1652]:
State = 'SC'
AllOccsSC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsSC = AllOccsSC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsSC)

     6p_Dollar   6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0   824.4133            1.0      412.2033        1.0    941.54
1          1.0  3987.9033            1.0     1993.9533        1.0   3625.67
2         17.0   150.0000           13.0       75.0000       14.0    129.10
3         17.0  1067.9200           13.0      533.9600       14.0   1165.92
4         17.0   195.0200           13.0       97.5100       14.0    212.82
..         ...        ...            ...           ...        ...       ...
286        NaN        NaN            NaN           NaN      651.0     53.00
287        NaN        NaN            NaN           NaN      140.0     77.00
288        NaN        NaN            NaN           NaN      167.0     77.00
289        NaN        NaN            NaN           NaN     3600.0       NaN
290      180.0    47.0000           90.0       24.0000      207.0     93.00

               town state       occupation             county name_type  \
0    South Carolina    SC              Esq                NaN     state
1    South Carolina    SC              Esq                NaN     state
2        Charleston    SC         Merchant  Charleston County      town
3        Charleston    SC         Merchant  Charleston County      town
4          Carolina    SC         Excuetor                NaN     other
..              ...   ...              ...                ...       ...
286      Charleston    SC         Merchant  Charleston County      town
287      Charleston    SC         Merchant  Charleston County      town
288      Charleston    SC  Attorney at Law  Charleston County      town
289      Charleston    SC         Merchant  Charleston County      town
290  South Carolina    SC         Marriner                NaN     state

       6p_total
0      9.244133
1     40.879033
2     18.500000
3     27.679200
4     18.950200
..          ...
286         NaN
287         NaN
288         NaN
289         NaN
290  180.470000

[291 rows x 12 columns]

In [1653]:
OccsTotalsSC = AllOccsSC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsSC.to_string())

                                      occupation      6p_total
0            Administrator to John Harleston Jun     33.330000
1                 Administrator to Joseph Warley   1671.440000
2                       Assignee of James Simons    345.020000
3                                Attorney at Law   3690.940000
4                                      Autioneer     10.650000
5                                   Blacks smith   1423.480000
6                                     Blockmaker   5264.230000
7                                     Bricklayer     37.350000
8                                         Broker   2334.890000
9                                  Cabinet Maker     74.460000
10                                     Carpenter    449.020000
11                          Charleston Merchants     26.670000
12                           Clerk of the Senate   1425.820000
13                     Comtroller of the Customs     53.740000
14                                           Esq     50.123166
15                                      Excuetor     18.950200
16                       Executor Philip Hawkins    239.100000
17                   Executor of Benjamin Tucker    834.860000
18                      Executor of Jacob Smiser     69.020000
19                       Executor of James Peart     12.110000
20                    Executor of Samuel Bonneau     23.720000
21                   Executor of Sarah Lampriere     68.260000
22                     Executor of William Gibbs     66.660000
23                    Executor of William Parker    685.770000
24                     Executor to Richard Mason   1024.910000
25                   Executrix of William Savage     76.700000
26                                        Factor   2961.480000
27                                     Gentleman    474.430000
28                                  Hair Dresser      0.000000
29                                       Mariner    183.534700
30                                      Marriner    180.470000
31                                      Merchant  71013.904200
32       Merchant as Executor to Benjamin Garden    234.960000
33                                     Merchants    163.312700
34                   One of Judges of the Courts   2257.180000
35                                     Penniston    914.240000
36                                     Physician   7971.000000
37                                       Planter  12438.706667
38               Planter as Executor Ely Kershaw    883.330000
39                                       Printer    132.720000
40                                       Sheriff   2133.326667
41                                    Shipwright    153.540000
42                                    Shopkeeper    190.660000
43                                South Carolina      0.000000
44                                      Spinster    364.590000
45                                        Tanner    377.490000
46  Trustee for the Cincinnati of South Carolina   2439.020000
47                                 Vendue Master    112.540000
48                                         Widow   4910.700000
49         as Guardian to Mary Deborah L. Gowdey     17.150000
50   as treasurer of the State of south carolina    262.140000

In [1654]:
OccsTotalsSC = RemoveStopwords(OccsTotalsSC) 
print(OccsTotalsSC.to_string())

                           occupation      6p_total
0    administrator john harleston jun     33.330000
1         administrator joseph warley   1671.440000
2               assignee james simons    345.020000
3                        attorney law   3690.940000
4                           autioneer     10.650000
5                        blacks smith   1423.480000
6                          blockmaker   5264.230000
7                          bricklayer     37.350000
8                              broker   2334.890000
9                       cabinet maker     74.460000
10                          carpenter    449.020000
11               charleston merchants     26.670000
12                       clerk senate   1425.820000
13                 comtroller customs     53.740000
14                                esq     50.123166
15                           excuetor     18.950200
16            executor philip hawkins    239.100000
17           executor benjamin tucker    834.860000
18              executor jacob smiser     69.020000
19               executor james peart     12.110000
20            executor samuel bonneau     23.720000
21           executor sarah lampriere     68.260000
22             executor william gibbs     66.660000
23            executor william parker    685.770000
24             executor richard mason   1024.910000
25           executrix william savage     76.700000
26                             factor   2961.480000
27                          gentleman    474.430000
28                       hair dresser      0.000000
29                            mariner    183.534700
30                           marriner    180.470000
31                           merchant  71013.904200
32  merchant executor benjamin garden    234.960000
33                          merchants    163.312700
34                  one judges courts   2257.180000
35                          penniston    914.240000
36                          physician   7971.000000
37                            planter  12438.706667
38       planter executor ely kershaw    883.330000
39                            printer    132.720000
40                            sheriff   2133.326667
41                         shipwright    153.540000
42                         shopkeeper    190.660000
43                     south carolina      0.000000
44                           spinster    364.590000
45                             tanner    377.490000
46  trustee cincinnati south carolina   2439.020000
47                      vendue master    112.540000
48                              widow   4910.700000
49    guardian mary deborah l. gowdey     17.150000
50     treasurer state south carolina    262.140000

In [1655]:
FindRemoveConst(OccsTotalsSC['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administrator john harleston jun --> administrator john harleston
administrator joseph warley --> administrator joseph
assignee james simons --> assignee james
attorney law --> attorney law
autioneer --> autioneer
blacks smith --> blacks smith
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet maker
carpenter --> carpenter
charleston merchants --> charleston merchants
clerk senate --> clerk senate
comtroller customs --> comtroller customs
esq --> esq
excuetor --> excuetor
executor philip hawkins --> executor philip
executor benjamin tucker --> executor benjamin
executor jacob smiser --> executor jacob
executor james peart --> executor james
executor samuel bonneau --> executor samuel
executor sarah lampriere --> executor sarah
executor william gibbs --> executor william
executor william parker --> executor william
executor richard mason --> executor richard
executrix william savage --> executrix william
factor --> factor
gentleman --> gentleman
hair dresser --> hair dresser
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin garden --> merchant executor benjamin
merchants --> merchants
one judges courts --> one judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely kershaw --> planter executor ely
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south carolina
spinster --> spinster
tanner --> tanner
trustee cincinnati south carolina --> trustee cincinnati south
vendue master --> vendue master
widow --> widow
guardian mary deborah l. gowdey --> guardian mary deborah l.
treasurer state south carolina --> treasurer state south

In [1656]:
Remove = 1

In [1657]:
PrintFutureOccupations(OccsTotalsSC['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator john harleston --> administrator
administrator joseph --> administrator
assignee james --> assignee
attorney law --> attorney
autioneer --> autioneer
blacks smith --> blacks
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet
carpenter --> carpenter
charleston merchants --> charleston
clerk senate --> clerk
comtroller customs --> comtroller
esq --> esq
excuetor --> excuetor
executor philip --> executor
executor benjamin --> executor
executor jacob --> executor
executor james --> executor
executor samuel --> executor
executor sarah --> executor
executor william --> executor
executor william --> executor
executor richard --> executor
executrix william --> executrix
factor --> factor
gentleman --> gentleman
hair dresser --> hair
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin --> merchant
merchants --> merchants
one judges --> judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely --> planter
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south
spinster --> spinster
tanner --> tanner
trustee cincinnati south --> trustee
vendue master --> vendue
widow --> widow
guardian mary deborah l. --> guardian
treasurer state south --> treasurer

In [1658]:
ExceptionsSC = {'executrix william' : 'executor', 'blacks smith' : 'blacksmith', 'cabinet maker' : 'cabinet maker', 'charleston merchants' : 'merchants', 
               'hair dresser' : 'hair dresser', 'south carolina' : 'south carolina', 'vendue master' : 'auctioneer'}

In [1659]:
OccsTotalsSC = MergeOccupations(OccsTotalsSC, ExceptionsSC)

After Cleaning
--------------


        occupation      6p_total
0    administrator     33.330000
1    administrator   1671.440000
2         assignee    345.020000
3         attorney   3690.940000
4        autioneer     10.650000
5       blacksmith   1423.480000
6       blockmaker   5264.230000
7       bricklayer     37.350000
8           broker   2334.890000
9    cabinet maker     74.460000
10       carpenter    449.020000
11       merchants     26.670000
12           clerk   1425.820000
13      comtroller     53.740000
14             esq     50.123166
15        excuetor     18.950200
16        executor    239.100000
17        executor    834.860000
18        executor     69.020000
19        executor     12.110000
20        executor     23.720000
21        executor     68.260000
22        executor     66.660000
23        executor    685.770000
24        executor   1024.910000
25        executor     76.700000
26          factor   2961.480000
27       gentleman    474.430000
28    hair dresser      0.000000
29         mariner    183.534700
30        marriner    180.470000
31        merchant  71013.904200
32        merchant    234.960000
33       merchants    163.312700
34          judges   2257.180000
35       penniston    914.240000
36       physician   7971.000000
37         planter  12438.706667
38         planter    883.330000
39         printer    132.720000
40         sheriff   2133.326667
41      shipwright    153.540000
42      shopkeeper    190.660000
43  south carolina      0.000000
44        spinster    364.590000
45          tanner    377.490000
46         trustee   2439.020000
47      auctioneer    112.540000
48           widow   4910.700000
49        guardian     17.150000
50       treasurer    262.140000


After Removing Duplicates and Summing
-------------------------------------


        occupation      6p_total
0    administrator   1704.770000
1         assignee    345.020000
2         attorney   3690.940000
3       auctioneer    112.540000
4        autioneer     10.650000
5       blacksmith   1423.480000
6       blockmaker   5264.230000
7       bricklayer     37.350000
8           broker   2334.890000
9    cabinet maker     74.460000
10       carpenter    449.020000
11           clerk   1425.820000
12      comtroller     53.740000
13             esq     50.123166
14        excuetor     18.950200
15        executor   3101.110000
16          factor   2961.480000
17       gentleman    474.430000
18        guardian     17.150000
19    hair dresser      0.000000
20          judges   2257.180000
21         mariner    183.534700
22        marriner    180.470000
23        merchant  71248.864200
24       merchants    189.982700
25       penniston    914.240000
26       physician   7971.000000
27         planter  13322.036667
28         printer    132.720000
29         sheriff   2133.326667
30      shipwright    153.540000
31      shopkeeper    190.660000
32  south carolina      0.000000
33        spinster    364.590000
34          tanner    377.490000
35       treasurer    262.140000
36         trustee   2439.020000
37           widow   4910.700000


Removed: autioneer --> auctioneer
Removed: executor --> excuetor
Removed: marriner --> mariner
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


        occupation      6p_total
0    administrator   1704.770000
1         assignee    345.020000
2         attorney   3690.940000
3       auctioneer    123.190000
4       blacksmith   1423.480000
5       blockmaker   5264.230000
6       bricklayer     37.350000
7           broker   2334.890000
8    cabinet maker     74.460000
9        carpenter    449.020000
10           clerk   1425.820000
11      comtroller     53.740000
12             esq     50.123166
13        excuetor   3120.060200
14          factor   2961.480000
15       gentleman    474.430000
16        guardian     17.150000
17    hair dresser      0.000000
18          judges   2257.180000
19         mariner    364.004700
20        merchant  71438.846900
21       penniston    914.240000
22       physician   7971.000000
23         planter  13322.036667
24         printer    132.720000
25         sheriff   2133.326667
26      shipwright    153.540000
27      shopkeeper    190.660000
28  south carolina      0.000000
29        spinster    364.590000
30          tanner    377.490000
31       treasurer    262.140000
32         trustee   2439.020000
33           widow   4910.700000

In [1660]:
TurnToExcel(OccsTotalsSC, State)

# Virginia

In [1661]:
State = 'VA'
AllOccsVA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsVA = AllOccsVA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsVA)

   6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       17.0  351.6233           13.0      175.8133       14.0    384.09
1       78.0   33.0000           39.0       17.0000       42.0     30.00
2       66.0   66.0000           33.0       33.0000       63.0     24.00
3        3.0   82.0000            1.0       92.0000        3.0     74.00
4       46.0    2.0000           23.0        1.0000       44.0     89.00

                        town state occupation             county name_type  \
0        Portsmouth Virginia    VA  Merchants  Rockingham County      town
1   Accomack County Virginia    VA  Gentleman    Accomack County    county
2  Virginia and Philadelphia    VA   Merchant                NaN     state
3  Virginia and Philadelphia    VA   Merchant                NaN     state
4              Williamsburgh    VA     Weaver  Greenbrier County      town

    6p_total
0  20.516233
1  78.330000
2  66.660000
3   3.820000
4  46.020000

In [1662]:
OccsTotalsVA = AllOccsVA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsVA.to_string())

  occupation   6p_total
0  Gentleman  78.330000
1   Merchant  70.480000
2  Merchants  20.516233
3     Weaver  46.020000

In [1663]:
OccsTotalsVA = RemoveStopwords(OccsTotalsVA) 
print(OccsTotalsVA.to_string())

  occupation   6p_total
0  gentleman  78.330000
1   merchant  70.480000
2  merchants  20.516233
3     weaver  46.020000

In [1664]:
FindRemoveConst(OccsTotalsVA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
weaver --> weaver

In [1665]:
PrintFutureOccupations(OccsTotalsVA['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
weaver --> weaver

In [1666]:
ExceptionsVA = {}

In [1667]:
OccsTotalsVA = MergeOccupations(OccsTotalsVA, ExceptionsVA)

After Cleaning
--------------


  occupation   6p_total
0  gentleman  78.330000
1   merchant  70.480000
2  merchants  20.516233
3     weaver  46.020000


After Removing Duplicates and Summing
-------------------------------------


  occupation   6p_total
0  gentleman  78.330000
1   merchant  70.480000
2  merchants  20.516233
3     weaver  46.020000


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


  occupation   6p_total
0  gentleman  78.330000
1   merchant  90.996233
2     weaver  46.020000

In [1668]:
TurnToExcel(OccsTotalsVA, State)

# All States

In [1669]:
#Append each states occupation + totals dataframes to the end of each other. 
OccsTotalsAll = pd.concat([OccsTotalsCT, OccsTotalsGA, OccsTotalsMD, OccsTotalsNC, OccsTotalsNH, OccsTotalsNJ,
                          OccsTotalsNY, OccsTotalsPA, OccsTotalsRI, OccsTotalsSC, OccsTotalsVA]).reset_index(drop=True)
print(OccsTotalsAll.to_string())

           occupation       6p_total
0       adminastrator    4081.060000
1          apothecary       7.720000
2            attorney   11114.600000
3          blacksmith     724.710000
4              broker     208.550000
5           carpenter     175.340000
6             cashier      85.300000
7            clothier      53.330000
8           committee     863.410000
9              cooper     124.760000
10             doctor     647.090000
11            esquire   13020.090000
12           executor    4558.250000
13             farmer   36715.820000
14          gentleman   16624.320000
15          goldsmith       6.820000
16           guardian    1245.620000
17             hatter     242.990000
18         inn keeper     201.530000
19             joiner      53.330000
20    leather dresser     666.670000
21            mariner    3831.050000
22           merchant   63765.000000
23             miller      18.990000
24            molster     211.380000
25          physician    1303.460000
26         post rider     676.910000
27            printer     204.780000
28        proprietors     276.900000
29             sadler    3524.740000
30   school committee    1071.650000
31      school master    2213.750000
32          sherriffs     512.450000
33         shipwright     533.330000
34          shoemaker    1345.460000
35            soldier      78.480000
36           spinster    1731.580000
37             tanner     713.060000
38             taylor     209.810000
39             trader    9454.130000
40          treasurer   15387.150000
41              widow    6488.110000
42               wife      63.640000
43             yeoman      64.540000
44                esq     102.089033
45          gentleman    4586.660000
46           merchant   10577.739829
47      administrator      22.500000
48            company     206.670000
49                esq      17.665733
50           executor     303.770000
51           merchant   78510.940000
52          shoemaker    1237.070000
53         shopkeeper      33.330000
54               asse       0.000000
55            doctors    2008.370000
56             farmer      62.510000
57           merchant     861.530000
58     north carolina    4780.840000
59          treasurer   12283.440000
60              baker    2159.040000
61         blacksmith      54.880000
62              clerk     715.600000
63         cordwainer     742.050000
64            esquire   61539.890000
65             farmer     778.040000
66          gentleman    3603.060000
67          goldsmith     871.320000
68             joiner     106.610000
69           marniner     785.620000
70           merchant   29715.410000
71            painter      48.610000
72          physician    7111.430000
73           spinster      89.130000
74             trader    2807.270000
75          treasurer     149.620000
76              widow    8790.450000
77             yeoman    3397.940000
78           attorney    1325.680000
79            esquire       0.000000
80           executor    1324.810000
81             farmer       3.340000
82          gentleman    6063.150000
83           merchant     235.010000
84          physician     384.340000
85              trust      16.670000
86             broker    1776.120000
87             farmer     674.310000
88            mariner     377.490000
89           merchant    7448.803133
90          physician     933.330000
91       schoolmaster     131.150000
92         administer    2692.480000
93           attorney    8696.680000
94         blacksmith     692.250000
95        book binder     783.070000
96             broker   74699.960000
97              clerk    1855.580000
98                 co    2898.860000
99        conveyancer     108.400000
100       cordwainder     281.250000
101          druggist    4922.430000
102           esquier   41442.240000
103            estate    1979.600000
104         executers    8787.960000
105            farmer    1685.810000
106           furrier    3107.180000
107         gentleman    7540.660000
108         goldsmith     142.220000
109          guardian    4539.960000
110            hatter    2291.760000
111        individual     846.230000
112        inn keeper    1668.680000
113          marchant  612574.610000
114           mariner    3906.571400
115      pennsylvania     856.560000
116         physician    1769.010000
117       post master    7083.530000
118           printer    7717.740000
119          property     461.110000
120          reverend     224.120000
121           sheriff      56.210000
122       ship wright    1241.760000
123        shopkeeper     588.950000
124       silversmith    1917.650000
125          spinster     528.330000
126            tanner    1192.250000
127            taylor    2137.390000
128         treasurer     714.810000
129             trust    2054.640000
130             widow    5576.530000
131            yeoman    1136.060000
132    administratrix       0.000000
133       auctioneers     460.770000
134             baker     206.370000
135        blacksmith     540.680000
136        blockmaker       4.430000
137            broker     171.500000
138           butcher     235.700000
139         carpenter       0.000000
140      chaise maker      47.570000
141            cooper    1596.150000
142        cordwainer     417.480000
143            deacon      16.350000
144         distiller     466.250000
145            doctor     445.450000
146           esquier   68401.500000
147            extors     124.500000
148            farmer    1487.530000
149         gentleman    2396.700000
150           glazier     982.350000
151         goldsmith       0.000000
152            hatter     828.660000
153       housewright     266.670000
154         innholder    1430.290000
155          labourer      67.160000
156           mariner    4857.320000
157             mason    1152.500000
158          merchant   99961.920000
159         physician    2676.240000
160       proprietors      58.640000
161          reverend    2054.380000
162        shipwright      89.720000
163         shoemaker     114.880000
164          spinster     721.330000
165            taylor    1297.730000
166            trader     480.130000
167         treasurer  222647.660000
168             widow    6182.060000
169            yeoman   13137.700000
170     administrator    1704.770000
171          assignee     345.020000
172          attorney    3690.940000
173        auctioneer     123.190000
174        blacksmith    1423.480000
175        blockmaker    5264.230000
176        bricklayer      37.350000
177            broker    2334.890000
178     cabinet maker      74.460000
179         carpenter     449.020000
180             clerk    1425.820000
181        comtroller      53.740000
182               esq      50.123166
183          excuetor    3120.060200
184            factor    2961.480000
185         gentleman     474.430000
186          guardian      17.150000
187      hair dresser       0.000000
188            judges    2257.180000
189           mariner     364.004700
190          merchant   71438.846900
191         penniston     914.240000
192         physician    7971.000000
193           planter   13322.036667
194           printer     132.720000
195           sheriff    2133.326667
196        shipwright     153.540000
197        shopkeeper     190.660000
198    south carolina       0.000000
199          spinster     364.590000
200            tanner     377.490000
201         treasurer     262.140000
202           trustee    2439.020000
203             widow    4910.700000
204         gentleman      78.330000
205          merchant      90.996233
206            weaver      46.020000

In [1670]:
OccsTotalsAll = OccsTotalsAll.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsAll.to_string())

           occupation       6p_total
0       adminastrator    4081.060000
1          administer    2692.480000
2       administrator    1727.270000
3      administratrix       0.000000
4          apothecary       7.720000
5                asse       0.000000
6            assignee     345.020000
7            attorney   24827.900000
8          auctioneer     123.190000
9         auctioneers     460.770000
10              baker    2365.410000
11         blacksmith    3436.000000
12         blockmaker    5268.660000
13        book binder     783.070000
14         bricklayer      37.350000
15             broker   79191.020000
16            butcher     235.700000
17      cabinet maker      74.460000
18          carpenter     624.360000
19            cashier      85.300000
20       chaise maker      47.570000
21              clerk    3997.000000
22           clothier      53.330000
23                 co    2898.860000
24          committee     863.410000
25            company     206.670000
26         comtroller      53.740000
27        conveyancer     108.400000
28             cooper    1720.910000
29        cordwainder     281.250000
30         cordwainer    1159.530000
31             deacon      16.350000
32          distiller     466.250000
33             doctor    1092.540000
34            doctors    2008.370000
35           druggist    4922.430000
36                esq     169.877932
37            esquier  109843.740000
38            esquire   74559.980000
39             estate    1979.600000
40           excuetor    3120.060200
41          executers    8787.960000
42           executor    6186.830000
43             extors     124.500000
44             factor    2961.480000
45             farmer   41407.360000
46            furrier    3107.180000
47          gentleman   41367.310000
48            glazier     982.350000
49          goldsmith    1020.360000
50           guardian    5802.730000
51       hair dresser       0.000000
52             hatter    3363.410000
53        housewright     266.670000
54         individual     846.230000
55         inn keeper    1870.210000
56          innholder    1430.290000
57             joiner     159.940000
58             judges    2257.180000
59           labourer      67.160000
60    leather dresser     666.670000
61           marchant  612574.610000
62            mariner   13336.436100
63           marniner     785.620000
64              mason    1152.500000
65           merchant  362606.196095
66             miller      18.990000
67            molster     211.380000
68     north carolina    4780.840000
69            painter      48.610000
70          penniston     914.240000
71       pennsylvania     856.560000
72          physician   22148.810000
73            planter   13322.036667
74        post master    7083.530000
75         post rider     676.910000
76            printer    8055.240000
77           property     461.110000
78        proprietors     335.540000
79           reverend    2278.500000
80             sadler    3524.740000
81   school committee    1071.650000
82      school master    2213.750000
83       schoolmaster     131.150000
84            sheriff    2189.536667
85          sherriffs     512.450000
86        ship wright    1241.760000
87         shipwright     776.590000
88          shoemaker    2697.410000
89         shopkeeper     812.940000
90        silversmith    1917.650000
91            soldier      78.480000
92     south carolina       0.000000
93           spinster    3434.960000
94             tanner    2282.800000
95             taylor    3644.930000
96             trader   12741.530000
97          treasurer  251444.820000
98              trust    2071.310000
99            trustee    2439.020000
100            weaver      46.020000
101             widow   31947.850000
102              wife      63.640000
103            yeoman   17736.240000

In [1671]:
PrintFutureOccupations(OccsTotalsAll['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


adminastrator --> adminastrator
administer --> administer
administrator --> administrator
administratrix --> administratrix
apothecary --> apothecary
asse --> asse
assignee --> assignee
attorney --> attorney
auctioneer --> auctioneer
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
book binder --> book
bricklayer --> bricklayer
broker --> broker
butcher --> butcher
cabinet maker --> cabinet
carpenter --> carpenter
cashier --> cashier
chaise maker --> chaise
clerk --> clerk
clothier --> clothier
co --> co
committee --> committee
company --> company
comtroller --> comtroller
conveyancer --> conveyancer
cooper --> cooper
cordwainder --> cordwainder
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
doctors --> doctors
druggist --> druggist
esq --> esq
esquier --> esquier
esquire --> esquire
estate --> estate
excuetor --> excuetor
executers --> executers
executor --> executor
extors --> extors
factor --> factor
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
guardian --> guardian
hair dresser --> hair
hatter --> hatter
housewright --> housewright
individual --> individual
inn keeper --> inn
innholder --> innholder
joiner --> joiner
judges --> judges
labourer --> labourer
leather dresser --> leather
marchant --> marchant
mariner --> mariner
marniner --> marniner
mason --> mason
merchant --> merchant
miller --> miller
molster --> molster
north carolina --> north
painter --> painter
penniston --> penniston
pennsylvania --> pennsylvania
physician --> physician
planter --> planter
post master --> post
post rider --> post
printer --> printer
property --> property
proprietors --> proprietors
reverend --> reverend
sadler --> sadler
school committee --> school
school master --> school
schoolmaster --> schoolmaster
sheriff --> sheriff
sherriffs --> sherriffs
ship wright --> ship
shipwright --> shipwright
shoemaker --> shoemaker
shopkeeper --> shopkeeper
silversmith --> silversmith
soldier --> soldier
south carolina --> south
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
treasurer --> treasurer
trust --> trust
trustee --> trustee
weaver --> weaver
widow --> widow
wife --> wife
yeoman --> yeoman

In [1672]:
ExceptionsAll = {'book binder' : 'book binder', 'cabinet maker' : 'cabinet maker', 'chaise maker' : 'chaise maker', 'esq' : 'esquire',
                'extors' : 'executors', 'hair dresser' : 'hair dresser', 'inn keeper' : 'inn keeper', 'junior broker' : 'broker',
                'leather dresser' : 'leather dresser', 'north carolina' : 'north carolina', 'post master' : 'post master', 
                'post rider' : 'post rider', 'school committee' : 'school committee', 'school master' : 'schoolmaster', 'ship wright' : 'shipwright',
                'south carolina' : 'south carolina', 'administer' : 'adminastrator', 'excuetor' : 'executor'}

In [1673]:
NoMerge = ['planter', 'printer']

In [1674]:
OccsTotalsAll = MergeOccupations(OccsTotalsAll, ExceptionsAll)

After Cleaning
--------------


           occupation       6p_total
0       adminastrator    4081.060000
1       adminastrator    2692.480000
2       administrator    1727.270000
3      administratrix       0.000000
4          apothecary       7.720000
5                asse       0.000000
6            assignee     345.020000
7            attorney   24827.900000
8          auctioneer     123.190000
9         auctioneers     460.770000
10              baker    2365.410000
11         blacksmith    3436.000000
12         blockmaker    5268.660000
13        book binder     783.070000
14         bricklayer      37.350000
15             broker   79191.020000
16            butcher     235.700000
17      cabinet maker      74.460000
18          carpenter     624.360000
19            cashier      85.300000
20       chaise maker      47.570000
21              clerk    3997.000000
22           clothier      53.330000
23                 co    2898.860000
24          committee     863.410000
25            company     206.670000
26         comtroller      53.740000
27        conveyancer     108.400000
28             cooper    1720.910000
29        cordwainder     281.250000
30         cordwainer    1159.530000
31             deacon      16.350000
32          distiller     466.250000
33             doctor    1092.540000
34            doctors    2008.370000
35           druggist    4922.430000
36            esquire     169.877932
37            esquier  109843.740000
38            esquire   74559.980000
39             estate    1979.600000
40           executor    3120.060200
41          executers    8787.960000
42           executor    6186.830000
43          executors     124.500000
44             factor    2961.480000
45             farmer   41407.360000
46            furrier    3107.180000
47          gentleman   41367.310000
48            glazier     982.350000
49          goldsmith    1020.360000
50           guardian    5802.730000
51       hair dresser       0.000000
52             hatter    3363.410000
53        housewright     266.670000
54         individual     846.230000
55         inn keeper    1870.210000
56          innholder    1430.290000
57             joiner     159.940000
58             judges    2257.180000
59           labourer      67.160000
60    leather dresser     666.670000
61           marchant  612574.610000
62            mariner   13336.436100
63           marniner     785.620000
64              mason    1152.500000
65           merchant  362606.196095
66             miller      18.990000
67            molster     211.380000
68     north carolina    4780.840000
69            painter      48.610000
70          penniston     914.240000
71       pennsylvania     856.560000
72          physician   22148.810000
73            planter   13322.036667
74        post master    7083.530000
75         post rider     676.910000
76            printer    8055.240000
77           property     461.110000
78        proprietors     335.540000
79           reverend    2278.500000
80             sadler    3524.740000
81   school committee    1071.650000
82       schoolmaster    2213.750000
83       schoolmaster     131.150000
84            sheriff    2189.536667
85          sherriffs     512.450000
86         shipwright    1241.760000
87         shipwright     776.590000
88          shoemaker    2697.410000
89         shopkeeper     812.940000
90        silversmith    1917.650000
91            soldier      78.480000
92     south carolina       0.000000
93           spinster    3434.960000
94             tanner    2282.800000
95             taylor    3644.930000
96             trader   12741.530000
97          treasurer  251444.820000
98              trust    2071.310000
99            trustee    2439.020000
100            weaver      46.020000
101             widow   31947.850000
102              wife      63.640000
103            yeoman   17736.240000


After Removing Duplicates and Summing
-------------------------------------


          occupation       6p_total
0      adminastrator    6773.540000
1      administrator    1727.270000
2     administratrix       0.000000
3         apothecary       7.720000
4               asse       0.000000
5           assignee     345.020000
6           attorney   24827.900000
7         auctioneer     123.190000
8        auctioneers     460.770000
9              baker    2365.410000
10        blacksmith    3436.000000
11        blockmaker    5268.660000
12       book binder     783.070000
13        bricklayer      37.350000
14            broker   79191.020000
15           butcher     235.700000
16     cabinet maker      74.460000
17         carpenter     624.360000
18           cashier      85.300000
19      chaise maker      47.570000
20             clerk    3997.000000
21          clothier      53.330000
22                co    2898.860000
23         committee     863.410000
24           company     206.670000
25        comtroller      53.740000
26       conveyancer     108.400000
27            cooper    1720.910000
28       cordwainder     281.250000
29        cordwainer    1159.530000
30            deacon      16.350000
31         distiller     466.250000
32            doctor    1092.540000
33           doctors    2008.370000
34          druggist    4922.430000
35           esquier  109843.740000
36           esquire   74729.857932
37            estate    1979.600000
38         executers    8787.960000
39          executor    9306.890200
40         executors     124.500000
41            factor    2961.480000
42            farmer   41407.360000
43           furrier    3107.180000
44         gentleman   41367.310000
45           glazier     982.350000
46         goldsmith    1020.360000
47          guardian    5802.730000
48      hair dresser       0.000000
49            hatter    3363.410000
50       housewright     266.670000
51        individual     846.230000
52        inn keeper    1870.210000
53         innholder    1430.290000
54            joiner     159.940000
55            judges    2257.180000
56          labourer      67.160000
57   leather dresser     666.670000
58          marchant  612574.610000
59           mariner   13336.436100
60          marniner     785.620000
61             mason    1152.500000
62          merchant  362606.196095
63            miller      18.990000
64           molster     211.380000
65    north carolina    4780.840000
66           painter      48.610000
67         penniston     914.240000
68      pennsylvania     856.560000
69         physician   22148.810000
70           planter   13322.036667
71       post master    7083.530000
72        post rider     676.910000
73           printer    8055.240000
74          property     461.110000
75       proprietors     335.540000
76          reverend    2278.500000
77            sadler    3524.740000
78  school committee    1071.650000
79      schoolmaster    2344.900000
80           sheriff    2189.536667
81         sherriffs     512.450000
82        shipwright    2018.350000
83         shoemaker    2697.410000
84        shopkeeper     812.940000
85       silversmith    1917.650000
86           soldier      78.480000
87    south carolina       0.000000
88          spinster    3434.960000
89            tanner    2282.800000
90            taylor    3644.930000
91            trader   12741.530000
92         treasurer  251444.820000
93             trust    2071.310000
94           trustee    2439.020000
95            weaver      46.020000
96             widow   31947.850000
97              wife      63.640000
98            yeoman   17736.240000


Removed: administrator --> adminastrator
Removed: administratrix --> adminastrator
Removed: auctioneers --> auctioneer
Removed: cordwainer --> cordwainder
Removed: doctors --> doctor
Removed: esquire --> esquier
Removed: executor --> executers
Removed: executors --> executers
Removed: merchant --> marchant
Removed: marniner --> mariner
Removed: south carolina --> north carolina
Removed: sherriffs --> sheriff
Removed: trustee --> trust


After Using Fuzzy String Matching
---------------------------------


          occupation       6p_total
0      adminastrator    8500.810000
1         apothecary       7.720000
2               asse       0.000000
3           assignee     345.020000
4           attorney   24827.900000
5         auctioneer     583.960000
6              baker    2365.410000
7         blacksmith    3436.000000
8         blockmaker    5268.660000
9        book binder     783.070000
10        bricklayer      37.350000
11            broker   79191.020000
12           butcher     235.700000
13     cabinet maker      74.460000
14         carpenter     624.360000
15           cashier      85.300000
16      chaise maker      47.570000
17             clerk    3997.000000
18          clothier      53.330000
19                co    2898.860000
20         committee     863.410000
21           company     206.670000
22        comtroller      53.740000
23       conveyancer     108.400000
24            cooper    1720.910000
25       cordwainder    1440.780000
26            deacon      16.350000
27         distiller     466.250000
28            doctor    3100.910000
29          druggist    4922.430000
30           esquier  184573.597932
31            estate    1979.600000
32         executers   18219.350200
33            factor    2961.480000
34            farmer   41407.360000
35           furrier    3107.180000
36         gentleman   41367.310000
37           glazier     982.350000
38         goldsmith    1020.360000
39          guardian    5802.730000
40      hair dresser       0.000000
41            hatter    3363.410000
42       housewright     266.670000
43        individual     846.230000
44        inn keeper    1870.210000
45         innholder    1430.290000
46            joiner     159.940000
47            judges    2257.180000
48          labourer      67.160000
49   leather dresser     666.670000
50          marchant  975180.806095
51           mariner   14122.056100
52             mason    1152.500000
53            miller      18.990000
54           molster     211.380000
55    north carolina    4780.840000
56           painter      48.610000
57         penniston     914.240000
58      pennsylvania     856.560000
59         physician   22148.810000
60           planter   13322.036667
61       post master    7083.530000
62        post rider     676.910000
63           printer    8055.240000
64          property     461.110000
65       proprietors     335.540000
66          reverend    2278.500000
67            sadler    3524.740000
68  school committee    1071.650000
69      schoolmaster    2344.900000
70           sheriff    2701.986667
71        shipwright    2018.350000
72         shoemaker    2697.410000
73        shopkeeper     812.940000
74       silversmith    1917.650000
75           soldier      78.480000
76          spinster    3434.960000
77            tanner    2282.800000
78            taylor    3644.930000
79            trader   12741.530000
80         treasurer  251444.820000
81             trust    4510.330000
82            weaver      46.020000
83             widow   31947.850000
84              wife      63.640000
85            yeoman   17736.240000

In [1675]:
#Remove any occupatins will a total of '0'
OccsTotalsAll = OccsTotalsAll[OccsTotalsAll['6p_total'] != 0].reset_index(drop=True)
print(OccsTotalsAll.to_string())

          occupation       6p_total
0      adminastrator    8500.810000
1         apothecary       7.720000
2           assignee     345.020000
3           attorney   24827.900000
4         auctioneer     583.960000
5              baker    2365.410000
6         blacksmith    3436.000000
7         blockmaker    5268.660000
8        book binder     783.070000
9         bricklayer      37.350000
10            broker   79191.020000
11           butcher     235.700000
12     cabinet maker      74.460000
13         carpenter     624.360000
14           cashier      85.300000
15      chaise maker      47.570000
16             clerk    3997.000000
17          clothier      53.330000
18                co    2898.860000
19         committee     863.410000
20           company     206.670000
21        comtroller      53.740000
22       conveyancer     108.400000
23            cooper    1720.910000
24       cordwainder    1440.780000
25            deacon      16.350000
26         distiller     466.250000
27            doctor    3100.910000
28          druggist    4922.430000
29           esquier  184573.597932
30            estate    1979.600000
31         executers   18219.350200
32            factor    2961.480000
33            farmer   41407.360000
34           furrier    3107.180000
35         gentleman   41367.310000
36           glazier     982.350000
37         goldsmith    1020.360000
38          guardian    5802.730000
39            hatter    3363.410000
40       housewright     266.670000
41        individual     846.230000
42        inn keeper    1870.210000
43         innholder    1430.290000
44            joiner     159.940000
45            judges    2257.180000
46          labourer      67.160000
47   leather dresser     666.670000
48          marchant  975180.806095
49           mariner   14122.056100
50             mason    1152.500000
51            miller      18.990000
52           molster     211.380000
53    north carolina    4780.840000
54           painter      48.610000
55         penniston     914.240000
56      pennsylvania     856.560000
57         physician   22148.810000
58           planter   13322.036667
59       post master    7083.530000
60        post rider     676.910000
61           printer    8055.240000
62          property     461.110000
63       proprietors     335.540000
64          reverend    2278.500000
65            sadler    3524.740000
66  school committee    1071.650000
67      schoolmaster    2344.900000
68           sheriff    2701.986667
69        shipwright    2018.350000
70         shoemaker    2697.410000
71        shopkeeper     812.940000
72       silversmith    1917.650000
73           soldier      78.480000
74          spinster    3434.960000
75            tanner    2282.800000
76            taylor    3644.930000
77            trader   12741.530000
78         treasurer  251444.820000
79             trust    4510.330000
80            weaver      46.020000
81             widow   31947.850000
82              wife      63.640000
83            yeoman   17736.240000

In [1676]:
TurnToExcel(OccsTotalsAll, 'AllStates')