In [681]:
import pandas as pd
import numpy as np
from rapidfuzz import process, fuzz
import os

NOTE1: there are several duplicate records.  
NOTE2: one record (id: 537) has state CT but town is Vermont - possible that similar mistakes elsewhere.  
NOTE3: how to distinguish town/county level - may need a list for reference if want to step further.  
NOTE4: now need a manual check ('Haddam' =>'East Haddam')


## Cleaning town names

Goals:
- Clean town names that are different but refer to the same town in `ASD_all.xlsx` and `CD_all.xlsx`.
- check if all town names are in the "town-county" matching list given by `final_cw.xlsx` - if so, perform the matching.


Step 1: flag by 1 records that have NA "state" and "town" values.

In [682]:
# import and cleaning
ASD_all = pd.read_excel(
    'ASD_all.xlsx', index_col=0).reset_index(drop=True).dropna(how='all').drop_duplicates().reset_index(drop=True)
# CD_all = pd.read_excel(
#     'CD_all.xlsx', index_col=0).reset_index(drop=True).dropna(how='all').drop_duplicates().reset_index(drop=True)

CD_all = pd.read_csv('../../Data/Post1790/aggregated_CD_noname.csv', index_col=0)

# strip white space
for col in ['town', 'state', 'occupation']:
    ASD_all[col] = ASD_all[col].str.strip()
    CD_all[col] = CD_all[col].str.strip()

ASD_all['orig_town'] = ASD_all['town']
CD_all['orig_town'] = CD_all['town']
    
print(ASD_all.shape, CD_all.shape)

CD_all.drop(['name_type', 'county'], axis=1, inplace=True)

(5674, 10) (4377, 13)

In [683]:
ASD_all['FLAG'], CD_all['FLAG'] = 0, 0

# identify NA rows
ASD_all.loc[(pd.isna(ASD_all['town'])) | (pd.isna(ASD_all['state'])), 'FLAG'] = 1
CD_all.loc[(pd.isna(CD_all['town'])) | (pd.isna(CD_all['state'])), 'FLAG'] = 1

# select non-NA subdataframe
ASD_no_NA = ASD_all[ASD_all['FLAG']==0]
CD_no_NA = CD_all[CD_all['FLAG']==0]

In [684]:
# check all states
print(
    set(list(ASD_no_NA.state.unique()) + list(CD_no_NA.state.unique()))
)

{'NJ', 'VA', 'DE', 'MD', 'NY', 'PA', 'GB', 'VT', 'US', 'GA', 'VI', 'BVI', 'FR', 'FC', 'SC', 'MA', 'BM', 'RI', 'NC', 'NH', 'CT'}

Step 2: flag by 2 the records with states outside the following list of states.

In [685]:
state_list = ['RI', 'CT', 'GA', 'MD', 'NC', 'NH', 'NJ', 'NY', 'VA', 'PA', 'RI', 'SC', 'DE', 'MA', 'VT']
state_name_list = [
            'Rhode Island', 'Connecticut', 'Georgia', 'Maryland', 'North Carolina', 
            'New Hampshire', 'New Jersey', 'New York', 'Virginia',
            'Pennsylvania', 'Rhode Island', 'South Carolina', 'Delaware', 
            'Massachusetts', 'Vermont'
            ]
state_list_dict = dict(zip(state_list, state_name_list))

ASD_no_NA.loc[ASD_no_NA.apply(lambda row: row.state not in state_list, axis=1), 'FLAG'] = 2
CD_no_NA.loc[CD_no_NA.apply(lambda row: row.state not in state_list, axis=1), 'FLAG'] = 2

# update to the original df
ASD_all.update(ASD_no_NA)
CD_all.update(CD_no_NA)


CD_all[ASD_all['FLAG']==2].head()

/var/folders/bs/pwc2w2k54fl8yr3kswpvkkw80000gn/T/ipykernel_49321/1081155237.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CD_all[ASD_all['FLAG']==2].head()

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation,6p_total,orig_town,FLAG
1748,19.0,64.0,9.0,81.0,NaN,72.0,Newbern,NC,NaN,19.64,Newbern,0.0
1749,189.0,49.0,94.0,75.0,199.0,94.0,NaN,NaN,NaN,189.49,NaN,1.0
1750,29.0,94.0,14.0,97.0,30.0,13.0,NaN,NaN,NaN,29.94,NaN,1.0
4265,12.0,11.0,6.0,6.0,NaN,NaN,Charleston,SC,Executor of James Peart,12.11,Charleston,0.0
4325,2800.0,NaN,NaN,NaN,1141.0,70.0,Charleston,SC,Widow,NaN,Charleston,0.0

Step 3: flag by 3 the records
- with town name 'State of XX' or 'State XX' or 'XX State' where XX is the state where the town is located, and 
- with town name exactly or almost the same as the state name (due to typos).

These are records for which "township" is not available.

In [686]:
ASD_rest = ASD_all[ASD_all['FLAG']==0]
CD_rest = CD_all[CD_all['FLAG']==0]

# state of XX/state XX - checked
ASD_rest.loc[
    ASD_rest.apply(lambda row: row.town.lower().startswith('state '), axis=1), 'FLAG'] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: row.town.lower().startswith('state '), axis=1), 'FLAG'] = 3
ASD_rest.loc[ASD_rest.town=='Delaware State', 'FLAG'] = 3
CD_rest.loc[CD_rest.town=='Delaware State', 'FLAG'] = 3

# town name == state name - checked
ASD_rest.loc[ASD_rest.apply(lambda row: row.town==state_list_dict[row.state], axis=1), 'FLAG'] = 3
CD_rest.loc[CD_rest.apply(lambda row: row.town==state_list_dict[row.state], axis=1), 'FLAG'] = 3

# town name ~= state name - checked
ASD_rest.loc[
    ASD_rest.apply(lambda row: 
    process.cdist([row.town], [state_list_dict[row.state]])[0][0] >= 80, axis=1), 'FLAG'
    ] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: 
    process.cdist([row.town], [state_list_dict[row.state]])[0][0] >= 80, axis=1), 'FLAG'
    ] = 3

# Carolina in South Carolina (no county named Carolina)
ASD_rest.loc[
    ASD_rest.apply(lambda row: row.town in state_list_dict[row.state] and
    row.town != state_list_dict[row.state], axis=1), 'FLAG'] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: row.town in state_list_dict[row.state] and
    row.town != state_list_dict[row.state], axis=1), 'FLAG'] = 3

# update
ASD_all.update(ASD_rest)
CD_all.update(CD_rest)
CD_all[ASD_all['FLAG']==3].head()

/var/folders/bs/pwc2w2k54fl8yr3kswpvkkw80000gn/T/ipykernel_49321/2017419404.py:37: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CD_all[ASD_all['FLAG']==3].head()

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation,6p_total,orig_town,FLAG
2,154.0,20.0,77.0,10.0,192.0,NaN,Rhode Island,RI,Farmer,154.20,Rhode Island,3.0
35,512.0,68.0,256.0,34.0,646.0,61.0,Saybrook,CT,Farmer,512.68,Saybrook,0.0
102,152.0,54.0,76.0,27.0,54.0,91.0,New Haven,CT,NaN,152.54,New Haven,0.0
122,279.0,53.0,139.0,76.0,226.0,23.0,Lebanon,CT,NaN,279.53,Lebanon,0.0
167,145.0,33.0,72.0,67.0,39.0,23.0,Windsor,CT,NaN,145.33,Windsor,0.0

Step 4: unify town names
- remove `"state of" + state_name` and `"of" + state_name` that appear in the town name, except "City of New York",
- remove `"state" + state_name` that appears in the town name,
- remove `state_name` from `XX + state_name` or `state_name + XX`,
- take into account the three special cases.

Then, 
- create a new identifier and remove "Town"/"County" from town names.

Flag this change by 4.

In [687]:
ASD_rest = ASD_all[ASD_all.FLAG==0]
CD_rest = CD_all[CD_all.FLAG==0]

def remove_state_from_town(row):
    state_name = state_list_dict[row.state]
    # state of/of
    row.town = row.town.replace(' State of ' + state_name, '')
    # state + state_name
    row.town = row.town.replace(' State ' + state_name, '')
    # special cases
    if row.town == 'Boston state Massachusetts':
        row.town = 'Boston'

    if row.town == 'New Castle County Delaware State':
        row.town = 'New Castle County'

    if row.town == 'Virginia and Philadelphia':
        row.town = 'Philadelphia'

    if row.town != 'City of New York':
        row.town = row.town.replace(' of ' + state_name, '')
        row.town = row.town.replace(state_name, '')
    
    # flag changes
    row.FLAG = 4
    return row

ASD_rest = ASD_rest.apply(lambda row: remove_state_from_town(row), axis=1)
CD_rest = CD_rest.apply(lambda row: remove_state_from_town(row), axis=1)

# town_level = 'T' if specified 'Town', 'C' if specified 'County', otherwise 'U'
ASD_rest['town_level'] = 'U'
ASD_rest.loc[ASD_rest['town'].str.contains('County', na=False), 'town_level'] = 'C'
ASD_rest.loc[ASD_rest['town'].str.contains('Town', na=False), 'town_level'] = 'T'

def remove_CountyTown(row):
    row.town = row.town.replace('County', '')
    row.town = row.town.replace('Town', '')
    row.FLAG = 4
    return row
    
ASD_rest = ASD_rest.apply(lambda row: remove_CountyTown(row), axis=1)
CD_rest = CD_rest.apply(lambda row: remove_CountyTown(row), axis=1)


ASD_all.update(ASD_rest)
CD_all.update(CD_rest)

Step 5: match town names that are likely to be the same one  
1. for each state, create a list `A` of town names with # of occurences >= 4; create a list `B` for all the rest towns.
2. for each town in list `B`, find the best three matches with towns in list `A` - if above a threshold, report all three and match to the best one. - to be checked afterwards
3. all unmatched towns in list `B` become a new list `C` - we WANT to compare one another and if the similarity is above a threshold, group them; otherwise keep it untouched. One simple procedure is for each town in list `C`, group it with all other towns whose distance to it is smaller than a threshold. Then proceed to the next one if it's not in some group already and skip otherwise. This is legitimate because we expect "typos" to cause small differences among all mistyped names. Report all the matched and unmatched cases in this round.
4. For all above, allow user's input to manually confirm the matches.

Flag this change by 5.

In [688]:
def match_towns(df):
    if len(df.index)==0:    # Vermont
        return df
    print(f"State: {df.state.iloc[0]}")

    val_counts = df.town.value_counts(sort=True)
    list_A, list_B = list(val_counts[val_counts>=min(val_counts.iloc[0], 4)].index), list(val_counts[val_counts<min(val_counts.iloc[0], 6)].index)
    list_C = list_B.copy()
    for town in list_B:
        best3 = process.extract(town, list_A)[0:3]
        if best3[0][1] >= 85:
            print(f"{town}. Candidates: {[x[0] for x in best3]}. Matched: {best3[0][0]}.\n")

            # # user input
            # ACCEPT = input("1 for ACCEPT. 0 for REJECT")
            # # records

            # if ACCEPT==1:
            # matched to list_A
            list_C.remove(town)
            df.loc[df.town==town, 'FLAG'] = 5
            df.loc[df.town==town, 'town'] = best3[0][0]

    list_C_flag = [-1 for x in list_C]
    for id, town in enumerate(list_C):
        # only do matching if not already matched
        if list_C_flag[id] == -1:
            bests = [x[0] for x in process.extract(town, list_C, score_cutoff=85)]
            if len(bests) > 1:
                # if not just oneself
                indexes = [list_C.index(x) for x in bests]
                # make sure same group has the same id
                print(f"Candidate group: {bests} -> {min(bests, key=len)}")

                # pick the shortest one as the name we want to keep
                # this deals with the cases like North Hampton -> Hampton
                index_selected = list_C.index(min(bests, key=len))
                
                for k in indexes: 
                    list_C_flag[k] = index_selected 

                # one special case
                if bests==['Cumberland', 'Cumb  ']:
                    list_C_flag[k] = list_C.index('Cumberland')
    
    for id, flag in enumerate(list_C_flag):
        if flag != -1:
            df.loc[df.town==list_C[id], 'FLAG'] = 5
            df.loc[df.town==list_C[id], 'town'] = list_C[flag]

    return df

In [689]:
for state_code in state_list:
    
    ASD_rest[ASD_rest.state==state_code] = match_towns(ASD_rest[ASD_rest.state==state_code])
    CD_rest[CD_rest.state==state_code] = match_towns(CD_rest[CD_rest.state==state_code])


# deal with some other special cases
ASD_rest.loc[ASD_rest.town=='East Haddam', 'town'] = 'Haddam'
CD_rest.loc[CD_rest.town=='East Haddam', 'town'] = 'Haddam'

ASD_all.update(ASD_rest)
CD_all.update(CD_rest)

State: RI
Johnson. Candidates: ['Johnson', 'Johnston', 'South Kingston']. Matched: Johnson.

Portsmouth. Candidates: ['Portsmouth', 'North Providence', 'South Kingston']. Matched: Portsmouth.

Richmond. Candidates: ['Richmond', 'East Greenwich', 'West Greenwich']. Matched: Richmond.

Conventry. Candidates: ['Coventry', 'Exeter', 'North Providence']. Matched: Coventry.

Glocester. Candidates: ['Gloucester', 'Exeter', 'Coventry']. Matched: Gloucester.

North Kingstone. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

North Kingstown. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Stoughton now of Providence. Candidates: ['Providence', 'North Providence', 'Johnston']. Matched: Providence.

Smithfeild. Candidates: ['Smithfield', 'Scituate', 'Cumberland']. Matched: Smithfield.

South Kingstone. Candidates: ['South Kingston', 'North Kingston', 'Johnston']. Matched: South Kingston.

Warnick. Candidates: ['Warwick', 'Warren', 'East Greenwich']. Matched: Warwick.

State: RI
Coventry. Candidates: ['Coventry', 'North Providence', 'Providence']. Matched: Coventry.

Johnson. Candidates: ['Johnson', 'Johnston', 'South Kingston']. Matched: Johnson.

North Kingston. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Johnston. Candidates: ['Johnston', 'Johnson', 'South Kingston']. Matched: Johnston.

South Kingstone. Candidates: ['South Kingston', 'North Kingston', 'Johnston']. Matched: South Kingston.

North Kingstone. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

North Kingstown. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Stoughton now of Providence. Candidates: ['Providence', 'North Providence', 'Johnston']. Matched: Providence.

State: CT
Huntington. Candidates: ['Huntington', 'Groton', 'Stonington']. Matched: Huntington.

Montville. Candidates: ['Montville', 'Lyme', 'Mansfield']. Matched: Montville.

Plainfield. Candidates: ['Plainfield', 'Fairfield', 'Mansfield']. Matched: Plainfield.

Tolland. Candidates: ['Tolland', 'Plainfield', 'Bolton']. Matched: Tolland.

Canterbury. Candidates: ['Canterbury', 'Danbury', 'Glastonbury']. Matched: Canterbury.

Berlin. Candidates: ['Berlin', 'Bolton', 'Hebron']. Matched: Berlin.

Thompson. Candidates: ['Thompson', 'Preston', 'Stonington']. Matched: Thompson.

Torrington. Candidates: ['Torrington', 'Stonington', 'Groton']. Matched: Torrington.

Haddam. Candidates: ['East Haddam', 'Chatham', 'Windham']. Matched: East Haddam.

Stonnington. Candidates: ['Stonington', 'Torrington', 'Groton']. Matched: Stonington.

Stafford. Candidates: ['Stamford', 'Stratford', 'East Hartford']. Matched: Stamford.

New Hartford. Candidates: ['Hartford', 'East Hartford', 'New Milford']. Matched: Hartford.

Middletown . Candidates: ['Middletown', 'Bolton', 'Groton']. Matched: Middletown.

Colchestert. Candidates: ['Colchester', 'Coventry', 'Norwich']. Matched: Colchester.

London. Candidates: ['New London', 'Lebanon', 'Bolton']. Matched: New London.

Wethersfield in t. Candidates: ['Wethersfield', 'Suffield', 'Mansfield']. Matched: Wethersfield.

Candidate group: ['Cornwall', 'Cornwell'] -> Cornwall
Candidate group: ['Brooklyn', 'Brooklyne'] -> Brooklyn
Candidate group: ['Volentown', 'Voluntown'] -> Volentown
Candidate group: ['Southhampton', 'Hampton'] -> Hampton
Candidate group: ['Northampton', 'Hampton'] -> Hampton
State: CT
Montville. Candidates: ['Montville', 'Lyme', 'Mansfield']. Matched: Montville.

Huntington. Candidates: ['Huntington', 'Groton', 'Stonington']. Matched: Huntington.

Torrington. Candidates: ['Torrington', 'Stonington', 'Groton']. Matched: Torrington.

Tolland. Candidates: ['Tolland', 'Plainfield', 'Bolton']. Matched: Tolland.

Ashford. Candidates: ['Ashford', 'East Hartford', 'Hartford']. Matched: Ashford.

Thompson. Candidates: ['Thompson', 'Preston', 'Stonington']. Matched: Thompson.

Canterbury. Candidates: ['Canterbury', 'Danbury', 'Glastonbury']. Matched: Canterbury.

Berlin. Candidates: ['Berlin', 'Bolton', 'Hebron']. Matched: Berlin.

Plainfield. Candidates: ['Plainfield', 'Fairfield', 'Mansfield']. Matched: Plainfield.

Stonnington. Candidates: ['Stonington', 'Torrington', 'Groton']. Matched: Stonington.

Haddam. Candidates: ['East Haddam', 'Chatham', 'Windham']. Matched: East Haddam.

Stafford. Candidates: ['Stamford', 'Stratford', 'East Hartford']. Matched: Stamford.

New Hartford. Candidates: ['Hartford', 'East Hartford', 'New Milford']. Matched: Hartford.

London. Candidates: ['New London', 'Lebanon', 'Bolton']. Matched: New London.

Candidate group: ['Cornwall', 'Cornwell'] -> Cornwall
Candidate group: ['Brooklyn', 'Brooklyne'] -> Brooklyn
Candidate group: ['Voluntown', 'Volentown'] -> Voluntown
Candidate group: ['Southhampton', 'Hampton'] -> Hampton
Candidate group: ['Northampton', 'Hampton'] -> Hampton
State: GA
State: GA
State: MD
Somerset . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Cambridge. Candidates: ['Cambridge', 'Charles ', 'George ']. Matched: Cambridge.

Washington . Candidates: ['Washington ', 'George ', 'Prince Georges ']. Matched: Washington .

Queen Annes . Candidates: ['Queen Annes ', 'Anne Arundel ', 'Charles ']. Matched: Queen Annes .

Montgomery  . Candidates: ['Montgomery ', 'George ', 'St Marys ']. Matched: Montgomery .

Frederick  . Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

George town. Candidates: ['George ', 'Prince Georges ', 'Somerset ']. Matched: George .

Frederick. Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

Georges . Candidates: ['George ', 'Prince Georges ', 'Dorchester ']. Matched: George .

Somerset  . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Candidate group: ['Talbot ', 'Talbot'] -> Talbot
Candidate group: ['Calvert ', 'Calver '] -> Calver
State: MD
Somerset . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Cambridge. Candidates: ['Cambridge', 'Charles ', 'George ']. Matched: Cambridge.

Washington . Candidates: ['Washington ', 'George ', 'Prince Georges ']. Matched: Washington .

Queen Annes . Candidates: ['Queen Annes ', 'Anne Arundel ', 'Charles ']. Matched: Queen Annes .

Montgomery  . Candidates: ['Montgomery ', 'George ', 'St Marys ']. Matched: Montgomery .

Frederick  . Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

George town. Candidates: ['George ', 'Prince Georges ', 'Somerset ']. Matched: George .

Frederick. Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

Georges . Candidates: ['George ', 'Prince Georges ', 'Dorchester ']. Matched: George .

Somerset  . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Candidate group: ['Talbot ', 'Talbot'] -> Talbot
Candidate group: ['Calvert ', 'Calver '] -> Calver
State: NC
Rowan . Candidates: ['Rowan ', 'Edenton', 'Newbern']. Matched: Rowan .

State: NC
Rowan . Candidates: ['Rowan ', 'Edenton', 'Newbern']. Matched: Rowan .

State: NH
Canterbury. Candidates: ['Canterbury', 'Exeter', 'Concord']. Matched: Canterbury.

Kensington. Candidates: ['Kensington', 'Exeter', 'Concord']. Matched: Kensington.

Portsmouth . Candidates: ['Portsmouth', 'Concord', 'Exeter']. Matched: Portsmouth.

Candidate group: ['South Hampton', 'Hampton'] -> Hampton
Candidate group: ['Londonberry', 'London'] -> London
Candidate group: ['Charleston', 'Charlestown'] -> Charleston
Candidate group: ['North Hampton', 'Hampton'] -> Hampton
Candidate group: ['Newport in ', 'Newport '] -> Newport
State: NH
Kensington. Candidates: ['Kensington', 'Exeter', 'Concord']. Matched: Kensington.

Canterbury. Candidates: ['Canterbury', 'Exeter', 'Concord']. Matched: Canterbury.

Portsmouth . Candidates: ['Portsmouth', 'Concord', 'Exeter']. Matched: Portsmouth.

Candidate group: ['South Hampton', 'Hampton'] -> Hampton
Candidate group: ['Charleston', 'Charlestown'] -> Charleston
Candidate group: ['Londonberry', 'London'] -> London
Candidate group: ['North Hampton', 'Hampton'] -> Hampton
State: NJ
Candidate group: ['Brunswick ', 'New Brunswick '] -> Brunswick
Candidate group: ['Cape May ', 'Cape May'] -> Cape May
State: NJ
Candidate group: ['Brunswick ', 'New Brunswick '] -> Brunswick
Candidate group: ['Cape May ', 'Cape May'] -> Cape May
State: NY
State: NY
State: VA
Candidate group: ['Alexandria', 'Alexandria '] -> Alexandria
State: VA
Candidate group: ['Alexandria', 'Alexandria '] -> Alexandria
State: PA
Northern Liberties. Candidates: ['Northern Liberties', 'Berks  ', 'Berks ']. Matched: Northern Liberties.

Berks . Candidates: ['Berks  ', 'Berks ', 'Reading Berks ']. Matched: Berks  .

Bethlehem. Candidates: ['Bethlehem', 'Berks  ', 'Berks ']. Matched: Bethlehem.

Reading. Candidates: ['Reading', 'Reading ', 'Reading Berks ']. Matched: Reading.

Franklin  . Candidates: ['Franklin  ', 'Reading', 'Reading ']. Matched: Franklin  .

Germantown. Candidates: ['Germantown', 'Berks  ', 'Berks ']. Matched: Germantown.

Reading . Candidates: ['Reading', 'Reading ', 'Reading Berks ']. Matched: Reading.

Chester  Pennsylvaina. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Franklin . Candidates: ['Franklin  ', 'Reading', 'Reading ']. Matched: Franklin  .

Philadephia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

 Berks . Candidates: ['Berks  ', 'Berks ', 'Reading Berks ']. Matched: Berks  .

Chester Co . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Hatter Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

 of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

Montgomery  . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Northumberland  . Candidates: ['Northumberland ', 'Berks  ', 'Berks ']. Matched: Northumberland .

Church on Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

Philadelphila. Candidates: ['Philadelphia', 'Philadelphia ', 'Carlisle ']. Matched: Philadelphia.

Northumberland  Virginia. Candidates: ['Northumberland ', 'Northern Liberties', 'Berks  ']. Matched: Northumberland .

German . Candidates: ['Germantown', 'Northumberland ', 'Northern Liberties']. Matched: Germantown.

Northan Liberties. Candidates: ['Northern Liberties', 'Franklin  ', 'Berks  ']. Matched: Northern Liberties.

 Montgomery . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

The N Lib of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Northern Liberties']. Matched: Philadelphia.

Montgomery. Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Frankford Philadelphia . Candidates: ['Philadelphia', 'Philadelphia ', 'Franklin  ']. Matched: Philadelphia.

Chester. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Chester and . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Northum  . Candidates: ['Northumberland ', 'Northern Liberties', 'York  ']. Matched: Northumberland .

Candidate group: ['Westmoreland ', 'Westmoreland  ', 'Westmoreland'] -> Westmoreland
Candidate group: ['Dauphin ', 'Dauphin  ', 'Dauphin and Company', 'Paxton Tot Dauphin '] -> Dauphin
Candidate group: ['Northampton  ', 'Northampton '] -> Northampton
Candidate group: ['Pittsburgh ', 'Pittsburgh'] -> Pittsburgh
Candidate group: ['Delaware', 'Delaware ', 'Delaware  '] -> Delaware
Candidate group: ['Allegheny  ', 'Allegheny '] -> Allegheny
Candidate group: ['Kensington', 'Kensignton'] -> Kensington
Candidate group: ['Cumberland', 'Cumb  '] -> Cumb
State: PA
Franklin  . Candidates: ['Franklin  ', 'Reading', 'Reading Berks ']. Matched: Franklin  .

Northern Liberties. Candidates: ['Northern Liberties', 'Berks  ', 'Berks ']. Matched: Northern Liberties.

Reading. Candidates: ['Reading', 'Reading Berks ', 'Franklin  ']. Matched: Reading.

Bethlehem. Candidates: ['Bethlehem', 'Berks  ', 'Berks ']. Matched: Bethlehem.

Germantown. Candidates: ['Germantown', 'Berks  ', 'Berks ']. Matched: Germantown.

Berks . Candidates: ['Berks  ', 'Berks ', 'Reading Berks ']. Matched: Berks  .

Chester  Pennsylvaina. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Reading . Candidates: ['Reading', 'Reading Berks ', 'Franklin  ']. Matched: Reading.

Montgomery  . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Franklin . Candidates: ['Franklin  ', 'Reading', 'Reading Berks ']. Matched: Franklin  .

Chester Co . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Hatter Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

Philadelphila. Candidates: ['Philadelphia', 'Philadelphia ', 'Carlisle ']. Matched: Philadelphia.

Northumberland  . Candidates: ['Northumberland ', 'Berks  ', 'Berks ']. Matched: Northumberland .

Church on Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

Chester and . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

German . Candidates: ['Germantown', 'Northumberland ', 'Northern Liberties']. Matched: Germantown.

The N Lib of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Northern Liberties']. Matched: Philadelphia.

Montgomery. Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

 of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

Northan Liberties. Candidates: ['Northern Liberties', 'Franklin  ', 'Berks  ']. Matched: Northern Liberties.

Northum  . Candidates: ['Northumberland ', 'Northern Liberties', 'York  ']. Matched: Northumberland .

Frankford Philadelphia . Candidates: ['Philadelphia', 'Philadelphia ', 'Franklin  ']. Matched: Philadelphia.

Chester. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Candidate group: ['Westmoreland ', 'Westmoreland  ', 'Westmoreland'] -> Westmoreland
Candidate group: ['Dauphin  ', 'Dauphin ', 'Paxton Tot Dauphin ', 'Dauphin and Company'] -> Dauphin
Candidate group: ['Northampton  ', 'Northampton '] -> Northampton
Candidate group: ['Pittsburgh ', 'Pittsburgh'] -> Pittsburgh
Candidate group: ['Allegheny  ', 'Allegheny '] -> Allegheny
Candidate group: ['Delaware', 'Delaware ', 'Delaware  '] -> Delaware
Candidate group: ['Kensington', 'Kensignton'] -> Kensington
Candidate group: ['Cumberland', 'Cumb  '] -> Cumb
State: RI
Johnson. Candidates: ['Johnson', 'Johnston', 'North Kingston']. Matched: Johnson.

Portsmouth. Candidates: ['Portsmouth', 'North Providence', 'South Kingston']. Matched: Portsmouth.

Richmond. Candidates: ['Richmond', 'East Greenwich', 'West Greenwich']. Matched: Richmond.

State: RI
Coventry. Candidates: ['Coventry', 'North Providence', 'Providence']. Matched: Coventry.

Johnston. Candidates: ['Johnston', 'Johnson', 'South Kingston']. Matched: Johnston.

Johnson. Candidates: ['Johnson', 'Johnston', 'South Kingston']. Matched: Johnson.

State: SC
Charleston . Candidates: ['Charleston', 'Charleston ', 'Santee']. Matched: Charleston.

St Eustatius. Candidates: ['St Eustatius', 'Santee', 'Charleston']. Matched: St Eustatius.

Santee. Candidates: ['Santee', 'St Eustatius', 'Charleston']. Matched: Santee.

Charleston  . Candidates: ['Charleston', 'Charleston ', 'Santee']. Matched: Charleston.

St James Santee. Candidates: ['Santee', 'St Eustatius', 'Charleston']. Matched: Santee.

St Lukes. Candidates: ['St Eustatius', 'Santee', 'Charleston']. Matched: St Eustatius.

St James Parish Santee. Candidates: ['Santee', 'St Eustatius', 'Charleston']. Matched: Santee.

St George's Parish. Candidates: ['St Eustatius', 'Santee', 'Charleston']. Matched: St Eustatius.

Candidate group: ['Camden', 'Camden District'] -> Camden
Candidate group: ["St Bartholomew's", "St Luke's", 'St Helena', "Bartholomew's Parish"] -> St Luke's
Candidate group: ["St John's Parish", "St Johnn's Parish", "St Luke's", 'St Helena'] -> St Luke's
Candidate group: ['St Gustavus', "St Johnn's Parish"] -> St Gustavus
Candidate group: ["John's Island", "Bartholomew's Parish"] -> John's Island
State: SC
James Island. Candidates: ['James Island', 'Camden', 'Charleston']. Matched: James Island.

Camden. Candidates: ['Camden', 'James Island', 'Charleston']. Matched: Camden.

Charleston  . Candidates: ['Charleston', 'Charleston ', 'Georgetown']. Matched: Charleston.

Camden Planter. Candidates: ['Camden', 'James Island', 'Charleston']. Matched: Camden.

Candidate group: ['Richard Sennings', 'Richard '] -> Richard
Candidate group: ['Ninety six District', '96 District'] -> 96 District
Candidate group: ['St Pauls', "St. Paul's"] -> St Pauls
State: DE
 Newcastle . Candidates: ['New Castle ']. Matched: New Castle .

State: DE
 Newcastle . Candidates: ['New Castle ']. Matched: New Castle .

State: MA
Andover. Candidates: ['Andover', 'Haverhill', 'Swansea']. Matched: Andover.

Swansea. Candidates: ['Swansea', 'Andover', 'Newbury Port']. Matched: Swansea.

Haverhill. Candidates: ['Haverhill', 'Andover', 'Beverly']. Matched: Haverhill.

Dighton. Candidates: ['Dighton', 'Boston', 'Attleborough']. Matched: Dighton.

Cambridge. Candidates: ['Cambridge', 'Springfield', 'Attleborough']. Matched: Cambridge.

Beverly. Candidates: ['Beverly', 'Haverhill', 'Andover']. Matched: Beverly.

Springfield. Candidates: ['Springfield', 'Cambridge', 'Beverly']. Matched: Springfield.

Cambridge . Candidates: ['Cambridge', 'Springfield', 'Attleborough']. Matched: Cambridge.

Candidate group: ['Grafton', 'Grafton '] -> Grafton
Candidate group: ['Tyringham MA', 'Tyringham '] -> Tyringham
State: MA
Swansea. Candidates: ['Swansea', 'Andover', 'Newbury Port']. Matched: Swansea.

Andover. Candidates: ['Andover', 'Haverhill', 'Swansea']. Matched: Andover.

Haverhill. Candidates: ['Haverhill', 'Andover', 'Beverly']. Matched: Haverhill.

Dighton. Candidates: ['Dighton', 'Boston', 'Attleborough']. Matched: Dighton.

Springfield. Candidates: ['Springfield', 'Beverly', 'Swansea']. Matched: Springfield.

Beverly. Candidates: ['Beverly', 'Haverhill', 'Andover']. Matched: Beverly.

Candidate group: ['Cambridge', 'Cambridge '] -> Cambridge
Candidate group: ['Tyringham MA', 'Tyringham '] -> Tyringham

### Now maps to the County-town list

There are a few cases where the `orig_town` names include `'County'`, but gets mapped to nothing on the list. We assign `county` to `name_type` in this case, and let `county` be county name.

In [690]:
ASD_no_NA = ASD_all[ASD_all['FLAG']!=1]
CD_no_NA = CD_all[CD_all['FLAG']!=1]

matchlist = pd.read_csv('../../Data/AssetGeography/countymapping.csv', index_col=0)
matchlist = matchlist.rename({'town': 'orig_town'}, axis=1)
matchlist.head()

      orig_town state             county name_type
0      Hartford    CT    Hartford County      town
1        Bolton    CT     Tolland County      town
2  Rhode Island    RI                NaN     state
5  Wethersfield    CT    Hartford County      town
6          Lyme    CT  New London County      town

In [691]:
ASD_merged = pd.merge(left=ASD_no_NA, right=matchlist, how='left', on=['state', 'orig_town'])
CD_merged = pd.merge(left=CD_no_NA, right=matchlist, how='left', on=['state', 'orig_town'])


# select
filter_ASD = ASD_merged.orig_town.str.contains('County') & ASD_merged.name_type.isna()
filter_CD = CD_merged.orig_town.str.contains('County') & CD_merged.name_type.isna()
CD_merged.loc[filter_CD]

Empty DataFrame
Columns: [6p_Dollar, 6p_Cents, 6p_def_Dollar, 6p_def_Cents, 3p_Dollar, 3p_Cents, town, state, occupation, 6p_total, orig_town, FLAG, county, name_type]
Index: []

In [692]:
ASD_merged.loc[filter, 'name_type'] = 'county'
ASD_merged.loc[filter, 'county'] = ASD_merged.loc[filter, 'town']

CD_merged.loc[filter, 'name_type'] = 'county'
CD_merged.loc[filter, 'county'] = CD_merged.loc[filter, 'town']

# remove "County" from county name
ASD_merged['county'] = ASD_merged['county'].apply(lambda x: x.replace('County', '').rstrip() if type(x)==str else x)
CD_merged['county'] = CD_merged['county'].apply(lambda x: x.replace('County', '').rstrip() if type(x)==str else x)

CD_merged

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation,6p_total,orig_town,FLAG,county,name_type
0,1064.0,75.0,532.0,37.0,508.0,51.0,Hartford,CT,Merchant,1064.75,Hartford,4.0,Hartford,town
1,449.0,96.0,224.0,97.0,232.0,10.0,Bolton,CT,Farmer,449.96,Bolton,4.0,Tolland,town
2,154.0,20.0,77.0,10.0,192.0,NaN,Rhode Island,RI,Farmer,154.20,Rhode Island,3.0,NaN,state
3,196.0,75.0,98.0,37.0,172.0,24.0,Hartford,CT,Merchant,196.75,Hartford,4.0,Hartford,town
4,53.0,58.0,26.0,79.0,67.0,6.0,Hartford,CT,Merchant,53.58,Hartford,4.0,Hartford,town
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,120.0,25.0,60.0,12.0,97.0,70.0,New York,NY,Merchant,120.25,New York,3.0,NaN,state
3721,33.0,33.0,16.0,67.0,31.0,67.0,Maryland,MD,Shopkeeper,33.33,Maryland,3.0,NaN,state
3722,124.0,33.0,62.0,17.0,118.0,41.0,Maryland,MD,Merchant,124.33,Maryland,3.0,NaN,state
3723,242.0,67.0,121.0,33.0,79.0,52.0,Charleston,SC,NaN,242.67,Charleston,4.0,Charleston,town
3724,180.0,47.0,90.0,24.0,207.0,93.0,South Carolina,SC,Marriner,180.47,South Carolina,3.0,NaN,state

In [693]:
# assign nan to town if name_type == county/state
ASD_merged.loc[(ASD_merged.name_type=='county') | (ASD_merged.name_type=='state'), 'town'] = np.nan
CD_merged.loc[(CD_merged.name_type=='county') | (CD_merged.name_type=='state'), 'town'] = np.nan

ASD_df= ASD_merged.drop(['orig_town'], axis=1)
CD_df = CD_merged.drop(['orig_town'], axis=1)

# remove na cases and others
ASD_df = ASD_df.loc[(~ASD_merged.name_type.isna()) & (ASD_merged.name_type!='other')]
CD_df = CD_df.loc[(~CD_merged.name_type.isna()) & (CD_merged.name_type!='other')]

ASD_df_strNaN = ASD_df.fillna('NaN')
CD_df_strNaN = CD_df.fillna('NaN')

In [694]:
ASD_df_strNaN.groupby(['state', 'county', 'town'], dropna=False).size().to_csv('ASD_counts.csv')
CD_df_strNaN.groupby(['state', 'county', 'town'], dropna=False).size().to_csv('CD_counts.csv')

In [695]:
CD_df.groupby(['state', 'county', 'town'])['6p_total'].sum().to_csv('CD_total_sums.csv')