In [270]:
import pandas as pd
import numpy as np
from rapidfuzz import process, fuzz

NOTE1: there are several duplicate records.  
NOTE2: one record (id: 537) has state CT but town is Vermont - possible that similar mistakes elsewhere.  
NOTE3: how to distinguish town/county level - may need a list for reference if want to step further.  
NOTE4: now need a manual check ('Haddam' =>'East Haddam')


## Cleaning town names

Goals:
- Clean town names that are different but refer to the same town in `ASD_all.xlsx` and `CD_all.xlsx`.
- check if all town names are in the "town-county" matching list given by `final_cw.xlsx` - if so, perform the matching.


Step 1: flag by 1 records that have NA "state" and "town" values.

In [271]:
# import and cleaning
ASD_all = pd.read_excel(
    'ASD_all.xlsx', index_col=0).reset_index(drop=True).dropna(how='all').drop_duplicates().reset_index(drop=True)
CD_all = pd.read_excel(
    'CD_all.xlsx', index_col=0).reset_index(drop=True).dropna(how='all').drop_duplicates().reset_index(drop=True)

# strip white space
for col in ['town', 'state', 'occupation']:
    ASD_all[col] = ASD_all[col].str.strip()
    CD_all[col] = CD_all[col].str.strip()
    
print(ASD_all.shape, CD_all.shape)

ASD_all

(5674, 9) (4337, 9)

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation
0,1064.00,75.0,532.00,37.0,508.00,51.0,Hartford,CT,Merchant
1,449.00,96.0,224.00,97.0,232.00,10.0,Bolton,CT,Farmer
2,154.00,20.0,77.00,10.0,192.00,NaN,Rhode Island,RI,Farmer
3,196.00,75.0,98.00,37.0,172.00,24.0,Hartford,CT,Merchant
4,53.00,58.0,26.00,79.0,67.00,6.0,Hartford,CT,Merchant
...,...,...,...,...,...,...,...,...,...
5669,NaN,NaN,NaN,NaN,814.00,5.0,Chesterfield,NaN,NaN
5670,NaN,NaN,NaN,NaN,28.00,29.0,Richmond,NaN,NaN
5671,NaN,NaN,NaN,NaN,2030.00,35.0,New York,NaN,NaN
5672,954.00,43.0,477.00,21.0,715.00,82.0,North Carolina,NaN,Administrator of McKennie Sumner
5673,1342267.46,NaN,675291.39,NaN,1026386.26,NaN,NaN,NaN,NaN

In [272]:
ASD_all['FLAG'], CD_all['FLAG'] = 0, 0

# identify NA rows
ASD_all.loc[(pd.isna(ASD_all['town'])) | (pd.isna(ASD_all['state'])), 'FLAG'] = 1
CD_all.loc[(pd.isna(CD_all['town'])) | (pd.isna(CD_all['state'])), 'FLAG'] = 1

# select non-NA subdataframe
ASD_no_NA = ASD_all[ASD_all['FLAG']==0]
CD_no_NA = CD_all[CD_all['FLAG']==0]

In [273]:
# check all states
print(
    set(list(ASD_no_NA.state.unique()) + list(CD_no_NA.state.unique()))
)

{'FC', 'DE', 'NJ', 'VI', 'RI', 'MD', 'MA', 'SC', 'FR', 'CT', 'BM', 'BVI', 'PA', 'US', 'NC', 'VT', 'NH', 'GB', 'NY', 'VA', 'GA'}

Step 2: flag by 2 the records with states outside the following list of states.

In [274]:
state_list = ['RI', 'CT', 'GA', 'MD', 'NC', 'NH', 'NJ', 'NY', 'VA', 'PA', 'RI', 'SC', 'DE', 'MA', 'VT']
state_name_list = [
            'Rhode Island', 'Connecticut', 'Georgia', 'Maryland', 'North Carolina', 
            'New Hampshire', 'New Jersey', 'New York', 'Virginia',
            'Pennsylvania', 'Rhode Island', 'South Carolina', 'Delaware', 
            'Massachusetts', 'Vermont'
            ]
state_list_dict = dict(zip(state_list, state_name_list))

ASD_no_NA.loc[ASD_no_NA.apply(lambda row: row.state not in state_list, axis=1), 'FLAG'] = 2
CD_no_NA.loc[CD_no_NA.apply(lambda row: row.state not in state_list, axis=1), 'FLAG'] = 2

# update to the original df
ASD_all.update(ASD_no_NA)
CD_all.update(CD_no_NA)


ASD_all[ASD_all['FLAG']==2].head()

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation,FLAG
1748,19.0,NaN,9.0,4.000000,NaN,NaN,Eustatia,BVI,NaN,2.0
1749,125.0,45.000000,62.0,73.000000,134.0,87.00,Eustatia,BVI,NaN,2.0
1750,90.0,NaN,45.0,NaN,93.0,84.00,Eustatia,BVI,NaN,2.0
4265,44482.0,-0.106667,44482.0,-0.053333,44482.0,0.42,London,GB,Merchant,2.0
4325,2346.0,-0.400000,2346.0,-0.200000,2346.0,0.20,London,GB,Merchant,2.0

Step 3: flag by 3 the records
- with town name 'State of XX' or 'State XX' or 'XX State' where XX is the state where the town is located, and 
- with town name exactly or almost the same as the state name (due to typos).

These are records for which "township" is not available.

In [275]:
ASD_rest = ASD_all[ASD_all['FLAG']==0]
CD_rest = CD_all[CD_all['FLAG']==0]

# state of XX/state XX - checked
ASD_rest.loc[
    ASD_rest.apply(lambda row: row.town.lower().startswith('state '), axis=1), 'FLAG'] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: row.town.lower().startswith('state '), axis=1), 'FLAG'] = 3
ASD_rest.loc[ASD_rest.town=='Delaware State', 'FLAG'] = 3
CD_rest.loc[CD_rest.town=='Delaware State', 'FLAG'] = 3

# town name == state name - checked
ASD_rest.loc[ASD_rest.apply(lambda row: row.town==state_list_dict[row.state], axis=1), 'FLAG'] = 3
CD_rest.loc[CD_rest.apply(lambda row: row.town==state_list_dict[row.state], axis=1), 'FLAG'] = 3

# town name ~= state name - checked
ASD_rest.loc[
    ASD_rest.apply(lambda row: 
    process.cdist([row.town], [state_list_dict[row.state]])[0][0] >= 80, axis=1), 'FLAG'
    ] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: 
    process.cdist([row.town], [state_list_dict[row.state]])[0][0] >= 80, axis=1), 'FLAG'
    ] = 3

# Carolina in South Carolina (no county named Carolina)
ASD_rest.loc[
    ASD_rest.apply(lambda row: row.town in state_list_dict[row.state] and
    row.town != state_list_dict[row.state], axis=1), 'FLAG'] = 3
CD_rest.loc[
    CD_rest.apply(lambda row: row.town in state_list_dict[row.state] and
    row.town != state_list_dict[row.state], axis=1), 'FLAG'] = 3

# update
ASD_all.update(ASD_rest)
CD_all.update(CD_rest)
ASD_all[ASD_all['FLAG']==3].head()

,6p_Dollar,6p_Cents,6p_def_Dollar,6p_def_Cents,3p_Dollar,3p_Cents,town,state,occupation,FLAG
2,154.0,20.0,77.0,10.0,192.0,NaN,Rhode Island,RI,Farmer,3.0
35,60.0,37.0,30.0,18.0,63.0,83.0,Rhode Island,RI,NaN,3.0
102,248.0,46.0,124.0,23.0,144.0,NaN,State of New York,NY,NaN,3.0
122,738.0,43.0,369.0,22.0,708.0,13.0,State of New York,NY,NaN,3.0
167,30.0,48.0,15.0,24.0,8.0,22.0,State of Vermont,VT,NaN,3.0

Step 4: unify town names
- remove `"state of" + state_name` and `"of" + state_name` that appear in the town name, except "City of New York",
- remove `"state" + state_name` that appears in the town name,
- remove `state_name` from `XX + state_name` or `state_name + XX`,
- take into account the three special cases.

Then, 
- create a new identifier and remove "Town"/"County" from town names.

Flag this change by 4.

In [276]:
ASD_rest = ASD_all[ASD_all.FLAG==0]
CD_rest = CD_all[CD_all.FLAG==0]

def remove_state_from_town(row):
    state_name = state_list_dict[row.state]
    # state of/of
    row.town = row.town.replace(' State of ' + state_name, '')
    # state + state_name
    row.town = row.town.replace(' State ' + state_name, '')
    # special cases
    if row.town == 'Boston state Massachusetts':
        row.town = 'Boston'

    if row.town == 'New Castle County Delaware State':
        row.town = 'New Castle County'

    if row.town == 'Virginia and Philadelphia':
        row.town = 'Philadelphia'

    if row.town != 'City of New York':
        row.town = row.town.replace(' of ' + state_name, '')
        row.town = row.town.replace(state_name, '')
    
    # flag changes
    row.FLAG = 4
    return row

ASD_rest = ASD_rest.apply(lambda row: remove_state_from_town(row), axis=1)
CD_rest = CD_rest.apply(lambda row: remove_state_from_town(row), axis=1)

# town_level = 'T' if specified 'Town', 'C' if specified 'County', otherwise 'U'
ASD_rest['town_level'] = 'U'
ASD_rest.loc[ASD_rest['town'].str.contains('County', na=False), 'town_level'] = 'C'
ASD_rest.loc[ASD_rest['town'].str.contains('Town', na=False), 'town_level'] = 'T'

def remove_CountyTown(row):
    row.town = row.town.replace('County', '')
    row.town = row.town.replace('Town', '')
    row.FLAG = 4
    return row
    
ASD_rest = ASD_rest.apply(lambda row: remove_CountyTown(row), axis=1)
CD_rest = CD_rest.apply(lambda row: remove_CountyTown(row), axis=1)


ASD_all.update(ASD_rest)
CD_all.update(CD_rest)

Step 5: match town names that are likely to be the same one  
1. for each state, create a list `A` of town names with # of occurences >= 4; create a list `B` for all the rest towns.
2. for each town in list `B`, find the best three matches with towns in list `A` - if above a threshold, report all three and match to the best one. - to be checked afterwards
3. all unmatched towns in list `B` become a new list `C` - we WANT to compare one another and if the similarity is above a threshold, group them; otherwise keep it untouched. One simple procedure is for each town in list `C`, group it with all other towns whose distance to it is smaller than a threshold. Then proceed to the next one if it's not in some group already and skip otherwise. This is legitimate because we expect "typos" to cause small differences among all mistyped names. Report all the matched and unmatched cases in this round.
4. For all above, allow user's input to manually confirm the matches.

Flag this change by 5.

In [277]:
def match_towns(df):
    if len(df.index)==0:    # Vermont
        return df
    print(f"State: {df.state.iloc[0]}")

    val_counts = df.town.value_counts(sort=True)
    list_A, list_B = list(val_counts[val_counts>=min(val_counts.iloc[0], 4)].index), list(val_counts[val_counts<min(val_counts.iloc[0], 4)].index)
    list_C = list_B.copy()
    for town in list_B:
        best3 = process.extract(town, list_A)[0:3]
        if best3[0][1] >= 85:
            print(f"{town}. Candidates: {[x[0] for x in best3]}. Matched: {best3[0][0]}.\n")

            # # user input
            # ACCEPT = input("1 for ACCEPT. 0 for REJECT")
            # # records

            # if ACCEPT==1:
            # matched to list_A
            list_C.remove(town)
            df.loc[df.town==town, 'FLAG'] = 5
            df.loc[df.town==town, 'town'] = best3[0][0]

    list_C_flag = [-1 for x in list_C]
    for id, town in enumerate(list_C):
        # only do matching if not already matched
        if list_C_flag[id] == -1:
            bests = [x[0] for x in process.extract(town, list_C, score_cutoff=85)]
            if len(bests) > 1:
                # if not just oneself
                indexes = [list_C.index(x) for x in bests]
                # make sure same group has the same id
                print(f"Candidate group: {bests}")
                for k in indexes: 
                    list_C_flag[k] = id 
    
    for id, flag in enumerate(list_C_flag):
        if flag != -1:
            df.loc[df.town==list_C[id], 'FLAG'] = 5
            df.loc[df.town==list_C[id], 'town'] = list_C[flag]

    return df

In [278]:
for state_code in state_list:
    
    ASD_rest[ASD_rest.state==state_code] = match_towns(ASD_rest[ASD_rest.state==state_code])
    CD_rest[CD_rest.state==state_code] = match_towns(CD_rest[CD_rest.state==state_code])

State: RI
Conventry. Candidates: ['Coventry', 'Exeter', 'North Providence']. Matched: Coventry.

Glocester. Candidates: ['Gloucester', 'Exeter', 'Coventry']. Matched: Gloucester.

North Kingstone. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

North Kingstown. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Stoughton now of Providence. Candidates: ['Providence', 'North Providence', 'Johnston']. Matched: Providence.

Smithfeild. Candidates: ['Smithfield', 'Scituate', 'Cumberland']. Matched: Smithfield.

South Kingstone. Candidates: ['South Kingston', 'North Kingston', 'Johnston']. Matched: South Kingston.

Warnick. Candidates: ['Warwick', 'Warren', 'East Greenwich']. Matched: Warwick.

State: RI
North Kingstown. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Stoughton now of Providence. Candidates: ['Providence', 'North Providence', 'Johnston']. Matched: Providence.

South Kingstone. Candidates: ['South Kingston', 'North Kingston', 'Johnston']. Matched: South Kingston.

North Kingstone. Candidates: ['North Kingston', 'South Kingston', 'Newport']. Matched: North Kingston.

Smithfeild. Candidates: ['Smithfield', 'Scituate', 'North Providence']. Matched: Smithfield.

State: CT
Haddam. Candidates: ['East Haddam', 'Chatham', 'Windham']. Matched: East Haddam.

Stonnington. Candidates: ['Stonington', 'Torrington', 'Groton']. Matched: Stonington.

Stafford. Candidates: ['Stamford', 'Stratford', 'East Hartford']. Matched: Stamford.

New Hartford. Candidates: ['Hartford', 'East Hartford', 'New Milford']. Matched: Hartford.

Middletown . Candidates: ['Middletown', 'Bolton', 'Groton']. Matched: Middletown.

Colchestert. Candidates: ['Colchester', 'Coventry', 'Norwich']. Matched: Colchester.

London. Candidates: ['New London', 'Lebanon', 'Bolton']. Matched: New London.

Wethersfield in t. Candidates: ['Wethersfield', 'Suffield', 'Mansfield']. Matched: Wethersfield.

Candidate group: ['Cornwall', 'Cornwell']
Candidate group: ['Brooklyn', 'Brooklyne']
Candidate group: ['Volentown', 'Voluntown']
Candidate group: ['Southhampton', 'Hampton']
Candidate group: ['Northampton', 'Hampton']
State: CT
Stonnington. Candidates: ['Stonington', 'Torrington', 'Groton']. Matched: Stonington.

Haddam. Candidates: ['East Haddam', 'Chatham', 'Windham']. Matched: East Haddam.

Stafford. Candidates: ['Stamford', 'Stratford', 'East Hartford']. Matched: Stamford.

New Hartford. Candidates: ['Hartford', 'East Hartford', 'New Milford']. Matched: Hartford.

London. Candidates: ['New London', 'Lebanon', 'Bolton']. Matched: New London.

Candidate group: ['Cornwall', 'Cornwell']
Candidate group: ['Brooklyn', 'Brooklyne']
Candidate group: ['Volentown', 'Voluntown']
Candidate group: ['Hampton', 'Southhampton', 'Northampton']
State: GA
State: GA
State: MD
Montgomery  . Candidates: ['Montgomery ', 'George ', 'St Marys ']. Matched: Montgomery .

Frederick  . Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

George town. Candidates: ['George ', 'Prince Georges ', 'Somerset ']. Matched: George .

Frederick. Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

Georges . Candidates: ['George ', 'Prince Georges ', 'Dorchester ']. Matched: George .

Somerset  . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Candidate group: ['Talbot ', 'Talbot']
Candidate group: ['Calvert ', 'Calver ']
State: MD
Montgomery  . Candidates: ['Montgomery ', 'George ', 'St Marys ']. Matched: Montgomery .

Frederick  . Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

George town. Candidates: ['George ', 'Prince Georges ', 'Somerset ']. Matched: George .

Frederick. Candidates: ['Frederick ', 'Dorchester ', 'George ']. Matched: Frederick .

Georges . Candidates: ['George ', 'Prince Georges ', 'Dorchester ']. Matched: George .

Somerset  . Candidates: ['Somerset ', 'St Marys ', 'Montgomery ']. Matched: Somerset .

Candidate group: ['Talbot ', 'Talbot']
Candidate group: ['Calvert ', 'Calver ']
State: NC
State: NC
State: NH
Portsmouth . Candidates: ['Portsmouth', 'Concord', 'Exeter']. Matched: Portsmouth.

Candidate group: ['South Hampton', 'Hampton']
Candidate group: ['Londonberry', 'London']
Candidate group: ['Charleston', 'Charlestown']
Candidate group: ['North Hampton', 'Hampton']
Candidate group: ['Newport in ', 'Newport ']
State: NH
Portsmouth . Candidates: ['Portsmouth', 'Concord', 'Exeter']. Matched: Portsmouth.

Candidate group: ['South Hampton', 'Hampton']
Candidate group: ['Charleston', 'Charlestown']
Candidate group: ['Londonberry', 'London']
Candidate group: ['North Hampton', 'Hampton']
State: NJ
Candidate group: ['Brunswick ', 'New Brunswick ']
Candidate group: ['Cape May ', 'Cape May']
State: NJ
Candidate group: ['Brunswick ', 'New Brunswick ']
Candidate group: ['Cape May ', 'Cape May']
State: NY
State: NY
State: VA
Candidate group: ['Alexandria', 'Alexandria ']
State: VA
Candidate group: ['Alexandria', 'Alexandria ']
State: PA
Chester  Pennsylvaina. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Franklin . Candidates: ['Franklin  ', 'Reading', 'Reading ']. Matched: Franklin  .

Philadephia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

 Berks . Candidates: ['Berks  ', 'Berks ', 'Reading Berks ']. Matched: Berks  .

Chester Co . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Hatter Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

 of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

Montgomery  . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Northumberland  . Candidates: ['Northumberland ', 'Berks  ', 'Berks ']. Matched: Northumberland .

Church on Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

Philadelphila. Candidates: ['Philadelphia', 'Philadelphia ', 'Carlisle ']. Matched: Philadelphia.

Northumberland  Virginia. Candidates: ['Northumberland ', 'Northern Liberties', 'Berks  ']. Matched: Northumberland .

German . Candidates: ['Germantown', 'Northumberland ', 'Northern Liberties']. Matched: Germantown.

Northan Liberties. Candidates: ['Northern Liberties', 'Franklin  ', 'Berks  ']. Matched: Northern Liberties.

 Montgomery . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

The N Lib of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Northern Liberties']. Matched: Philadelphia.

Montgomery. Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Frankford Philadelphia . Candidates: ['Philadelphia', 'Philadelphia ', 'Franklin  ']. Matched: Philadelphia.

Chester. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Chester and . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Northum  . Candidates: ['Northumberland ', 'Northern Liberties', 'York  ']. Matched: Northumberland .

Candidate group: ['Westmoreland ', 'Westmoreland  ', 'Westmoreland']
Candidate group: ['Dauphin ', 'Dauphin  ', 'Dauphin and Company', 'Paxton Tot Dauphin ']
Candidate group: ['Northampton  ', 'Northampton ']
Candidate group: ['Pittsburgh ', 'Pittsburgh']
Candidate group: ['Delaware', 'Delaware ', 'Delaware  ']
Candidate group: ['Allegheny  ', 'Allegheny ']
Candidate group: ['Kensington', 'Kensignton']
Candidate group: ['Cumberland', 'Cumb  ']
State: PA
Chester  Pennsylvaina. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Franklin . Candidates: ['Franklin  ', 'Reading', 'Reading ']. Matched: Franklin  .

 Berks . Candidates: ['Berks  ', 'Berks ', 'Reading Berks ']. Matched: Berks  .

Chester Co . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Montgomery  . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Hatter Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

German . Candidates: ['Germantown', 'Northumberland ', 'Northern Liberties']. Matched: Germantown.

Philadelphila. Candidates: ['Philadelphia', 'Philadelphia ', 'Carlisle ']. Matched: Philadelphia.

Northumberland  Virginia. Candidates: ['Northumberland ', 'Northern Liberties', 'Berks  ']. Matched: Northumberland .

Church on Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Chester  ']. Matched: Philadelphia.

Northumberland  . Candidates: ['Northumberland ', 'Berks  ', 'Berks ']. Matched: Northumberland .

Chester and . Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

Northum  . Candidates: ['Northumberland ', 'Northern Liberties', 'York  ']. Matched: Northumberland .

Chester. Candidates: ['Chester  ', 'Chester ', 'Lancaster']. Matched: Chester  .

 of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Bethlehem']. Matched: Philadelphia.

Northan Liberties. Candidates: ['Northern Liberties', 'Franklin  ', 'Berks  ']. Matched: Northern Liberties.

Montgomery. Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

The N Lib of Philadelphia. Candidates: ['Philadelphia', 'Philadelphia ', 'Northern Liberties']. Matched: Philadelphia.

 Montgomery . Candidates: ['Montgomery ', 'York  ', 'York ']. Matched: Montgomery .

Frankford Philadelphia . Candidates: ['Philadelphia', 'Philadelphia ', 'Franklin  ']. Matched: Philadelphia.

Candidate group: ['Northampton  ', 'Northampton ']
Candidate group: ['Dauphin ', 'Dauphin  ', 'Dauphin and Company', 'Paxton Tot Dauphin ']
Candidate group: ['Westmoreland ', 'Westmoreland  ', 'Westmoreland']
Candidate group: ['Pittsburgh ', 'Pittsburgh']
Candidate group: ['Allegheny  ', 'Allegheny ']
Candidate group: ['Delaware', 'Delaware ', 'Delaware  ']
Candidate group: ['Kensington', 'Kensignton']
Candidate group: ['Cumberland', 'Cumb  ']
State: RI
State: RI
State: SC
Charleston  . Candidates: ['Charleston', 'Charleston ', 'Santee']. Matched: Charleston.

St James Santee. Candidates: ['Santee', 'St Eustatius', 'Charleston']. Matched: Santee.

St Lukes. Candidates: ['St Eustatius', 'Santee', 'Charleston']. Matched: St Eustatius.

St James Parish Santee. Candidates: ['Santee', 'St Eustatius', 'Charleston']. Matched: Santee.

St George's Parish. Candidates: ['St Eustatius', 'Santee', 'Charleston']. Matched: St Eustatius.

Candidate group: ['Camden', 'Camden District']
Candidate group: ["St Bartholomew's", "St Luke's", 'St Helena', "Bartholomew's Parish"]
Candidate group: ["St John's Parish", "St Johnn's Parish", "St Luke's", 'St Helena']
Candidate group: ['St Gustavus', "St Johnn's Parish"]
Candidate group: ["John's Island", "Bartholomew's Parish"]
State: SC
Charleston  . Candidates: ['Charleston', 'Charleston ', 'Georgetown']. Matched: Charleston.

Charlestom. Candidates: ['Charleston', 'Charleston ', 'Camden']. Matched: Charleston.

Camden Planter. Candidates: ['Camden', 'James Island', 'Charleston']. Matched: Camden.

Candidate group: ['Ninety six District', '96 District']
Candidate group: ['St Pauls', "St. Paul's"]
Candidate group: ['Richard ', 'Richard Sennings']
State: DE
 Newcastle . Candidates: ['New Castle ']. Matched: New Castle .

State: DE
 Newcastle . Candidates: ['New Castle ']. Matched: New Castle .

State: MA
Cambridge . Candidates: ['Cambridge', 'Springfield', 'Attleborough']. Matched: Cambridge.

Candidate group: ['Grafton', 'Grafton ']
Candidate group: ['Tyringham MA', 'Tyringham ']
State: MA
Candidate group: ['Cambridge', 'Cambridge ']
Candidate group: ['Tyringham MA', 'Tyringham ']